{% comment %}
  @param section Object
         Required section containing settings

  @param onboarding Bool
         Triggers onboarding helper class and functionality

  @param article Object
{% endcomment %}

{%- capture excerpt_class -%}
  article--excerpt-wrapper
  {% unless article.image or onboarding %}
    article--excerpt-wrapper--centered
  {% endunless %}
{%- endcapture -%}

<article class="{{ excerpt_class | strip_newlines }}">

  {% unless onboarding %}
    {% if article.image %}
      <a
        class="article--excerpt-image" href="{{ article.url }}"
        style="background-image: url('{{ article.image | img_url: '450x' }}');">
        <img
          src="{{ article.image | img_url: '450x' }}"
          alt="{{ article.image.alt | escape }}">
      </a>
    {% endif %}

    <div class="article--excerpt-content">
      {% if section.settings.show_date or section.settings.show_author %}
        <aside class="article--excerpt-meta">
          {% if section.settings.show_date %}
            <span class="article--excerpt-meta-item">
              {{ article.published_at | date: format: 'month_day_year' }}
            </span>
          {% endif %}

          {% if section.settings.show_author %}
            <span class="article--excerpt-meta-item article--excerpt-meta-author">
              {{ article.author }}
            </span>
          {% endif %}
        </aside>
      {% endif %}

      <h2 class="article--excerpt-title">
        <a href="{{ article.url }}">
          {{ article.title }}
        </a>
      </h2>

      {%- if section.settings.show_excerpt -%}
        <div class="article--excerpt-text rte">
          {%- if article.excerpt == blank -%}
            <p>{{ article.content | strip_html | truncatewords: 40 }}</p>
          {%- else -%}
            {{ article.excerpt }}
          {%- endif -%}
        </div>
      {%- endif -%}

      <a class="article--excerpt-readmore" href="{{ article.url }}">
        {{ 'blog.general.read_more' | t }}

        <span class="article--excerpt-readmore--icon">
          {% include 'icon-chevron-down-small' %}
        </span>
      </a>
    </div>
  {% else %}
    {%- capture background_image -%}
      {% assign text = settings.color_text %}
      {% assign background_color = settings.color_background %}
      {% assign svg_fill = text | color_mix: background_color, 35 %}
      {%-
        include 'placeholder_svg_uri'
        placeholder: 'image',
        color_string: svg_fill
       -%}
    {%- endcapture -%}
    <a
      class="article--excerpt-image placeholder--image"
      href="{{ article.url }}"
      style="background-image: url('{{ background_image | strip_newlines }}');">
    </a>

    <div class="article--excerpt-content">
      {% if section.settings.show_date or section.settings.show_author %}
        <aside class="article--excerpt-meta">
          {% if section.settings.show_date %}
            <span class="article--excerpt-meta-item">
              {{ 'now' | date: format: 'month_day_year' }}
            </span>
          {% endif %}

          {% if section.settings.show_author %}
            <span class="article--excerpt-meta-item">
              {{ 'onboarding.article.author_name' | t }}
            </span>
          {% endif %}
        </aside>
      {% endif %}

      <h2 class="article--excerpt-title">
        <a href="#">
          {{ 'onboarding.article.title' | t }}
        </a>
      </h2>

      <a class="article--excerpt-readmore" href="#">
        {{ 'blog.general.read_more' | t }}

        <span class="article--excerpt-readmore--icon">
          {% include 'icon-chevron-down-small' %}
        </span>
      </a>
    </div>
  {% endunless %}

</article>