<!-- /snippets/blog-sidebar.liquid -->
{% comment %}
  Recent blog posts
{% endcomment %}
<div class="block">
  <div class="block-title">
      <span {% if settings.language_enable %}data-translate="blogs.sidebar.recent_articles"{% endif %}>{{ 'blogs.sidebar.recent_articles' | t }}</span>
  </div> 
  <div class="block-content">
    <ul>
      {% for article in blogs[blog.handle].articles limit:6 %}
        <li>
          <a href="{{ article.url }}"> 
            {% if settings.language_enable %}
            <span class="lang1">{{ article.title | split: '|' | first }}</span>
            <span class="lang2">{{ article.title | split: '|' | last }}</span>
            {% else %}
            {{ article.title | split: '|' | first }}
            {% endif %}
          </a> 
        </li>
      {% endfor %}
    </ul>
  </div> 
</div>
{% comment %}
  Blog tags
{% endcomment %}
{% if blog.all_tags.size > 0 %} 
<div class="block">
  <div class="block-title">
      <span {% if settings.language_enable %}data-translate="blogs.sidebar.tags"{% endif %}>{{ 'blogs.sidebar.tags' | t }}</span>
  </div> 
  <div class="block-content">
    <ul class="no-bullets">
      {% for tag in blog.all_tags %}
        {% if current_tags contains tag %}
        <li><i class="fa fa-tag"></i> {{ tag }}</li>
        {% else %}
        <li><i class="fa fa-tag"></i> {{ tag | link_to_tag: tag }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
