<div id="wishlist-box" class="box-popup animate-box">
  <div class="row">
    <div class="box-inner">
      <div class="col-sm-6">
        <div class="item">
          <div class="heading" {% if settings.language_enable %}data-translate="general.modal.add_to_wishlist_message"{% endif %}>{{ 'general.modal.add_to_wishlist_message' | t }}</div>
          <div class="product-info">
            <div class="img">
              <a class="product-link" href="#"><img class="product-img" src="{{'noimage.jpg' | asset_url}}" alt="" width="90" /></a>
            </div>
            <div class="info">
              <div class="product-title"><a class="product-link" href="#"></a></div>
              <div class="product-price"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="action">  
          <div>
            <button type="button" class="btn-button close-box" {% if settings.language_enable %}data-translate="general.modal.continue_shopping"{% endif %}>{{ 'general.modal.continue_shopping' | t }}</button>
            <a class="btn-button" href="{{pages[settings.wishlist_page].url}}" {% if settings.language_enable %}data-translate="general.modal.go_to_wishlist"{% endif %}>{{ 'general.modal.go_to_wishlist' | t }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="cart-box" class="box-popup animate-box">
  <div class="heading" {% if settings.language_enable %}data-translate="general.modal.add_to_cart_message"{% endif %}>{{ 'general.modal.add_to_cart_message' | t }} <button type="button" class="close" data-dismiss="modal">&times;</button></div>
  <div class="row">
    <div class="box-inner">
      <div class="product-column">
        <div class="item">

          <div class="product-info">
            <div class="img">
              <a class="product-link" href="#"><img class="product-img" src="{{'noimage.jpg' | asset_url}}" alt=""/></a>
            </div>
            <div class="info">
              <div class="product-title"><a class="product-link" href="#"></a></div>
              <div class="total_quantity"><div class="product-quantity"></div> x <div class="product-price"></div></div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="cta-column">
         <div class="item">
        <div class="action"> 
          <div class="total_price"><span class="price_top_text">Item Total </span><span class="product-total"></span></div>
         <div class="box-btn">
            <button type="button" class="btn-button close-box" {% if settings.language_enable %}data-translate="general.modal.continue_shopping"{% endif %}>{{ 'general.modal.continue_shopping' | t }}</button>
<!--             <a class="btn-button" href="/cart" {% if settings.language_enable %}data-translate="general.modal.go_to_cart"{% endif %}>{{ 'general.modal.go_to_cart' | t }}</a> -->
           <a href="/cart" class="btn-button cart-btn">{{ 'general.modal.go_to_cart' | t }}</a>
          </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%comment%} show error notice  {%endcomment%}
 <div id="error-notice" class="box-popup animate-box"> 
  <div class="row"> 
    <div class="box-inner">
      <div class="col-sm-6">
        <div class="item">
          <div class="heading"></div>
          <div class="message"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="action">
          <div class="cart">
            <button type="button" class="btn-button close-box" {% if settings.language_enable %}data-translate="general.modal.continue_shopping"{% endif %}>{{ 'general.modal.continue_shopping' | t }}</button>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div> 
