<div class="cart-container cart-drawer-container">
    <div class="cart-wrapper">
        <div class="drawer-header"><p class="drawer-title"><span {% if settings.language_enable %}data-translate="cart.drawer.your_cart"{% endif %}>{{ 'cart.drawer.your_cart' | t }}</span><span class="close-drawer">&times;</span></p></div>
        <div class="cart-inner">
            <div class="cartloading" style="display: none;"><div class="spinner"><div class="circle"></div></div></div>
            <div class="cart-inner-content">
                <div class="cart-content">
                    {%- if cart.items != empty -%}
                        <ul class="clearfix">
                            {% for item in cart.items %}
                                <li class="item-cart">
                                    <a class="product-image" href="{{item.url }}">
                                        <img src="{{ item | img_url: 'master' }}"  alt="{{ item.title | escape }}" />
                                    </a>
                                    <div class="product-details row-fluid show-grid clearfix">
                                        <p class="product-name">
                                            <a href="{{item.url }}">
                                                <span>
                                                    {% if settings.language_enable %}
                                                        <span class="lang1">{{ item.product.title | split: '|' | first }}
                                                            <span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span>
                                                        </span>
                                                        <span class="lang2">{{ item.product.title | split: '|' | last }}</span>
                                                    {% else %}
                                                        {{ item.product.title | split: '|' | first }}
                                                        <span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span>
                                                    {% endif %}
                                                </span>
                                                {% if item.product.variants.size > 1 %}
                                                    <span class="variant_title"> - {{ item.variant.title }}</span>
                                                {% endif %}
                                            </a>
                                        </p>
                                        <div class="items">
                                            <span class="price">{{ item.quantity }} × <span class="amount"><span class="money">{{ item.price | money }}</span></span></span>
                                        </div>
                                        <div class="access">
                                            <a href="javascript:;"  class="btn-remove btn-remove-cart onclick_cart" data-id="{{item.variant_id}}" title="{{ 'cart.header.remove_this_item' | t }}">Remove</a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="subtotal">
                            <span class="label" {% if settings.language_enable %}data-translate="cart.header.total"{% endif %}>{{ 'cart.header.total' | t }}</span>
                            <span class="price"><span class="money"><span class="wh-original-cart-total">{{ cart.total_price | money }}</span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note "></span></div></span></span>
                        </p>
                    {% else %}
                        <p class="no-items-in-cart" {% if settings.language_enable %}data-translate="cart.header.no_item"{% endif %}>{{ 'cart.header.no_item' | t }}</p>
                    {%- endif -%}
                </div>
            </div>
            {% if cart.items != empty %}
                <div class="cart-checkout">
                    <a href="/cart" class="btn-button view-cart"><span>{{ 'general.modal.go_to_cart' | t }}</span></a>
                    <a href="#" class="btn-button close-drawer" {% if settings.language_enable %}data-translate="general.modal.continue_shopping"{% endif %}><span>{{ 'general.modal.continue_shopping' | t }}</span></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
