<div class="block block-nav">
  <div class="block-title"><span {% if settings.language_enable %}data-translate="collections.sidebar.categories"{% endif %}>{{ 'collections.sidebar.categories' | t }}</span></div>
  <div class="block-content">
  	{% include 'menu-category' %}
  </div>
</div>

<div class="block block-layered-nav" >
  <div class="block-title">
    <span {% if settings.language_enable %}data-translate="collections.sidebar.shopby"{% endif %}>{{ 'collections.sidebar.shopby' | t }}</span>
    <span class="mobile-button visible-xs active"></span>
  </div>
  <div class="block-content"> 
  	{% include 'layer-nav' %}
    {% if settings.collection_sidebar_filters == 'tags' %}
    <dl class="narrow-by-list">
      <div class="narrow-item">
        <dt>
          <span {% if settings.language_enable %}data-translate="collections.general.refine_by"{% endif %}>{{'collections.general.refine_by' | t}}</span>
          {% if current_tags.size > 0 %}<a href="javascript:;" class="clearall" {% if settings.language_enable %}data-translate="collections.general.clear_all"{% endif %}>{{ 'collections.general.clear_all' | t }}</a>{% endif %}
        </dt>
        <dd class="layer-filter">
          <ol class="swatch-list fields">
            {% for custom_tag in collection.all_tags %}
            {% if current_tags contains custom_tag %}
            <li>
              <div class="item swatch-checkbox active">
                <input type="checkbox" value="{{ custom_tag | handleize }}" class="checkbox" checked="checked" />
                <span class="name">{{ custom_tag | remove_first: cat_item | remove: '_' }}</span>
              </div>
            </li>
            {% else %}
            <li>
              <div class="item swatch-checkbox">
                <input type="checkbox" value="{{ custom_tag | handleize }}" class="checkbox" />
                <span class="name">{{ custom_tag | remove_first: cat_item | remove: '_' }}</span>
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ol>
        </dd>
      </div>
    </dl>
    {% endif %}
  </div>
</div>
<div class="ad-col-trust1">
  <div class=" ad-col11">
<!--     <a href="https://{{ settings.price_match_link }}" target="_blank"> -->
      <div class="ad-col-trust-image11"> {{ 'LL-truck.png' | asset_url | img_tag }}</div>
      
        <div class="textarea"><p><span>{{ settings.Firsttext11 }}</span></p>
      <p>{{ settings.Secondtext22 }} </p>
        </div>
   
<!--     </a> -->
  </div>
  <div class=" ad-col11">
<!--     <a href="https://{{ settings.customer_support_link }}" target="_blank"> -->
      <div class="ad-col-trust-image11">{{ 'LL-tags.png' | asset_url | img_tag }} </div>
      <div class="textarea">
      <p><span>{{ settings.Firsttext33 }}</span></p>
        <p> {{ settings.Secondtext44 }}</p></div>
<!--     </a> -->
  </div>
  
  <div class=" ad-col11">
<!--     <a href="https://{{ settings.location_link }}" target="_blank"> -->
      <div class="ad-col-trust-image11">{{ 'ico-3.png' | asset_url | img_tag }}</div>
        <div class="textarea">
      <p><span>{{ settings.Firsttext55 }}</span></p>
      <p>{{ settings.Secondtext66 }} <br> </p>
          </div>
  
<!--     </a>  -->
  </div>

</div>  
<script> 

  $(document).ready(function(){
   
    
     $(".narrow-item").each(function() {  
     //$(this).children('.panel').children('.layer-filter').children().addClass("teste");
       
       if( !$.trim( $(this).children('.panel').children('.layer-filter').children().html() ).length ) {
       $(this).children('.accordion').addClass("layer-hide");
       }
     });
      
  });
</script>
<script>
  $(document).ready(function(){
    $('.accordion').on('click', function(){
      $(this).children().toggleClass('active');
     
    });

  });
</script>
