<footer class="footer-wrapper new-des-footer"> 
  <div class="new-track">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="new-track-foot foot-tr1">
            <div class="row">
              <div class="col-md-3 col-sm-3"> {{ 'truck.png' | asset_url | img_tag }} </div>
              <div class="col-md-9 col-sm-9 uppertext">{{settings.first_text1}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="new-track-foot foot-tr2">
            <div class="row">
              <div class="col-md-3 col-sm-3">  {{ 'pig.png' | asset_url | img_tag }}</div>
              <div class="col-md-9 col-sm-9 uppertext"> {{settings.first_text2}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="new-track-foot foot-tr3">
            <div class="row">
              <div class="col-md-3 col-sm-3"> {{ 'box.png' | asset_url | img_tag }} </div>
              <div class="col-md-9 col-sm-9 uppertext"> {{settings.first_text3}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-top">
    <div class="container"> 
      <div class="row show-grid">
        <div class="col-md-12"> <div class="logo-newfoot"> <img src="{{ 'footer_about_logo.png' | asset_url }}" alt="" /> </div> </div>
        {% comment %}
        <div class="about-social col-sm-6">
          <div class="about">            
            {% if settings.footer_about_content !='' %} 
            <div class="about-text"> 
              {% if settings.language_enable %}
              <span class="lang1">{{ settings.footer_about_content | split: '|' | first }}</span>
              <span class="lang2">{{ settings.footer_about_content | split: '|' | last }}</span>
              {% else %}
              {{ settings.footer_about_content | split: '|' | first }}
              {% endif %}
            </div>
            {% endif %}
            {% comment %}
            <div class="locator">
              <div class="row">
                <div class="col-sm-6 col-xs-6">
                  {{ 'addressimage.png' | asset_url | img_tag }} 
                  <span>
                    {{ settings.first_text7 }}
                    <a class="se-map" href="#">{{ settings.text-link8 }} </a>
                  </span>
                </div>
                <!--<div class="col-sm-6 list-footer new-mo1 col-xs-6">
                  {{ 'addressimage1.png' | asset_url | img_tag }}
                  <span> 
                    {{ settings.first_text8 }}
                    <a class="se-map" href="#"> {{ settings.text-link9 }} </a>
                  </span>
                </div>-->
              </div>
            </div>
            {% endcomment %}
          </div>
        </div>
        {% endcomment%}
        
        <div class="list-footer ">
        <div class="newslettter mobile-only hidden-sm hidden-md hidden-lg">
            <div class="block block-subscribe">
              {% if settings.newsletter_form_title1 !='' %}
              <div class="block-title">
                <span> 
                  <h3> <img src="{{ 'mail.png' | asset_url}}"> {% if settings.language_enable %} </h3>
                  <span class="lang1">{{ settings.newsletter_form_title1 | split: '|' | first }}</span>
                  <span class="lang2">{{ settings.newsletter_form_title1 | split: '|' | last }}</span>
                  {% else %}
                  {{ settings.newsletter_form_title1 | split: '|' | first }}
                  {% endif %}
                </span>
              </div>
              {% endif %}
              {% if settings.newsletter_form_action != blank %}
              {% assign form_action = settings.newsletter_form_action %}
              {% else %}
              {% assign form_action = '#' %}
              {% endif %}
              <form id="subscribe_footer" action="{{ form_action }}" method="post" name="mc-embedded-subscribe-form" class="input-group">
                <div class="item">
                  <div class="input-box">
                    <input id="fc-email" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Enter your email address" name="EMAIL" required="required" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
                  </div>
                  <div class="actions">
                    <input type="submit" class="btn-button uppercase effect" name="subscribe" {% if settings.language_enable %}data-translate="general.newsletter_form.submit"{% endif %} value="{{ 'general.newsletter_form.submit' | t }}">
                  </div>
                </div> 
                <label id="fc-response" for="fc-email"></label>
              </form> 
            </div>
        </div>
        </div>
        
        
        <div class="about-social col-sm-3">
          <h3 class="title">{{settings.footer_main_heading_1}}</h3>
          <ul class="footer-menu">
            {% for link in linklists.about-us.links %}
            <li>{{ link.title | link_to: link.url }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-sm-3 customer-services">
          <h3 class="title">{{settings.footer_main_heading_2}}</h3>
          <ul class="footer-menu">
            {% for link in linklists.customer-service.links %}
            <li>{{ link.title | link_to: link.url }}</li>
            {% endfor %}
          </ul>
        </div>
       
        <div class="list-footer col-sm-6">
          {% comment %}
          <div class="col-sm-4 info-footer">
            <ul>
              {% for link in linklists.footer-help.links %}
              <li>{{ link.title | link_to: link.url }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endcomment %}

          {% comment %}
          {% if settings.footer_linklist1_show1 %}
          <div class="col-sm-4 info-footer">
            <div class="widget-wrapper animated">
              {% if settings.footer_linklist1_heading1 != blank %}
              <div class="footer-block-title">
                <h3> 
                  {% if settings.language_enable %}
                  <span class="lang1">{{ settings.footer_linklist1_heading1 | split: '|' | first }}</span>
                  <span class="lang2">{{ settings.footer_linklist1_heading1 | split: '|' | last }}</span>
                  {% else %}
                  {{ settings.footer_linklist1_heading1 | split: '|' | first }}
                  {% endif %}
                  <span class="mobile-button visible-xs active">accordion-footer</span>
                </h3> 
              </div> 
              {% endif %}
              <div class="custom-footer-content">
                {% assign list = linklists[settings.footer_linklist1_show11] %}
                <ul class="footer-list hover_content">
                  {% for link in list.links %}
                  <li>
                    <a href="{{ link.url }}"> 
                      {% if settings.language_enable %}
                      <span class="lang1">{{ link.title | split: '|' | first }}</span>
                      <span class="lang2">{{ link.title | split: '|' | last }}</span>
                      {% else %}
                      {{ link.title | split: '|' | first }}
                      {% endif %}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="widget-wrapper animated">
              {% if settings.footer_linklist1_heading2 != blank %}
              <div class="footer-block-title">
                <h3> 
                  {% if settings.language_enable %}
                  <span class="lang1">{{ settings.footer_linklist1_heading2 | split: '|' | first }}</span>
                  <span class="lang2">{{ settings.footer_linklist1_heading2 | split: '|' | last }}</span>
                  {% else %}
                  {{ settings.footer_linklist1_heading2 | split: '|' | first }}
                  {% endif %}
                  <span class="mobile-button visible-xs active">accordion-footer</span>
                </h3> 
              </div> 
              {% endif %}
              <div class="custom-footer-content">
                {% assign list = linklists[settings.footer_linklist1_show22] %}
                <ul class="footer-list">
                  {% for link in list.links %}
                  <li>
                    <a href="{{ link.url }}"> 
                      {% if settings.language_enable %}
                      <span class="lang1">{{ link.title | split: '|' | first }}</span>
                      <span class="lang2">{{ link.title | split: '|' | last }}</span>
                      {% else %}
                      {{ link.title | split: '|' | first }}
                      {% endif %}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          {% endcomment %}

          {% if settings.footer_linklist3_show %}
          <div class="col-sm-4 info-footer">
            <div class="widget-wrapper animated">
              {% if settings.footer_linklist3_heading != blank %}
              <div class="footer-block-title">
                <h3> 
                  {% if settings.language_enable %}
                  <span class="lang1">{{ settings.footer_linklist3_heading | split: '|' | first }}</span>
                  <span class="lang2">{{ settings.footer_linklist3_heading | split: '|' | last }}</span>
                  {% else %}
                  {{ settings.footer_linklist3_heading | split: '|' | first }}
                  {% endif %}
                  <span class="mobile-button visible-xs active">accordion-footer</span>
                </h3> 
              </div> 
              {% endif %}
              <div class="custom-footer-content">
                {% assign list = linklists[settings.footer_linklist3] %}
                <ul class="footer-list">
                  {% for link in list.links %}
                  <li>
                    <a href="{{ link.url }}">
                      {% if settings.language_enable %}
                      <span class="lang1">{{ link.title | split: '|' | first }}</span>
                      <span class="lang2">{{ link.title | split: '|' | last }}</span>
                      {% else %}
                      {{ link.title | split: '|' | first }}
                      {% endif %}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% if settings.footer_linklist1_show2 %}
            <div class="widget-wrapper animated">
              {% if settings.footer_linklist1_heading2 != blank %}
              <div class="footer-block-title">
                <h3> 
                  {% if settings.language_enable %}
                  <span class="lang1">{{ settings.footer_linklist1_heading2 | split: '|' | first }}</span>
                  <span class="lang2">{{ settings.footer_linklist1_heading2 | split: '|' | last }}</span>
                  {% else %}
                  {{ settings.footer_linklist1_heading2 | split: '|' | first }}
                  {% endif %}
                  <span class="mobile-button visible-xs active">accordion-footer</span>
                </h3> 
              </div> 
              {% endif %}
              <div class="custom-footer-content">
                {% assign list = linklists[settings.footer_linklist1_show22] %}
                <ul class="footer-list">
                  {% for link in list.links %}
                  <li>
                    <a href="{{ link.url }}">
                      {% if settings.language_enable %}
                      <span class="lang1">{{ link.title | split: '|' | first }}</span>
                      <span class="lang2">{{ link.title | split: '|' | last }}</span>
                      {% else %}
                      {{ link.title | split: '|' | first }}
                      {% endif %}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
          </div>
          {% endif %} 
          <div class="newslettter">
            <div class="block block-subscribe hidden-xs">
              {% if settings.newsletter_form_title1 !='' %}
              <div class="block-title">
                <span> 
                  <h3> <img src="{{ 'mail.png' | asset_url}}"> {% if settings.language_enable %} </h3>
                  <span class="lang1">{{ settings.newsletter_form_title1 | split: '|' | first }}</span>
                  <span class="lang2">{{ settings.newsletter_form_title1 | split: '|' | last }}</span>
                  {% else %}
                  {{ settings.newsletter_form_title1 | split: '|' | first }}
                  {% endif %}
                </span>
              </div>
              {% endif %}
              {% if settings.newsletter_form_action != blank %}
              {% assign form_action = settings.newsletter_form_action %}
              {% else %}
              {% assign form_action = '#' %}
              {% endif %}
              <form id="subscribe_footer" action="{{ form_action }}" method="post" name="mc-embedded-subscribe-form" class="input-group">
                <div class="item">
                  <div class="input-box">
                    <input id="fc-email" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Enter your email address" name="EMAIL" required="required" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
                  </div>
                  <div class="actions">
                    <input type="submit" class="btn-button uppercase effect" name="subscribe" {% if settings.language_enable %}data-translate="general.newsletter_form.submit"{% endif %} value="{{ 'general.newsletter_form.submit' | t }}">
                  </div>
                </div> 
                <label id="fc-response" for="fc-email"></label>
              </form> 
            </div>
            <div class="social">
              
              <p class="got-contact hidden-sm hidden-md hidden-lg"> {{ settings.contact_us }} <a href="{{ settings.contact_us11 }}"> {{ settings.contact_us1 }} </a> </p>  
              {% if settings.social_facebook_link !='' or settings.social_twitter_link !='' or settings.social_bee_link !='' or settings.social_googleplus_link !='' or settings.social_instagram_link !='' %}
              <ul class="social-icons small light">
                {% if settings.social_facebook_link !='' %}
                <li class="facebook">
                  <a class="fa fa-facebook" href="{{settings.social_facebook_link}}" target="_blank"><span>Facebook</span></a>
                </li>
                {% endif %}
                {% if settings.social_twitter_link !='' %}
                <li class="twitter">
                  <a class="fa fa-twitter" href="{{settings.social_twitter_link}}" target="_blank"><span>Twitter</span></a>
                </li>
                {% endif %}
                {% if settings.social_bee_link !='' %}
                <li class="behance">
                  <a class="fa fa-behance" href="{{settings.social_bee_link}}" target="_blank"><span>Behance</span></a>
                </li>
                {% endif %}
                {% if settings.social_googleplus_link !='' %}
                <li class="gplus">
                  <a class="fa fa-google-plus" href="{{settings.social_googleplus_link}}" target="_blank"><span>Google plus</span></a>
                </li>
                {% endif %}
                {% if settings.social_instagram_link !='' %}
                <li class="instagram">
                  <a class="fa fa-instagram" href="{{settings.social_instagram_link}}" target="_blank"><span>Instagram</span></a>
                </li>
                {% endif %} 
                {% if settings.social_youtube_link !='' %}
                <li class="youtube">
                  <a class="fa fa-youtube" href="{{settings.social_youtube_link}}" target="_blank"><span>Youtube</span></a>
                </li>
                {% endif %}
                {% if settings.social_pinterest_link !='' %}
                <li class="pinterest">
                  <a class="fa fa-pinterest" href="{{settings.social_pinterest_link}}" target="_blank"><span>Pinterest</span></a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
              
              {% if settings.social_link_heading !='' %}
              <div class="title-footer"> 
                {% if settings.language_enable %}
                <span class="lang1">{{ settings.social_link_heading | split: '|' | first }}</span>
                <span class="lang2">{{ settings.social_link_heading | split: '|' | last }}</span>
                {% else %}
                {{ settings.social_link_heading | split: '|' | first }}
                {% endif %}
              </div>
              {% endif %}
              
              <p class="got-contact hidden-xs"> {{ settings.contact_us }} <a href="{{ settings.contact_us11 }}"> {{ settings.contact_us1 }} </a> </p>       
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-6 foot-address">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="secure"> <img src="{{ 'lock.png' | asset_url }}"> SECURE ONLINE SHOPPING  </div>
            </div>
            <div class="col-md-8 col-sm-6">
              <div class="pay-ment col-md-6">
                <p> PAYMENTS ACCEPTED: </p>
                <img src="https://cdn.shopify.com/s/files/1/2129/3845/files/pay-ment-zip.png?11455012663856903924">
              </div>
			  <a class="customer-review col-md-6" target="_blank" href="https://www.productreview.com.au/p/the-lighting-outlet.html">
				<img width="160px" src="//d2uod8gew2p4yv.cloudfront.net/badge/333773/light-ld.png" alt="The Lighting Outlet reviews">
			  </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4 foot-site ">
          <address> 
            {% if settings.language_enable %}
            <span class="lang1">{{ settings.footer_copyright_content | split: '|' | first }}</span>
            <span class="lang2">{{ settings.footer_copyright_content | split: '|' | last }}</span>
            {% else %}
            {{ settings.footer_copyright_content | split: '|' | first }}
            {% endif %}
          </address>
          
          <!--<div class="siteby">Site By {{ 'elephant.png' | asset_url | img_tag }}<a href="http://www.elephantroom.com.au" target="_blank"> 
            Elephant Room</a>
          </div>-->
          
          <div id="back-top" class="hidden-phone">
            <a href="#top">
              <div class="sticker-wrapper">
                <div class="sticker">
                  <i class="fa fa-angle-up"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
     $(window).scroll(function() {
  		if ($(this).scrollTop() > 40){  
   			 $('.head-text').addClass("left-m"); 
           }
  else{
   			 $('.head-text').removeClass("left-m");
     }
});
  
</script>


<script type="text/javascript">
  jQuery(document).ready(function() {  
    var $_form = jQuery('#subscribe_footer');
    var $_action = $_form.attr('action');
    $_form.ajaxChimp({
      url: $_action,
      callback: function(resp){  
        $('#fc-response').show();
      }
    });
  });
</script>


<script type="text/javascript">
  jQuery(document).ready(function() {  
    if ( jQuery(window).width() < 768 ) {
      jQuery('.footer-menu').hide();
      jQuery('.footer-wrapper .footer-top .about-social h3,.footer-wrapper .footer-top .customer-services h3').click(function(){
		jQuery(this).toggleClass('opened');
        jQuery(this).parent().find('.footer-menu').slideToggle();
      });
    }
    jQuery(window).on('resize',function(){
    	if ( jQuery(window).width() < 768 ) {
      		jQuery('.footer-menu').hide();
      		jQuery('.footer-wrapper .footer-top .about-social h3').removeClass('opened');
      		jQuery('.footer-wrapper .footer-top .customer-services h3').removeClass('opened');
        } else {
      		jQuery('.footer-menu').show();
        }
    });
  });
</script>