{% assign featuredBlogs = 'news,how-to' | split:',' %}
{% for featuredBlog in featuredBlogs %}
	{% paginate blogs[featuredBlog].articles by 999 %}
    {% if blogs[featuredBlog].articles %}
        {% if featuredArticles %}
            {% assign featuredArticles = featuredArticles | concat:blogs[featuredBlog].articles %}
        {% else %}
            {% assign featuredArticles = blogs[featuredBlog].articles %}
        {% endif %}
    {% endif %}
	{% endpaginate %}
{% endfor %}

<div class="from-the-blog">
	<h3 class="from-the-blog-title">From The Blog</h3>

{% assign blog_tag_list = ',' %}
{% for product_tag in product.tags %}
	{% if product_tag contains 'FromTheBlog-' %}
		{% assign blog_tag = product_tag | split: 'FromTheBlog-' | last %}
		{% assign blog_tag_list = blog_tag_list | append: ',' | append: blog_tag | append: ',' %}
	{% endif %}
{% endfor %}
	
	{% for article in featuredArticles %}
		{% for tag in article.tags %}
			{% assign tag = tag | prepend: ',' | append: ',' %}
			{% if blog_tag_list contains tag %}
				
				  <div class="postWrapper col-md-12">
					<div class="postTitle col-md-4">
					  <h3>
						<a href="{{ article.url }}"> 
						  {% if settings.language_enable %}
						  <span class="lang1">{{ article.title | split: '|' | first }}</span>
						  <span class="lang2">{{ article.title | split: '|' | last }}</span>
						  {% else %}
						  {{ article.title | split: '|' | first }}
						  {% endif %}
						</a>
					  </h3> 

						   <div class="meta">
							   {% if article.url contains 'news' %}
								{% assign cat = 'News' %}
							   {% else if article.url contains 'how-to' %}
								{% assign cat = 'How To' %}
							   {% else %}
							   {% assign cat = 'Null' %}

							   {% endif %}
							   <a href="/blogs/{{ cat | handleize }}"><span>#{{ cat }}</span></a>
						   </div>
						   
					  <div class="postDetails">
					  {% comment %}
						<a href="{{ article.url }}#Comments" {% if settings.language_enable %}data-translate="blogs.comments.comments_with_count|count:{{article.comments_count}}"{%endif%}>
						  {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
						</a> | 
					  {% endcomment %}
						{% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
						{% capture date %}
						<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
						  {{ article.published_at | date: format: 'month_day_year' }}
						</time>
						{% endcapture %} 
						<span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.author_on_date_html|date:{{date}},author:{{author}}" translate-item="blog-date-author"{%endif%}>
						  {{ 'blogs.article.author_on_date_html' | t: date: date, author: author }}        
						</span>
					  </div>
					</div> 
					<div class="postContent col-md-4">
					  {% if article.excerpt contains '<img' %}
					  <div class="excerpt img-responsive">
						<a href="{{ article.url }}">
						  {{ article.excerpt | truncatewords: 60 }}
						</a>
					  </div>
					  {% elsif article.excerpt contains '<iframe' %}
					  <div class="excerpt video-responsive">
						{{ article.excerpt | truncatewords: 60 }}
					  </div> 
					  {% endif %} 
					  {% if settings.language_enable %}
					  <span class="lang1">{{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 60 }}</span>
					  <span class="lang2">{{ article.content | strip_html | split: '[lang2]' | last | truncatewords: 60 }}</span>
					  {% else %}
					  {{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 60 }}
					  {% endif %} 
					</div> 
					<div class="article__grid-image col-md-4">
					  {{ article | img_url: 'master' | img_tag: article.title }}
					</div>
					<!--
					<a class="btn-button" href="{{ article.url }}" {% if settings.language_enable %}data-translate="blogs.article.read_more"{% endif %}>{{ 'blogs.article.read_more' | t }} &rarr;</a> 
					-->
				  </div>
				  
				  {% continue %}
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>