<div class="cart-container">
  <a href="javascript:;" class="icon-cart-header skip-link" onclick="mobileSkipLink(this);" data-target-element="#navbar-cart">
    <span class="icon_bag_alt"></span> 
    <span class="cart-count" data-item="{{ cart.item_count }}">{{ cart.item_count }}</span>   
  </a> 
  <div id="navbar-cart" class="cart-wrapper skip-content"> 
    <div class="cart-inner">
      <div class="cartloading" style="display: none;"><div class="spinner"><div class="circle"></div></div></div>
      <div class="cart-inner-content">
        <div class="cart-content">
          {% if cart.items != empty %}
          <ul class="clearfix">
            {% for item in cart.items %}
            <li class="item-cart">
              <a class="product-image" href="{{item.url }}">
                <img src="{{ item | img_url: 'master' }}"  alt="{{ item.title | escape }}" />
              </a>
              <div class="product-details row-fluid show-grid">
                <p class="product-name">
                  <a href="{{item.url }}">
                    <span> 
                      {% if settings.language_enable %}
                      <span class="lang1">{{ item.product.title | split: '|' | first }}
<span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span></span>
                      <span class="lang2">{{ item.product.title | split: '|' | last }}</span>
                      {% else %}
                      {{ item.product.title | split: '|' | first }}
<span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span>
                      {% endif %} 
                    </span>
                    {% if item.product.variants.size > 1 %}
                    <span class="variant_title"> - {{ item.variant.title }}</span>
                    {% endif %}
                  </a>
                </p>
                <div class="items">
                  <span class="price">{{ item.quantity }} × <span class="amount"><span class="money">{{ item.price | money }}</span></span></span>
                </div> 
                <div class="access">
                  <a href="javascript:;" class="btn-remove btn-remove-cart" data-id="{{item.variant_id}}" title="{{ 'cart.header.remove_this_item' | t }}"><i class="fa fa-trash"></i></a>
                </div>
              </div> 
            </li>
            {% endfor %}
          </ul>
          <p class="subtotal">
            <span class="label" {% if settings.language_enable %}data-translate="cart.header.total"{% endif %}>{{ 'cart.header.total' | t }}</span>
            <span class="price"><span class="money"><span class="wh-original-cart-total"><span class="wh-original-price">{{ cart.total_price | money }}</span></span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note "></span></div></span></span>
          </p>
          {% else %}
          <p class="no-items-in-cart" {% if settings.language_enable %}data-translate="cart.header.no_item"{% endif %}>{{ 'cart.header.no_item' | t }}</p>
          {% endif %}
        </div> 
        {% if cart.items != empty %}
        <div class="cart-checkout">
          <a href="/cart" class="btn-button view-cart">
            <span {% if settings.language_enable %}data-translate="cart.header.view_cart"{% endif %}>{{ 'cart.header.view_cart' | t }}</span>
          </a>
          <a href="/checkout" class="btn-button checkout-cart">
            <span {% if settings.language_enable %}data-translate="cart.header.checkout"{% endif %}>{{ 'cart.header.checkout' | t }}</span>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
