<header class="header-wrapper">
  <div class="header-container"> 
    <div id="main-header-mobile" class="main-header mobile-header visible-tablet" >
      
      <div class=" topmost_header">        
        <div class="container-fluid ad-top-bar">
          <div class="container">
              <div class="head-text-mobile">
                Customer Support: <a href="tel: {{ settings.contact_num}}">{{ settings.contact_num}}</a>
                <a class="login-link" href="/account/login" {% if settings.language_enable %}data-translate="customer.login.sign_in"{% endif %}>{{ 'customer.login.sign_in' | t }}</a>
              </div>
        </div>
        </div>
      </div>
      <div class="row">
      <div class="container">
          <div class="item header-menu">
            {% include 'mobile-menu' %} 
          </div>
		  
      {% if template == 'index' %}
      {% if settings.logo_home_use_image %}
      <a href="/" class="logo">
       <div class="logo_img"> <img class="x1" src="{{ 'logo-home.png' | asset_url }}" alt="{{ shop.name }}" />
         <img class="logo-sticky" src="{{ 'logo-sticky.png' | asset_url }}" alt="{{ shop.name }}" /></div>
      </a>
      {% endif %}
      {% else %}
      {% if settings.logo_use_image %}
     <a href="/" class="logo">
      <div class="logo_img">    <img class="x1" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" />
        <img class="logo-sticky" src="{{ 'logo-sticky.png' | asset_url }}" alt="{{ shop.name }}" />
       </div>
        <div class="logo_text">
          
        </div>
      </a>
      {% endif %}
      {% endif %} 
      <div class="right-header-menu"> 
        <div class="right-wrapp">
          {% if template != 'index' %}
          <div class="item header-search">
            <div class="search-container">
              <div class="overwrite-setting skip-link" onclick="mobileSkipLink(this);" data-target-element="#navbar-search">
                <i class="fa fa-search"></i>
              </div>
              <div id="navbar-search" class="switcher-content skip-content">
                {% include 'search-bar' %}
              </div>
            </div>
          </div>
          {% endif %} 
          <div class="item header-mobile-search js-open-modal" data-modal-id="popup1">
            {{ 'search-new.png' | asset_url | img_tag }}
          </div>
          <div class="item header-maincart">
            {% include 'header-cart' %}
          </div>  
		  {% comment %}
			<!--           
			<div class="item header-setting">
            {% include 'header-setting-mobile' %} 
			</div>   
			-->
		  {% endcomment %}
        </div>
      </div> 
        </div>
      </div>
    </div>
    <div id="main-header" class="main-header hidden-tablet" {% comment %}data-sticky="{% if settings.sticky_header_enable != blank %}true{% else %}false{% endif %}"{% endcomment %}> 
      <div class="topmost_header">
       <div class="container-fluid ad-top-bar">
      
        <div class="container inner">
          
          <div class="row">
        
          <div class="">
        	<ul class="ad-top-nav">
         {% for link in linklists.top-nav.links %}
           <li>{{ link.title | link_to: link.url }}</li>
           {% endfor %}
       </ul>
			<div class="logo_text">
                {% if settings.tagline_1_link != blank %}<a href="{{ settings.tagline_1_link }}"> {{ settings.tagline_1 }} </a>- {% else %} <img height="33" src="{{ 'box-grey.png' | asset_url }}" /><span  data-toggle="tooltip" data-placement="bottom" title="{{ settings.tooltip_1 }}"class="tagline-text"> {{ settings.tagline_1 }} -</span> {% endif %}
                {% if settings.tagline_2_link != blank %}<a href="{{ settings.tagline_2_link }}"> {{ settings.tagline_2 }}</a> - {% else %} <img height="33" src="{{ 'pig-grey.png' | asset_url }}" /><span  data-toggle="tooltip" data-placement="bottom" title="{{ settings.tooltip_2 }}"class="tagline-text" style="color:#d73333;">{{ settings.tagline_2}} -</span> {% endif %}
                {% if settings.tagline_3_link != blank %} <a class="" href="{{ settings.tagline_3_link }}">{{ settings.tagline_3 }} </a> {% else %} <img height="33" src="{{ 'truck-grey.png' | asset_url }}" /><span data-toggle="tooltip" data-placement="bottom" title="{{ settings.tooltip_3 }}" class="tagline-text ">{{ settings.tagline_3 }}</span>{% endif %}
              </div>
            <div class="head-text">
              <a href="/pages/contact-us">Contact Us</a> <a href="tel: {{ settings.contact_num}}">{{ settings.contact_num}}</a>
              <a class="login-link" href="/account/login" {% if settings.language_enable %}data-translate="customer.login.sign_in"{% endif %}>{{ 'customer.login.sign_in' | t }}</a>
            </div>
         </div>
        </div>
       </div>
      </div> 
      </div>
      
	 <div class="container-fluid header-cnt">
        <div class="container inner">
          <div class="row ">     
      {% if template == 'index' %}
      {% if settings.logo_home_use_image %}
           
            <div class="logo_img">  <a href="/" class="logo">
              <img class="x1" src="{{ 'logo-home.png' | asset_url }}" alt="{{ shop.name }}" />
              <img class="logo-sticky" src="{{ 'logo-sticky.png' | asset_url }}" alt="{{ shop.name }}" />
              </a>
            {% comment %}
              <div class="logo_text">
                {% if settings.tagline_1_link != blank %}<a href="{{ settings.tagline_1_link }}"> {{ settings.tagline_1 }} </a>- {% else %} <span  data-toggle="tooltip" data-placement="bottom" title="{{ settings.tooltip_1 }}"class="tagline-text"> {{ settings.tagline_1 }} -</span> {% endif %}
                {% if settings.tagline_2_link != blank %}<a href="{{ settings.tagline_2_link }}"> {{ settings.tagline_2 }}</a> - {% else %} <span  data-toggle="tooltip" data-placement="bottom" title="{{ settings.tooltip_2 }}"class="tagline-text" style="color:#d73333;">{{ settings.tagline_2}} -</span> {% endif %}
                {% if settings.tagline_3_link != blank %} <a class="" href="{{ settings.tagline_3_link }}">{{ settings.tagline_3 }} </a> {% else %} <span data-toggle="tooltip" data-placement="bottom" title="{{ settings.tooltip_3 }}" class="tagline-text ">{{ settings.tagline_3 }}</span>{% endif %}
              </div>
            {% endcomment %}
            </div>
             
      {% endif %}
      {% else %}
      {% if settings.logo_use_image %}
           
            <div class="logo_img">  <a href="/" class="logo">
              <img class="x1" src="{{ 'logo-home.png' | asset_url }}" alt="{{ shop.name }}" />
              <img class="logo-sticky" src="{{ 'logo-sticky.png' | asset_url }}" alt="{{ shop.name }}" />
              </a>
            {% comment %}
              <div class="logo_text">
                {% if settings.tagline_1_link != blank %}<a href="{{ settings.tagline_1_link }}"> {{ settings.tagline_1 }} </a>- {% else %} <span data-toggle="tooltip" data-placement="bottom" title="{{ settings.tooltip_1 }}" class="tagline-text"> {{ settings.tagline_1 }} -</span> {% endif %}
                {% if settings.tagline_2_link != blank %}<a href="{{ settings.tagline_2_link }}"> {{ settings.tagline_2 }}</a> - {% else %} <span data-toggle="tooltip" data-placement="bottom" title="{{ settings.tooltip_2 }}" class="tagline-text" style="color:#d73333;">{{ settings.tagline_2}} -</span> {% endif %}
                {% if settings.tagline_3_link != blank %} <a class="" href="{{ settings.tagline_3_link }}">{{ settings.tagline_3 }} </a> {% else %} <span class="tagline-text" data-toggle="tooltip" data-placement="bottom" title="{{ settings.tooltip_3 }}">{{ settings.tagline_3 }}</span>{% endif %}
              </div>
            {% endcomment %}
            </div>
      {% endif %}
      {% endif %} 
            <div id="SearchForm" class="cf home-search">
               <form action="/search" method="get" class="home-search-form" role="search">
                <input type="hidden" name="type" value="product">
                <input class="search Textbox autobox default" {% if settings.language_enable %}data-translate="general.search.placeholder"{% endif %} placeholder="{{ 'general.search.placeholder' | t }}" name="q" type="text" id="search-field"  /> 
                
                <button type="submit" class="Button">
                 {{ 'general.search.submit' | t }}
                  <!--     <span><span><i class="fa fa-search"></i></span></span>  -->
                </button>

              </form>
            </div>
           </div>
          
      
      <div class="right-header-menu">
        {% if template != 'index' %}
        <div class="item header-search">
          <div class="search-container">
            <div class="overwrite-setting">
              <i class="fa fa-search"></i>
            </div>
            <div class="switcher-content">
              {% include 'search-bar' %}
            </div>
          </div>
        </div>
        {% endif %} 
        <div class="item header-maincart">
          {% include 'header-cart' %} 
        </div>
<!--         <div class="item header-setting">
          {% include 'header-setting' %} 
        </div> -->
      </div>
    </div>
   </div>
      <div class="container-fluid inner ad-brd-mnu">
      <div class="wrapper-top-menu container inner">
        <div class="row">
          <div class="header-maincart float-none col-sm-12 inner">
            <div class="nav-logo" >
              <a href="{{ shop.url }}" class="logo-nav"><img  src="{{ 'logo-sticky.png' | asset_url }}" alt="{{ shop.name }}" /> </a>
            </div>
            <!-- Main Menu -->
            {% include 'main-menu' %} 
            <!-- End Main Menu -->
             <div class="cart-sticky item header-maincart" style="display:none;">
               {% include 'header-cart' %} 
            </div> 
          </div>
        </div>
      </div>
      </div>
  </div>
   
    <div class="top-container container">
    {% if template == 'index' %}
    {% include 'ico_slide' %} 
    {% endif %}
    </div>
     {% if template == 'index' %}
    <div class="home-brand container">
     {% include 'home-brand-slide' %} 
    </div>
     {% endif %}

    {% comment %} 
    {% if template == 'index' %}
        <div class="brand-section" style="display:none;">
          {% section 'brands'%}
        </div>
     {% endif %}
    {% endcomment %}

    {% comment %} 
    {% if template == 'index' %}
    <div class="header-search-home">
      <div class="container">
        <div class="row">
          {% include 'home-search' %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endcomment %}
    

  </div>





 <div id="popup1" class="modal-box">
  <a href="javascript:void(0)" class="js-modal-close close"><button type="button" id="cboxClose">close</button></a>
  <div class="modal-body">
   

  <div id="" class="block block-subscribe">
    <div class="block-title">
      <span>
        {% if settings.language_enable %}
      <span class="lang1">{{ settings.search_pop_title | split: '|' | first  }}</span>
      <span class="lang2">{{ settings.search_pop_title | split: '|' | last }}</span>
      {% else %}
        {{ settings.search_pop_title | split: '|' | first }}
      {% endif %}
      
      </span>
    </div>
    <div class="content"> 
      {% if settings.language_enable %}
      <span class="lang1">{{ settings.search_pop_content | split: '|' | first  }}</span>
      <span class="lang2">{{ settings.search_pop_content | split: '|' | last }}</span>
      {% else %}
      {{ settings.search_pop_content | split: '|' | first }}
     
      {% endif %}
    </div>
    {% if settings.newsletter_form_action != blank %}
    {% assign form_action = settings.newsletter_form_action %}
    {% else %}
    {% assign form_action = '#' %}
    {% endif %}
  
    
<!--     <form action="/search" method="get" class="input-group search-bar">
     <div class="block-content">
      <div class="input-group form-search"> 
        {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
        <input type="search" name="q" value="{{ search.terms | escape }}" {% if settings.language_enable %}data-translate="general.search.placeholder"{% endif %} placeholder="{{ 'general.search.placeholder-popup' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholder-popup' | t }}">
        <button type="submit" class="btn-button"> 
          <span><span>Search</span></span> 
        </button>
      </div>
      </div>
    </form> -->
    <form action="/search" method="get" class="input-group search-bar" role="search">
      <div class="block-content">
        <div class="input-group form-search"> 
          <input type="hidden" name="type" value="product">
          <input class="search Textbox autobox default" {% if settings.language_enable %}data-translate="general.search.placeholder"{% endif %} placeholder="{{ 'general.search.placeholder' | t }}" name="q" type="text" id="search-field"  /> 

          <button type="submit" class="Button"> 
            <!--     <span><span><i class="fa fa-search"></i></span></span>  -->
          </button>
        </div>
      </div>
    </form>

    
  </div>  

    
  </div>
</div>
  

  <script>
    $(function(){
      var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");
      $('.item.header-mobile-search.js-open-modal').click(function(e) {
        e.preventDefault();
        //$("body").append(appendthis);
        $(".modal-overlay").fadeTo(500, 1);
        //$(".js-modalbox").fadeIn(500);
        var modalBox = $(this).attr('data-modal-id');
        $('#'+modalBox).fadeIn($(this).data());
      });   
      $(".js-modal-close").click(function() {
        $(".modal-box").fadeOut(500, function() {
          //$(".modal-overlay").remove();
        }); 
      }); 
    });

  </script>

  </header> 


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>