<div class="item header-mobile-search js-open-modal" data-modal-id="popup1" style="display:none;">
            {{ 'search-gray.png' | asset_url | img_tag }}
          </div>
<div class="cart-container">
 
  <a href="#" class="icon-cart-header">
    <span class="icon_bag_alt"></span> 
    <div class="ad-cart-count">
    	<span class="cart-count a" data-item="{{ cart.item_count }}">{{ cart.item_count }}</span>
    </div>
  </a>
</div>
