<div id="LayoutColumn1" class="content Widest">
<div class="brandssec">
<div  id="owl-demo" class="owl-carousel">

  
  {% if settings.home_brand_collection1 != blank %}
  <div class="item"> 
      {% for collection in collections %}
      {% if collection.image and collection.handle == settings.home_brand_collection1   %}
      <a href="/collections/{{collection.handle }}">  <img src="{{ collection | img_url: 'original' }}" alt="{{ collection.image.alt }}" /></a>
      {% endif %}
      {% endfor%}
  </div>
  {% endif %}


  {% if  settings.home_brand_collection2 != blank %}
  <div class="item"> 
      {% for collection in collections %}
      {% if collection.image and collection.handle == settings.home_brand_collection2   %}
      <a href="/collections/{{collection.handle }}"> 
        <img src="{{ collection | img_url: 'original' }}" alt="{{ collection.image.alt }}" />
      </a>
      {% endif %}
      {% endfor %}</div>
  {% endif %}


  {% if  settings.home_brand_collection3 != blank %}
  <div class="item"> 
      {% for collection in collections %}
      {% if collection.image and collection.handle == settings.home_brand_collection3  %}
      <a href="/collections/{{collection.handle }}">   <img src="{{ collection | img_url: 'original' }}" alt="{{ collection.image.alt }}" /></a>
      {% endif %} {% endfor%} 
  </div>
  {% endif %}


  {% if  settings.home_brand_collection4 != blank %}
  <div class="item">
      {% for collection in collections %}
      {% if collection.image and collection.handle == settings.home_brand_collection4   %}
      <a href="/collections/{{collection.handle }}"> <img src="{{ collection | img_url: 'original' }}" alt="{{ collection.image.alt }}" /></a>
      {% endif %} {% endfor%}</div>
  {% endif %}


  {% if  settings.home_brand_collection5 != blank %}
  <div class="item">
      {% for collection in collections %}
      {% if collection.image and collection.handle == settings.home_brand_collection5   %}
      <a href="/collections/{{collection.handle }}">   <img src="{{ collection | img_url: 'original' }}" alt="{{ collection.image.alt }}" /></a>
      {% endif %} {% endfor%}
	</div>
  {% endif %}



  {% if  settings.home_brand_collection6 != blank %}
  <div class="item"> 
      {% for collection in collections %}
      {% if collection.image and collection.handle == settings.home_brand_collection6   %}
      <a href="/collections/{{collection.handle }}">  <img src="{{ collection | img_url: 'original' }}" alt="{{ collection.image.alt }}" /></a>
      {% endif %} {% endfor%} 
  </div>
  {% endif %}   

  {% if  settings.home_brand_collection7 != blank %}
  <div class="item"> 
      {% for collection in collections %}
      {% if collection.image and collection.handle == settings.home_brand_collection7   %}
      <a href="/collections/{{collection.handle }}">   <img src="{{ collection | img_url: 'original' }}" alt="{{ collection.image.alt }}" /></a>
      {% endif %}
      {% endfor%}
  </div>
  {% endif %}
  {% if  settings.home_brand_collection8 != blank %}
  <div class="item"> 
      {% for collection in collections %}
      {% if collection.image and collection.handle == settings.home_brand_collection8   %}
      <a href="/collections/{{collection.handle }}">    <img src="{{ collection | img_url: 'original' }}" alt="{{ collection.image.alt }}" /></a>
      {% endif %}
      {% endfor%}
  </div>
  {% endif %}
  
   
  
  {% if  settings.home_brand_collection9 != blank %}
  <div class="item"> 
      {% for collection in collections %}
      {% if collection.image and collection.handle == settings.home_brand_collection9   %}
      <a href="/collections/{{collection.handle }}">    
        <img src="{{ collection | img_url: 'original' }}" alt="{{ collection.image.alt }}" />
      </a>
      {% endif %}

      {% endfor%}
     </div>
  {% endif %}
  
  
  {% if  settings.home_brand_collection10 != blank %}
  <div class="item"> 
      {% for collection in collections %}
      {% if collection.image and collection.handle == settings.home_brand_collection10   %}
      <a href="/collections/{{collection.handle }}">    <img src="{{ collection | img_url: 'original' }}" alt="{{ collection.image.alt }}" /></a>
      {% endif %} {% endfor%}
    
  </div>
  {% endif %}
 
  
  
</div>
</div>
</div>
<script>
  
  var owl = $('#owl-demo');
	owl.owlCarousel({
    items:5,
    navigation:true,
    rewindNav: false,
    margin:10,
    scrollPerPage: true,
    itemsMobile:  [767,3]
});


  
//   $("#owl-demo").owlCarousel({

//     // autoPlay: 3000, //Set AutoPlay to 3 seconds

//     items : 4,
//     navigation: true,
//     rewindNav: false,
//     scrollPerPage: true,
//     loop:true,
//     itemsDesktop : [1199,4],
//     itemsMobile: 	[479,2],
//     itemsDesktopSmall : [979,3]

 // });
</script>

<style>

  #owl-demo .item{
    margin: 0 50px;
  }
  #owl-demo .item img{
    display: block;
    max-width: 100%;
    height: auto;
  }
</style>
