<div class="container">
  <div class="row">
    <div class="home-banner">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          {% if settings.home_banner_1_enable %}
            <div class="inner-banner">
				<a href="{{ settings.home_banner_link_1}}">
                <div class="overlay">
					<!--
                    <span class="widget widget-category-link">
                      <i class="fs1" aria-hidden="true" data-icon="$"></i>
                    </span>
					-->
                </div>
				</a>
				<a href="{{ settings.home_banner_link_1}}">
                <div class="banner-img">
                  <span class="text"> 
                    {% if settings.language_enable %}
                    <span class="lang1">{{ settings.home_banner_title_1 | split: '|' | first }}</span>
                    <span class="lang2">{{ settings.home_banner_title_1 | split: '|' | last }}</span>
                    {% else %}
                    {{ settings.home_banner_title_1 | split: '|' | first }}
                    {% endif %}
                  </span>
                  <img src="{{ 'home_banner_1.jpg' | asset_url }}" alt="{{ settings.home_banner_title_1}}" />
                </div>
				</a>
            </div>
          {% endif %}
          {% if settings.home_banner_2_enable %}
            <div class="inner-banner">
				<a href="{{ settings.home_banner_link_2}}">
                <div class="overlay">
				  <!--
                  <span class="widget widget-category-link">
                    <i class="fs1" aria-hidden="true" data-icon="$"></i></a>
                  </span>
				  -->
                </div>
				</a>
				<a href="{{ settings.home_banner_link_2}}">
                <div class="banner-img">
                  <span class="text"> 
                    {% if settings.language_enable %}
                    <span class="lang1">{{ settings.home_banner_title_2 | split: '|' | first }}</span>
                    <span class="lang2">{{ settings.home_banner_title_2 | split: '|' | last }}</span>
                    {% else %}
                    {{ settings.home_banner_title_2 | split: '|' | first }}
                    {% endif %}
                  </span>
                  <img src="{{ 'home_banner_2.jpg' | asset_url }}" alt="{{ settings.home_banner_title_2}}" />
                </div>
				</a>
            </div>
          {% endif %}
        </div> 
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          {% if settings.home_banner_3_enable %}
            <div class="inner-banner">
				<a href="{{ settings.home_banner_link_3}}">
                <div class="overlay">
				  <!--
                  <span class="widget widget-category-link">
                    <i class="fs1" aria-hidden="true" data-icon="$"></i>
                  </span>
				  -->
                </div>
				</a>
				<a href="{{ settings.home_banner_link_3}}">
                <div class="banner-img">
                  <span class="text"> 
                    {% if settings.language_enable %}
                    <span class="lang1">{{ settings.home_banner_title_3 | split: '|' | first }}</span>
                    <span class="lang2">{{ settings.home_banner_title_3 | split: '|' | last }}</span>
                    {% else %}
                    {{ settings.home_banner_title_3 | split: '|' | first }}
                    {% endif %}
                  </span>
                  <img src="{{ 'home_banner_3.jpg' | asset_url }}" alt="{{ settings.home_banner_title_3}}" />
                </div>
				</a>
            </div>
          {% endif %}
          {% if settings.home_banner_4_enable %}
            <div class="inner-banner">
				<a href="{{ settings.home_banner_link_4}}">
                <div class="overlay">
				  <!--
                  <span class="widget widget-category-link">
                    <i class="fs1" aria-hidden="true" data-icon="$"></i>
                  </span>
				  -->
                </div>
				</a>
				<a href="{{ settings.home_banner_link_4}}">
                <div class="banner-img">
                  <span class="text"> 
                    {% if settings.language_enable %}
                    <span class="lang1">{{ settings.home_banner_title_4 | split: '|' | first }}</span>
                    <span class="lang2">{{ settings.home_banner_title_4 | split: '|' | last }}</span>
                    {% else %}
                    {{ settings.home_banner_title_4 | split: '|' | first }}
                    {% endif %}
                  </span>
                  <img src="{{ 'home_banner_4.jpg' | asset_url }}" alt="{{ settings.home_banner_title_4}}" />
                </div>
				</a>
            </div>
          {% endif %}
        </div> 
    </div>
  </div>
</div>