{% if settings.collection_sidebar_filters == 'groups' %}
<dl class="narrow-by-list">
{% for i in (1..10) %}
{% assign tmp = 'filtering_' | append:i %}
{% if settings[tmp] %} 
  
  {% assign tmp = 'filtering_heading_' | append:i %}
  {% assign cat_item = settings[tmp] %}
  {% assign cat_item_down = cat_item | downcase %}
  {% assign tmp = 'filtering_filters_' | append:i %}
  {% assign filters = settings[tmp] | strip_newlines | split: ',' %}
  
   
  
  <div class="narrow-item" style="display:block !important;">
   <div class="accordion "> <dt>
      <span>{{ cat_item }}</span>
      {% for custom_tag in filters %}
      
      {% if current_tags contains custom_tag %}
      
     <a href="javascript:void(0);"  class="clear">{{ 'collections.general.clear' | t }}</a>
 

      {% break %}
      {% endif %}
      {% endfor %}
    </dt>
    </div>
    <div class="panel">
    <dd class="layer-filter {{ cat_item_down | replace: ' ', '_' }}"> 
      <ol class="swatch-list fields">
        {% if cat_item_down contains 'color' or cat_item_down contains 'colour' %}
        {% assign file_extension = '.png' %}

        {% for custom_tag in filters %}
        {% if collection.tags contains custom_tag %}
        {% if current_tags contains custom_tag %}
        <li>
          <div class="item active">
            <input type="checkbox" checked="checked" value="{{ custom_tag | handleize }}" class="hide" />
            <span class="has-image btooltip" title="{{ custom_tag | remove_first: cat_item | remove: '_' }}"><i style="background-color: {{ custom_tag | remove_first: cat_item | remove: '_' | handle }}; background-image: url({{ custom_tag | remove_first: cat_item | remove: '_' | handle | append: file_extension | asset_url }})"></i></span>
          </div>
        </li>
        {% else %}
        <li>
          <div class="item">
            <input type="checkbox" value="{{ custom_tag | handleize }}" class="hide" />
            <span class="has-image btooltip" title="{{ custom_tag | remove_first: cat_item | remove: '_' }}"><i style="background-color: {{ custom_tag | remove_first: cat_item | remove: '_' | handle }}; background-image: url({{ custom_tag | remove_first: cat_item | remove: '_' | handle | append: file_extension | asset_url }})"></i></span>
          </div>
        </li>
        {% endif %}
        {% else %}
        {% endif %}
        {% endfor %}

        {% else %}

        {% for custom_tag in filters %}
        {% if collection.tags contains custom_tag %}
        {% if current_tags contains custom_tag %}
        <li>
          <div class="item swatch-checkbox active">
            <input type="checkbox" value="{{ custom_tag | handleize }}" class="checkbox" checked="checked" />
            <span class="name">{{ custom_tag | remove_first: cat_item | remove: '_' }}</span>
          </div>
        </li>
        {% else %}
        <li>
          <div class="item swatch-checkbox">
            <input type="checkbox" value="{{ custom_tag | handleize }}" class="checkbox" />
            <span class="name">{{ custom_tag | remove_first: cat_item | remove: '_' }}</span>
          </div>
        </li>
        {% endif %}
        {% else %}{% endif %}
        {% endfor %} 
        {% endif %}
      </ol>
    </dd>
  </div>
  </div>
{% endif %}
{% endfor %} 
</dl>
{% endif %}


<style type="text/css">


  .accordion dt {
    background: rgba(0, 0, 0, 0) url("https://cdn.shopify.com/s/files/1/1246/4601/files/category_accordion_aae36ef9-8eaf-4a04-9013-2ff1f5479ebb.png?10774467863518368098") no-repeat scroll right center;
    width: 96%;
    background-position:right center;
       background-repeat:no-repeat;
}


div.panel {
  
    display: none;

}

div.panel.show {
    display: block !important;
}
.parent_layer {
    list-style: outside none none;
}
  div.accordion {
    border-bottom: 1px solid #f6f6f6;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    width: 100%;
}
</style>
<!-- <script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script> -->
<script>
  $(document).each(function () {
//     $('.accordion').click(function () {
//       $(this).next().slideToggle(500).siblings('.panel:visible').slideUp();

//     })
  $(".accordion").click(function(){

    if(false == $(this).next().is('.panel:visible')) {
      $('.panel').slideUp(300);
      $('.accordion').children().removeClass('active');
    }
    $(this).next().slideToggle(300);
  });


  });
</script>
 <script>
    function goToURL() {
      location.href = '/cart';

    }
  </script> 










