<div class="navigation-wrapper hidden-tablet">
  <div class="main-navigation"> 
    <!-- begin site-nav -->
    <ul class="top-navigation"> 
      {% for link in linklists.main-menu.links %}   
      {% capture menu_type %}menu_item_type_{{ forloop.index }}{% endcapture %}
      {% capture menu_column %}menu_item_column_{{ forloop.index }}{% endcapture %}
      {% capture menu_label %}menu_item_label_{{ forloop.index }}{% endcapture %}
      {% capture banner_left_enable %}banner_left_enable_{{ forloop.index }}{% endcapture %}
      {% capture banner_left %}banner_left_{{ forloop.index }}.jpg{% endcapture %}
      {% capture block_left %}menu_item_block_left_{{ forloop.index }}{% endcapture %}
      {% capture proportions_left %}menu_proportions_left_{{ forloop.index }}{% endcapture %}
      {% capture banner_right_enable %}banner_right_enable_{{ forloop.index }}{% endcapture %}
      {% capture banner_right %}banner_right_{{ forloop.index }}.jpg{% endcapture %}
      {% capture block_right %}menu_item_block_right_{{ forloop.index }}{% endcapture %}
      {% capture proportions_right %}menu_proportions_right_{{ forloop.index }}{% endcapture %}
      {% capture banner_top_enable %}banner_top_enable_{{ forloop.index }}{% endcapture %}
      {% capture banner_top %}banner_top_{{ forloop.index }}.jpg{% endcapture %}
      {% capture block_top %}menu_item_block_top_{{ forloop.index }}{% endcapture %}
      {% capture banner_bottom_enable %}banner_bottom_enable_{{ forloop.index }}{% endcapture %}
      {% capture banner_bottom %}banner_bottom_{{ forloop.index }}.jpg{% endcapture %} 
      {% capture block_bottom %}menu_item_block_bottom_{{ forloop.index }}{% endcapture %}
      {% assign pro_left = settings[proportions_left] %}
      {% assign pro_right = settings[proportions_right] %}
      {% assign groups = pro_left | plus:pro_right %}
      {% assign grid = 12 | minus: groups %} 
      {% assign child_list_handle = link.title | handleize %}   
      {% if linklists[child_list_handle].links != blank %}
      <li class="level0 level-top parent {% if settings[menu_type] =='dropdown'%} m-dropdown {% endif %} {% if settings[menu_type] == 'drop_group' %} m-dropdown {%endif%}">
        <a href="{{ link.url }}" class="level-top">
          <span class="level-top-title"> 
            {% if settings.language_enable %}
            <span class="lang1">{{ link.title | split: '|' | first }}</span>
            <span class="lang2">{{ link.title | split: '|' | last }}</span>
            {% else %}
            {{ link.title | split: '|' | first }}
            {% endif %}
            {% if settings[menu_label] !='' %}
<!--             <span class="cat-label cat-label-label1 pin-bottom"> 
              {% if settings.language_enable %}
              <span class="lang1">{{ settings[menu_label] | split: '|' | first }}</span>
              <span class="lang2">{{ settings[menu_label] | split: '|' | last }}</span>
              {% else %}
              {{ settings[menu_label] | split: '|' | first }}
              {% endif %}
            </span> -->
            {% endif %}
            <span class="cat-label cat-label-label1 pin-bottom"> 
            </span>
          </span>
          <!--span class="icon icon-arrow-down" aria-hidden="true"></span-->
        </a>   
        <div class="level0 menu-wrap-sub {% if settings[menu_type] =='dropdown'%} dropdown {% endif %} {% if settings[menu_type] == 'drop_group' %} dropdown {%endif%}"> 
          {% if settings[banner_top_enable] or settings[block_top] != blank %}
          <div class="ulmenu-block ulmenu-block-top grid-full std">
            {% if settings[banner_top_enable] %}
            {{ banner_top | asset_url | img_tag: 'banner-top' }} 
            {% endif %} 
            {% if settings.language_enable %}
            <div class="lang1">{{ settings[block_top] | split: '[lang2]' | first }}</div>
            <div class="lang2">{{ settings[block_top] | split: '[lang2]' | last }}</div>
            {% else %}
            {{ settings[block_top] | split: '|' | first }}
            {% endif %} 
          </div> 
          {% endif %} 
          {% if settings[proportions_left] != '0' %}
          <div class="menu-static-blocks ulmenu-block ulmenu-block-left pull-left grid12-{{ settings[proportions_left] }}">
            {% if settings[banner_left_enable] %}
            {{ banner_left | asset_url | img_tag: 'banner-left' }}
            {% endif %} 
            {% if settings.language_enable %}
            <div class="lang1">{{ settings[block_left] | split: '[lang2]' | first }}</div>
            <div class="lang2">{{ settings[block_left] | split: '[lang2]' | last }}</div>
            {% else %}
            {{ settings[block_left] | split: '|' | first }}
            {% endif %} 
          </div> 
          {% endif %} 
          <div class="ulmenu-block ulmenu-block-center menu-items grid12-{{ grid }} itemgrid itemgrid-{{ settings[menu_column] }}col">
            <ul class="level0"> 
              {% for childlink in linklists[child_list_handle].links %}  
              {% assign grand_child_list_handle = childlink.title | handle %} 
              {% if linklists[grand_child_list_handle].links != blank %} 
              <li class="level1 {% if settings[menu_type] == 'drop_group' %} groups {%endif%} {% if settings[menu_type] =='group' %} groups {% endif %} item {% if settings[menu_type] =='classic' %} parent {% endif %} {% if settings[menu_type] =='dropdown' %} parent {% endif %}"> 
                <a href="{{ childlink.url }}"> 
                  {% if settings.language_enable %}
                  <span class="lang1">{{ childlink.title | escape | split: '|' | first }}</span>
                  <span class="lang2">{{ childlink.title | escape | split: '|' | last }}</span>
                  {% else %}
                  {{ childlink.title | escape | split: '|' | first }}
                  {% endif %} 
                </a> 
                <div class="{% if settings[menu_type] == 'group' %} menu-wrapper {% elsif settings[menu_type] == 'drop_group' %} menu-wrapper {% else %} menu-wrap-sub {% endif %}">
                  <ul class="level1">
                    {% for grand_child_link in linklists[grand_child_list_handle].links %}
                    <li class="level2">
                      <a href="{{ grand_child_link.url }}" class="site-nav__link"> 
                        {% if settings.language_enable %}
                        <span class="lang1">{{ grand_child_link.title | split: '|' | first }}</span>
                        <span class="lang2">{{ grand_child_link.title | split: '|' | last }}</span>
                        {% else %}
                        {{ grand_child_link.title | split: '|' | first }}
                        {% endif %} 
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
              {% else %}
              <li class="level1 item">
                <a href="{{ childlink.url }}"> 
                  {% if settings.language_enable %}
                  <span class="lang1">{{ childlink.title | split: '|' | first }}</span>
                  <span class="lang2">{{ childlink.title | split: '|' | last }}</span>
                  {% else %}
                  {{ childlink.title | split: '|' | first }}
                  {% endif %} 
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div> 
          {% if settings[proportions_right] != '0' %}
          <div class="menu-static-blocks ulmenu-block ulmenu-block-right pull-right grid12-{{ settings[proportions_right] }}">
            {% if settings[banner_right_enable] %}
            {{ banner_right | asset_url | img_tag: 'banner-right' }}
            {% endif %} 
            {% if settings.language_enable %}
            <div class="lang1">{{ settings[block_right] | split: '[lang2]' | first }}</div>
            <div class="lang2">{{ settings[block_right] | split: '[lang2]' | last }}</div>
            {% else %}
            {{ settings[block_right] | split: '|' | first }}
            {% endif %}  
          </div> 
          {% endif %}
          {% if settings[banner_bottom_enable] or settings[block_bottom] != blank %}
          <div class="ulmenu-block ulmenu-block-bottom grid-full std">
            {% if settings[banner_bottom_enable] %}
            {{ banner_bottom | asset_url | img_tag: 'banner-bottom' }}
            {% endif %} 
            {% if settings.language_enable %}
            <div class="lang1">{{ settings[block_bottom] | split: '[lang2]' | first }}</div>
            <div class="lang2">{{ settings[block_bottom] | split: '[lang2]' | last }}</div>
            {% else %}
            {{ settings[block_bottom] | split: '|' | first }}
            {% endif %} 
          </div>
          {% endif %}
        </div>
      </li>
      {% else %}
      <li class="level0 level-top"> 
        <a href="{{ link.url }}" class="level-top">
          <span> 
            {% if settings.language_enable %}
            <span class="lang1">{{ link.title | split: '|' | first }}</span>
            <span class="lang2">{{ link.title | split: '|' | last }}</span>
            {% else %}
            {{ link.title | split: '|' | first }}
            {% endif %} 
            {% if settings[menu_label] !='' %}
            <!--<span class="cat-label cat-label-label1 pin-bottom"> 
              {% if settings.language_enable %}
              <span class="lang1">{{ settings[menu_label] | split: '|' | first }}</span>
              <span class="lang2">{{ settings[menu_label] | split: '|' | last }}</span>
              {% else %}
              {{ settings[menu_label] | split: '|' | first }}
              {% endif %}
            </span>-->
            {% endif %}
          </span>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    <!-- //site-nav -->
  </div> 
</div>