<div class="product-image {% if settings.media_slide_layout == 'verticle' %}product-image-verticle{% endif %} product-image-zoom zoom-available {% if product.images.size == 1 %}image-full{% endif%}">
 
  
   <div class="product-image-gallery">
   
   <!--
   <a class="fancybox" rel="group" data-fancybox-group="gallery" href="{{ image.src | img_url: 'original' }}">
   <img id="image-main" class="gallery-image visible" src="{{ featured_image | product_img_url:'original' }}"/> 
   </a>
   -->
   {% for image in product.images %}
   <a class="fancybox" rel="group" data-fancybox-group="gallery" href="{{ image.src | img_url: 'original' }}">
   <img id="image-{{ forloop.index }}" class="gallery-image {% if image == product.featured_image %}visible{% endif %}" src="{{ image.src | img_url: 'original' }}" data-zoom-image="{{ image.src | img_url: 'master' }}" />
  </a>
   {% endfor %}
  
   {% if settings.media_zoom_lightbox_enable %}<div class="fa fa-search-plus hidden"></div>{% endif %}
 </div>
  

  
  {% comment %}
 <div class="product-image-gallery">
   {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
   <img id="image-main" class="gallery-image visible" src="{{ featured_image | product_img_url:'original' }}"/> 
   {% for image in product.images %}
   <img id="image-{{ forloop.index }}" class="gallery-image" src="{{ image.src | img_url: 'original' }}" data-zoom-image="{{ image.src | img_url: 'master' }}" />  
   {% endfor %}
   {% if settings.media_zoom_lightbox_enable %}<div class="fa fa-search-plus hidden"></div>{% endif %}
 </div>
  {% endcomment %}
  
  
  {% comment %}
  	<div>
    {% assign img_val = 1 %}
    {% for image in product.images %}
      {% if img_val == 1 %}
          <a class="fancybox" rel="group" data-fancybox-group="gallery" href="{{ image.src | img_url: 'original' }}">
            <img id="image-{{ forloop.index }}" class="gallery-image" src="{{ image.src | img_url: 'original' }}" data-zoom-image="{{ image.src | img_url: 'master' }}" />  
          </a>
      {% else %}
          <a style="display:none;" class="fancybox" rel="group" data-fancybox-group="gallery" href="{{ image.src | img_url: 'original' }}">
            <img id="image-{{ forloop.index }}" class="gallery-image" src="{{ image.src | img_url: 'original' }}" data-zoom-image="{{ image.src | img_url: 'master' }}" />  
          </a>
      {% endif %}
      {% assign img_val = img_val | plus: 1 %}
    {% endfor %}
    </div>
  {% endcomment %}
  
  <div class="more-views-horizontal mobile_horzontal"style="display:none;">
  <div class="row">
    <div class="data-carousel" data-items="4" data-auto="" data-mobile="3" data-paging="false" data-nav="true" data-prev='' data-next='' style="display: none;"></div>
    <div id="more-slides" class="product-image-thumbs owl-carousel"> 
      {% for image in product.images %}
      <div class="item">
        <a class="thumb-link" href="javascript:void(0);" data-image-index="{{ forloop.index }}" data-image="{{ image | product_img_url:'original' }}" data-zoom-image="{{ image | product_img_url:'master' }}"> 
          <img class="img-responsive" src="{{ image.src | img_url: 'large' }}" /> 
        </a>  
      </div> 
      {% endfor %}
    </div> 
  </div>
</div>
</div>   
{% if product.images.size >= 1 and settings.media_slide_layout == 'verticle' %}
<div class="more-views-verticle"> 
    <a class="more-views-prev more-views-nav" href="javascript:void(0)" id="carousel-up" style="display: block;">
      <i class="fa fa-caret-square-o-up"></i>
    </a>
  	<div class="media-list">
        <div id="more-slides" class="verticl-carousel product-image-thumbs"> 
        {% for image in product.images %}
        <a class="thumb-link" href="javascript:void(0);" data-image-index="{{ forloop.index }}" data-image="{{ image | product_img_url:'grande' }}" data-zoom-image="{{ image | product_img_url:'master' }}"> 
          <img class="img-responsive" src="{{ image.src | img_url: 'large' }}" /> 
        </a>  
        {% endfor %}
        </div>
    </div> 
    <a class="more-views-next more-views-nav" href="javascript:void(0)" id="carousel-down" style="display: block;">
      <i class="fa fa-caret-square-o-down"></i>
    </a>
</div>
{% endif %} 
{% if product.images.size > 1 and settings.media_slide_layout == 'horizontal' %}
<div class="more-views-horizontal">
  <div class="row">
    <div class="data-carousel" data-items="4" data-auto="" data-mobile="3" data-paging="false" data-nav="true" data-prev='' data-next='' style="display: none;"></div>
    <div id="more-slides" class="product-image-thumbs owl-carousel"> 
      {% for image in product.images %}
      <div class="item">
        <a class="thumb-link" href="javascript:void(0);" data-image-index="{{ forloop.index }}" data-image="{{ image | product_img_url:'original' }}" data-zoom-image="{{ image | product_img_url:'master' }}"> 
          <img class="img-responsive" src="{{ image.src | img_url: 'large' }}" /> 
        </a>  
      </div> 
      {% endfor %}
    </div> 
  </div>
</div>
{% endif %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.fancybox').fancybox();
    var link = $("#image-main").attr("src");
    $('.product-image-gallery').find('a').first().attr("href", link);
  
  });
</script>
<style>
  @media screen and ( max-width: 767px){
    .more-views-horizontal.mobile_horzontal {
    display: block !important;
}
    .product-img-box.col-sm-6 {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
  .product-view .product-img-box .product-img-list .product-image img, .template-list-collections .product-img-box .product-img-list .product-image img {
  margin: 0 auto;
}
    .mobile_horzontal .thumb-link {
    height: 80px;
    vertical-align: middle;
}
    .mobile_horzontal .img-responsive {
    height: 100%;
}
    .mobile_horzontal .item {
    padding: 7px;
    border: 1px solid #dcdcdc;
    margin: 7px;
}
  }
</style>