<div class="product-image {% if settings.media_slide_layout == 'verticle' %}product-image-verticle{% endif %} product-image-zoom zoom-available {% if product.images.size == 1 %}image-full{% endif%}">
  <div class="product-image-gallery">
    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
  	<img id="image-main" class="gallery-image visible" src="{{ featured_image | product_img_url:'original' }}"/> 
    {% for image in product.images %} 
    <img id="image-{{ forloop.index }}" class="gallery-image" src="{{ image.src | img_url: 'original' }}" data-zoom-image="{{ image.src | img_url: 'master' }}" />  
    {% endfor %} 
  </div>
</div>   
{% if product.images.size >= 1 and settings.media_slide_layout == 'verticle' %}
<div class="more-views-verticle"> 
    <a class="more-views-prev more-views-nav" href="javascript:void(0)" id="carousel-up" style="display: block;">
      <i class="fa fa-caret-square-o-up"></i>
    </a>
  	<div class="media-list">
        <div id="more-slides" class="verticl-carousel product-image-thumbs"> 
        {% for image in product.images %}
        <a class="thumb-link" href="javascript:void(0);" data-image-index="{{ forloop.index }}" data-image="{{ image | product_img_url:'grande' }}" data-zoom-image="{{ image | product_img_url:'master' }}"> 
          <img class="img-responsive" src="{{ image.src | img_url: 'large' }}" /> 
        </a>  
        {% endfor %}
        </div>
    </div> 
    <a class="more-views-next more-views-nav" href="javascript:void(0)" id="carousel-down" style="display: block;">
      <i class="fa fa-caret-square-o-down"></i>
    </a>
</div>
{% endif %} 
{% if product.images.size > 1 and settings.media_slide_layout == 'horizontal' %}
<div class="more-views-horizontal">
  <div class="row">
    <div class="data-carousel" data-items="4" data-auto="" data-mobile="3" data-paging="false" data-nav="true" data-prev='' data-next='' style="display: none;"></div>
    <div id="more-slides" class="product-image-thumbs owl-carousel"> 
      {% for image in product.images %}
      <div class="item">
        <a class="thumb-link" href="javascript:void(0);" data-image-index="{{ forloop.index }}" data-image="{{ image | product_img_url:'original' }}" data-zoom-image="{{ image | product_img_url:'master' }}"> 
          <img class="img-responsive" src="{{ image.src | img_url: 'large' }}" /> 
        </a>  
      </div> 
      {% endfor %}
    </div> 
  </div>
  
</div>
{% endif %} 
