<div class="navbar"> 
  <div class="navbar-header skip-link" onclick="mobileSkipLink(this);" data-target-element="#navbar-toggle">
    <button class="navbar-toggle" type="button" data-toggle="collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbar-toggle" class="bs-navbar-collapse skip-content">
    {% assign list = linklists.main-menu %} 
    <ul id="mobile-menu" class="nav-accordion nav-categories">
      {% for link in list.links %}
      {% assign child_list_handle = link.title | handleize %}  
      {% if linklists[child_list_handle].links != blank %}
      <li class="level0 level-top parent {% if forloop.index == list.links.size %}last{% endif %}">
        <a href="{{ link.url }}" class="level-top">
          <span> 
            {% if settings.language_enable %}
            <span class="lang1">{{ link.title | split: '|' | first }}</span>
            <span class="lang2">{{ link.title | split: '|' | last }}</span>
            {% else %}
            {{ link.title | split: '|' | first }}
            {% endif %}  
          </span>
        </a>
        <ul class="level0"> 
          {% for childlink in linklists[child_list_handle].links %}  
          {% assign grand_child_list_handle = childlink.title | handle %}
          {% if linklists[grand_child_list_handle].links != blank %} 
          <li class="level1 parent {% if forloop.index == linklists[child_list_handle].links.size %}last{% endif %}">
            <a href="{{ childlink.url }}"><span>{{ childlink.title }}</span></a>
            <ul class="level1">
              {% for grand_child_link in linklists[grand_child_list_handle].links %}
              <li class="level2 {% if forloop.index == linklists[grand_child_list_handle].links.size %}last{% endif %}">
                <a href="{{ grand_child_link.url }}" class="site-nav__link"> 
                  {% if settings.language_enable %}
                  <span class="lang1">{{ grand_child_link.title | split: '|' | first }}</span>
                  <span class="lang2">{{ grand_child_link.title | split: '|' | last }}</span>
                  {% else %}
                  {{ grand_child_link.title | split: '|' | first }}
                  {% endif %}   
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li class="level1 {% if forloop.index == linklists[child_list_handle].links.size %}last{% endif %}">
            <a href="{{ childlink.url }}">
              <span> 
                {% if settings.language_enable %}
                <span class="lang1">{{ childlink.title | split: '|' | first }}</span>
                <span class="lang2">{{ childlink.title | split: '|' | last }}</span>
                {% else %}
                {{ childlink.title | split: '|' | first }}
                {% endif %}   
              </span>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="level0 level-top {% if forloop.index == list.links.size %}last{% endif %}">
        <a href="{{ link.url }}" class="level-top">
          {% if settings.language_enable %}
          <span class="lang1">{{ link.title | split: '|' | first }}</span>
          <span class="lang2">{{ link.title | split: '|' | last }}</span>
          {% else %}
          {{ link.title | split: '|' | first }}
          {% endif %}   
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<script>
$(document).on('click', '.item.header-menu .navbar-header .navbar-toggle', function (e) {
  e.stopPropagation();
  var mobileNav = $('.navbar-header').hasClass('skip-active');
  var navbarToggle = $('#navbar-toggle').hasClass('skip-active');
  var window_width =  $(window).width();
  if(window_width < 1025) {
    if(mobileNav == true && navbarToggle == true) {
      $('.header-container').css('margin-left','300px');
      $('.main-container').css('margin-left','300px');
      $('#navbar-toggle').css('width','300px');
    } else {
      $('.header-container').css('margin-left','0');
      $('.main-container').css('margin-left','0');
      $('#navbar-toggle').css('width','0');  
    }
  }
});


$(document).on('click','.item.header-menu #navbar-toggle',function(e) {
  e.stopPropagation();
});
  
$(window).click(function() {
  var window_width =  $(window).width();
  if(window_width < 1025) {
      $('.navbar-header').removeClass('skip-active');
      $('#navbar-toggle').removeClass('skip-active');
      $('.header-container').css('margin-left','0');
      $('.main-container').css('margin-left','0');
      $('#navbar-toggle').css('width','0');  
  }
});
</script>

