<!-- /snippets/product-grid-item.liquid --> 

{% comment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}
 
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
{% endcomment %}

{% assign on_sale = true %}
{% assign sold_out = false %}

{% if product.available %}
  	{% assign on_sale = false %}
{% else %}
	{% assign sold_out = true %}
{% endif %}


<div class="whole-content">
   <div class="product-action"> 
  {% if on_sale %}
  <div class="product-sale-label" {% if settings.language_enable %}data-translate="products.general.sale"{% endif %}>{{ 'products.general.sale' | t }}</div>
  {% endif %}
  <a href="{{ product.url }}" class="product-image">
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="img-responsive main">
    {% if product.images[1] %}
    <img src="{{ product.images[1].src | img_url: 'large' }}" alt="{{ product.images[1].alt | escape }}" class="alt-img img-responsive">
    {% endif %}
  </a> 
  {% if settings.product_color_swatches_enable != blank %}
  <ul class="configurable-swatch-list">  
    {% for option in product.options %}
    {% if option == 'Color' %}
    {% assign index = forloop.index0 %}
    {% assign colorlist = '' %}
    {% assign color = '' %}
    {% for variant in product.variants %}
    {% capture color %}
    {{ variant.options[index] }}
    {% endcapture %}
    {% unless colorlist contains color %} 
    {% if variant.image.src != blank %}
    <li><a href="javascript:void(0);" data-image="{{ variant.image.src | img_url: 'large' }}"><img src="{{ color | downcase | strip_newlines | strip_html | remove: '  ' | append: '.png' | replace: ' ', '-' | asset_url }}" alt="{{ color }}" /></a></li>
    {% endif %}
    {% capture tempList %}
    {{colorlist | append: color | append: ' '}}
    {% endcapture %}
    {% assign colorlist = tempList %}
    {% endunless %}
    {% endfor %}
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  <div class="actions">
    <div class="action-list quickview hidden-xs">
      <div class="quickview-wrapper"><i class="fa fa-search-plus"></i></div>
    </div>
    <div class="action-list addtocart">
      {% if product.available %}
        {% if product.variants.size > 1 %}
          <a href="{{ product.url }}" class="btn-cart"> 
            <span><span><i class="fa fa-shopping-cart"></i>{{'products.product.select_options' | t}}</span></span>
      	  </a>
        {% else %}
          <form action="/cart/add" method="post" enctype="multipart/form-data">
            <input type="hidden" name="quantity" value="1" />
            <select class="hide" name="id">
              {% for variant in product.variants %}
              <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="btn-cart add-to-cart">
              <span><span><i class="fa fa-shopping-cart"></i></span></span>
            </button> 
          </form>
        {% endif %}
      {% else %}
      	<a href="{{ product.url }}" class="btn-cart">
          <span><span><i class="fa fa-shopping-cart"></i></span></span> 
        </a>
      {% endif %}
    </div>
<!--     <div class="action-list">
      {% if settings.wishlist_enable %}
      <div class="product-wishlist wishlist-{{product.id}}">
        {% include 'wishlist-item' %}
      </div>
      {% endif %}
    </div> -->
  </div> 
</div>
<div class="product-content">
  <h3 class="product-name">
  	<a href="{{ product.url }}" title="{{ product.title }} "> 
      {% if settings.language_enable %}
      <span class="lang1">{{ product.title | split: '|' | first | truncate:45 }}</span>
      <span class="lang2">{{ product.title | split: '|' | last | truncate: 45 }}</span>
      {% else %}
      {{ product.title | split: '|' | first }}
      {% endif %}
    </a>
  </h3>
   {%  if product.tags contains 'Free Shipping' %}
                      <div class="free-ship free_collection">{{ "free-ship1.png" | asset_url |img_tag }}Free Shipping</div>
                      {% endif %}
  <div class="product-short-desc">
    {% if settings.language_enable %}
    <span class="lang1">{{ product.content | strip_html | split: '[lang2]' | first | truncatewords: 30 }}</span>
    <span class="lang2">{{ product.content | strip_html | split: '[lang2]' | last | truncatewords: 30 }}</span>
    {% else %}
    {{ product.content | strip_html | split: '[lang2]' | first | truncatewords: 30 }}
    {% endif %} 
	</div>
<!--   <div class="rating-box">
  	<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> 
  </div>  -->
 <div class="price price_collections"> 
    {% if on_sale %}
    
     {% if product.price_varies %}
      {% assign sale_price = product.price | money %}
      <span class="money">
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      </span>
      {% else %} 
      {% if sold_out %}
      <span class="money soldout_money">{{ 'products.product.sold_out' | t }}</span>
      {% endif %}
      {% if on_sale %}
     {% if sold_out %}
     {% else %}
     <div class="compare-price">
        <span class="money">{{ product.compare_at_price | money }}</span>
      </div>
     {% endif %}
      {% endif %}
      <div class="special-price">
        <span class="money price11">{{ product.price | money }}</span>
      </div>
      {% endif %}
   
   {% else %}
   
     {% if product.price_varies %}
        {% assign price = product.price | money %}
        <span class="money ">{{ 'products.general.from_text_html' | t: price: price }}</span>
      {% else %}
        <div class="compare-price">
          <span class="money">{{ product.compare_at_price | money }}</span>
        </div>
        <span class="money price11">
          {{ product.price | money }}
        </span>
      {% endif %}
    {% endif %}
    
  </div>
  <div class="yotpo-container_bottom">
    <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
  </div>

  {% if featured_section %}
      {% if product.available %}
        {% if product.variants.size > 1 %}
          <a href="{{ product.url }}" class="btn">
            <span>More Info</span>
      	  </a>
        {% else %}
          <form action="/cart/add" method="post" enctype="multipart/form-data">
            <input type="hidden" name="quantity" value="1" />
            <select class="hide" name="id">
              {% for variant in product.variants %}
              <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="btn-cart add-to-cart btn">
            <span>Add to Cart</span>
            </button>
          </form>
        {% endif %}
      {% else %}
      	<a href="{{ product.url }}" class="btn">
            <span>More Info</span>
        </a>
      {% endif %}
  {% endif %}
</div>
</div>
<script data-id="product-block-json-{{product.id}}" type="text/template">productsObj.id{{product.id}} = {{product | json}};</script>

<script data-id="product-block-template-{{product.id}}" type="text/template">
	{% assign variant_tmp = product.selected_or_first_available_variant | default: product.variants.first %} 
	<div class="product-view quick-view product">
       <div class="product-essential">
         <div class="product-img-box col-sm-6">
           <div class="product-img-list">
          	{% include 'media-quickview' %}
           </div>
         </div> 
         <div class="product-shop col-md-6 col-sm-6">
            <div class="product-shop-wrapper"> 
              <div class="product-name top-product-detail">
              	<h2><a href="{{ product.url }}"> 
                {% if settings.language_enable %}
                <span class="lang1">{{ product.title | split: '|' | first }}</span>
                <span class="lang2">{{ product.title | split: '|' | last }}</span>
                {% else %}
                {{ product.title | split: '|' | first }}
                {% endif %}
  				</a></h2> 
              </div>
              <div class="middle-product-detail"> 
                 <div class="product-type-data">
                  <div class="price-box"> 
                    <div id="price" class="detail-price" itemprop="price">
                      {% if variant_tmp.compare_at_price > variant_tmp.price %}
                      <del class="price_compare"> {{ variant_tmp.compare_at_price | money }}</del>
                      {% endif %}
                      <div class="price">{{ variant_tmp.price | money }}</div>
                    </div>
                    <meta itemprop="priceCurrency" content="{{ shop.currency }}" /> 
                    {% if product.available %}
                    <link itemprop="availability" href="http://schema.org/InStock" />
                    {% else %}
                    <link itemprop="availability" href="http://schema.org/OutOfStock" />
                    {% endif %}
                  </div>
                </div>
                <div class="short-description-detail">
                  <div class="short-description"> 
                    {% if settings.language_enable %}
                    <span class="lang1">{{ product.description | strip_html | split: '[lang2]' | first | truncatewords: 50 }}</span>
                    <span class="lang2">{{ product.description | strip_html | split: '[lang2]' | last | truncatewords: 50 }}</span>
                    {% else %}
                    {{ product.description | strip_html | split: '[lang2]' | first | truncatewords: 50 }}
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="product-type-main"> 
                <form class="product-form" id="product-form" action="/cart/add" method="post" enctype="multipart/form-data" data-product-id="{{product.id}}" data-id="{{ product.handle }}"> 
                  <div id="product-variants" class="product-options" {% if product.options.size == 1 and product.options.first == 'Title' %}style="display: none;"{% endif %}> 
                    <select id="product-select" name="id" style="display: none;">
                      {% for variant in product.variants %}
                      {% if variant.available %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                      {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - {{'products.product.sold_out' | t}}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select> 
                  </div> 
                  <div class="product-options-bottom"> 
                    <div class="add-to-cart-box">
                      <div class="actions">
                        <div class="action-list addtocart">
                          <div class="button-wrapper">
                            <div class="icon_bag_alt"></div> 
                            <button type="submit" name="add" class="btn-cart add-to-cart">
                              <span>
                                <span {% if settings.language_enable %}data-translate="products.product.add_to_cart"{% endif %}>{{ 'products.product.add_to_cart' | t }}</span>
                              </span>
                            </button> 
                          </div>
                        </div>
                        <div class="action-list wishlist wishlist-{{product.id}}">
                          {% include 'wishlist-item'%}
                        </div>
                      </div>
                        <div class="input-box pull-left plusboxes">
                        <label for="Quantity" class="quantity-selector" {% if settings.language_enable %}data-translate="products.product.quantity"{% endif %}>{{ 'products.product.quantity' | t }}</label> 
                        <div class="reduced items" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) result.value--;return false;">
                          <i class="fa fa-minus"></i>
                        </div>
                        <input type="text" id="qty" name="quantity" value="1" min="1" class="quantity-selector"> 
                        <div class="increase items" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                          <i class="fa fa-plus"></i>
                        </div>
                      </div>
                    </div>
                    <a style="font-size: 13px" id="shopify-prod-calc" data-zm-widget="repaycalc" data-zm-amount="20"><span class="zip-price">Buy Now, Pay Later  <span class="zip-with-text">with</span> </span> &nbsp;<img src="https://d3k1w8lx8mqizo.cloudfront.net/INTEGRATIONS/2016/zippay/logos/zippay-grey-black.png" height="16" style="vertical-align:text-bottom;height:16px !important" alt="zipPay"></a><span style="cursor: pointer; color: grey; font-size: 11px;" class="zip-learnmoreNew" data-zm-widget="popup" data-zm-popup-asset="termsdialog"> More info »</span> 
                  </div>
                </form>  
              </div>
            </div>
          </div>
       </div
    </div>
    <script>   $(".zip-learnmoreNew").on("click", function() {  $(".zip-learnmore").trigger('click'); });</script>  

</script>
