<div style="margin-bottom:20px;" class="zip-pay"> <span style="cursor: pointer" id="zip-widg-popup" class="promo-img-hold"  data-zm-asset="cartwidget"  data-zm-widget="popup"  data-zm-popup-asset="termsdialog"></span></div>

<div class="product-badge">
<div class="col-md-12 badge-wrapper">
  <div class="col-xs-6 col-md-6 badge-item">
    <div class="badge-icon truck">
      <img src="{{ 'truck-grey.png' | asset_url }}" />
    </div>
    <div class="badge-text">
      FAST & FREE SHIPPING  FOR ORDERS OVER $100
    </div>
  </div>
  <div class="col-xs-6 col-md-6 badge-item">
    <div class="badge-icon">
      <img src="{{ 'pig-grey.png' | asset_url }}" />
    </div>
    <div class="badge-text">
      Price Match Guarantee Industry Leading Low Prices
    </div>
  </div>
  <div class="col-xs-6 col-md-6 badge-item">
    <div class="badge-icon">
      <img src="{{ 'box-grey.png' | asset_url }}" />
    </div>
    <div class="badge-text">
      30 DAYS RETURN  FOR ALL PURCHASES
    </div>
  </div>
  <div class="col-xs-6 col-md-6 badge-item">
    <div class="badge-icon">
      <img src="{{ 'home-grey.png' | asset_url }}" />
    </div>
    <div class="badge-text">
      Not Just An Online Store Buy Online Or In Our Sydney Store
    </div>
  </div>
  <div class="col-md-12"> 
      <div class="zip-pay"> <span style="cursor: pointer" id="zip-widg-popup" class="promo-img-hold"  data-zm-asset="cartwidget"  data-zm-widget="popup"  data-zm-popup-asset="termsdialog"></span></div>
  </div>
</div>

</div>
<style>
.product-badge .badge-wrapper {
    padding: 20px;
    background: #f6f6f6;
}
.product-badge .badge-wrapper .badge-item {
  	margin-bottom: 20px;
}
.product-badge .badge-icon, 
.product-badge .badge-text {
  display: inline-block;
}
.product-badge .badge-icon {
  width: 20%;
  padding-right: 5px;
  text-align: center;
}
.product-badge .badge-icon img {
  height: 35px;
} 
.product-badge .badge-icon.truck img {
  margin-left: -20px;
}
.product-badge .badge-text { 
  width: 75%;
  float: right;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
}
 @media (max-width: 767px) {
   
.product-badge .badge-icon {
  width: 100%;
  display: block;
}
.product-badge .badge-text { 
  width: 100%;
}
.product-badge .badge-wrapper .badge-item {
  text-align: center;
}
.product-badge .badge-icon img {
  height: 50px;
  margin-bottom: 10px;
}
   .product-badge .badge-wrapper {
     display: inline-block;
     padding-bottom: 0px;
   }
 }
@media (min-width: 768px) and (max-width: 1100px) {
	.product-badge .badge-icon {
		display: block;
		text-align: center;
		width: 100%;
		padding-right: 0px;
	}
	.product-badge .badge-text {
		width: 100%;
		float: none;
		text-align: center; 
	}
}
</style>