<ul id="product-tab" class="nav nav-tabs" role="tablist">
  <li class="active first">
    <a href="#product_tabs_description" role="tab" data-toggle="tab" {% if settings.language_enable %}data-translate="products.product.tab_title_description"{% endif %}>{{ 'products.product.tab_title_description' | t }}</a>
  </li>
<!--   <li class="">
    <a href="#product_tabs_tabreviews" role="tab" data-toggle="tab" {% if settings.language_enable %}data-translate="products.product.tab_title_review"{% endif %}>{{ 'products.product.tab_title_review' | t }}</a>
  </li>  -->
  {% if settings.tab_size_chart_enable != blank %}
  <li class="">
    <a href="#product_tabs_size_chart" role="tab" data-toggle="tab"> 
      {% if settings.language_enable %}
      <span class="lang1">{{ settings.tab_size_chart_title | split: '|' | first }}</span>
      <span class="lang2">{{ settings.tab_size_chart_title | split: '|' | last }}</span>
      {% else %}
      {{ settings.tab_size_chart_title | split: '|' | first }}
      {% endif %}
    </a>
  </li> 
  {% endif %}
  <li class="">
    <a href="#product_tabs_yopto" role="tab" data-toggle="tab">
        Product Reviews
    </a>
  </li>
  {% if settings.tab_custom_title != blank %}
  <li class="">
    <a href="#product_tabs_custom" role="tab" data-toggle="tab"> 
      {% if settings.language_enable %}
      <span class="lang1">{{ settings.tab_custom_title | split: '|' | first }}</span>
      <span class="lang2">{{ settings.tab_custom_title | split: '|' | last }}</span>
      {% else %}
      {{ settings.tab_custom_title | split: '|' | first }}
      {% endif %}
    </a>
  </li> 
  {% endif %}
  {% if settings.tab_custom_title_2 != blank %}
  <li class="">
    <a href="#product_tabs_custom_2" role="tab" data-toggle="tab"> 
      {% if settings.language_enable %}
      <span class="lang1">{{ settings.tab_custom_title_2 | split: '|' | first }}</span>
      <span class="lang2">{{ settings.tab_custom_title_2 | split: '|' | last }}</span>
      {% else %}
      {{ settings.tab_custom_title_2 | split: '|' | first }}
      {% endif %}
    </a>
  </li> 
  {% endif %}
  {% if settings.tab_custom_title_3 != blank %}
  <li class="">
    <a href="#product_tabs_custom_3" role="tab" data-toggle="tab"> 
      {% if settings.language_enable %}
      <span class="lang1">{{ settings.tab_custom_title_3 | split: '|' | first }}</span>
      <span class="lang2">{{ settings.tab_custom_title_3 | split: '|' | last }}</span>
      {% else %}
      {{ settings.tab_custom_title_3 | split: '|' | first }}
      {% endif %}
    </a>
  </li> 
  {% endif %}
 
  
</ul>
<div class="tab-content">
  <div class="tab-pane in active first" id="product_tabs_description">
    <div class="product-tabs-content-inner clearfix"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ product.description | split: '[lang2]' | first }}</div>
      <div class="lang2">{{ product.description | split: '[lang2]' | last }}</div>
      {% else %}
      <h2>More Information</h2>
      {{ product.description | split: '[lang2]' | first }}
      {% endif %}
    </div>
  </div>
  <div class="tab-pane" id="product_tabs_tabreviews">
    <div class="product-tabs-content-inner clearfix">
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    </div>
  </div>
  -->

    <div class="tab-pane" id="product_tabs_yopto">
    <div class="product-tabs-content-inner clearfix">
	  <h2 class="tab-pane-title">Product Reviews</h2>
      <div class="tab-pane-content product-tabs-content-inner clearfix">
        <div class="yotpo yotpo-main-widget"
             data-product-id="{{ product.id }}"
             data-name="{{ product.title | escape }}"
             data-url="{{ shop.url }}{{ product.url }}"
             data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26' }}"
             data-description="{{ product.description | escape }}">
        </div>
      </div>
    </div>
	</div>


  {% if settings.tab_size_chart_enable != blank %}
  <div class="tab-pane" id="product_tabs_size_chart">
    <div class="product-tabs-content-inner clearfix">
      <img src="{{ 'tab_size_chart.png' | asset_url }}" class="img-responsive" />
    </div>
  </div> 
  {% endif %}
  
  
  {% if settings.tab_custom_title != blank %}
  <div class="tab-pane" id="product_tabs_custom">
    <div class="product-tabs-content-inner clearfix"> 
      <h2>{{ settings.tab_custom_title }}</h2>
      <div class="row">
      {% if settings.language_enable %}
      <span class="lang1">{{ settings.tab_custom_content | split: '|' | first }}</span>
      <span class="lang2">{{ settings.tab_custom_content | split: '|' | last }}</span>
      {% else %}
      {{ settings.tab_custom_content | split: '|' | first }}
      {% endif %}
    </div>
    </div>
  </div> 
  {% endif %}


  {% if settings.tab_custom_title_2 != blank %}
  <div class="tab-pane" id="product_tabs_custom_2">
    <div class="product-tabs-content-inner clearfix"> 
      <h2>{{ settings.tab_custom_title_2 }}</h2>
      <div class="inner-cont">
      {% if settings.language_enable %}
      <span class="lang1">{{ settings.tab_custom_content_2 | split: '|' | first }}</span>
      <span class="lang2">{{ settings.tab_custom_content_2 | split: '|' | last }}</span>
      {% else %}
      {{ settings.tab_custom_content_2 | split: '|' | first }}
      {% endif %}
    </div>
    </div>
  </div> 
  {% endif %}
  {% if settings.tab_custom_title_3 != blank %}
  <div class="tab-pane" id="product_tabs_custom_3">
    <div class="product-tabs-content-inner clearfix"> 
      <h2>{{ settings.tab_custom_title_3 }}</h2>
      
      {% if settings.language_enable %}
      <span class="lang1">{{ settings.tab_custom_content_3 | split: '|' | first }}</span>
      <span class="lang2">{{ settings.tab_custom_content_3 | split: '|' | last }}</span>
      {% else %}
      {{ settings.tab_custom_content_3 | split: '|' | first }}
      {% endif %}
    
    </div>
  </div> 
  {% endif %}
  
  
</div>


<script>
	jQuery(document).ready(function() {
		jQuery('.tab-pane-title').click(function() {
			var windowWidth = jQuery(window).width();
			if ( windowWidth < 768 ) {
				jQuery(this).siblings('.tab-pane-content').slideToggle();
				jQuery(this).toggleClass('active');
			} else {

			}
		});
	});
</script>