<!-- /snippets/search-bar.liquid --> 
<!-- <form action="/search" method="get" class="input-group search-bar">
<div class="input-group form-search"> 
  {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
  <input type="search" name="q" value="{{ search.terms | escape }}" {% if settings.language_enable %}data-translate="general.search.placeholder"{% endif %} placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}">
  <button type="submit" class="btn-button"> 
    <span><span><i class="fa fa-search"></i></span></span> 
  </button>
</div>
</form> -->
<form action="/search" method="get" class="input-group search-bar" role="search">
  <div class="input-group form-search">
     {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
    <input class="search Textbox autobox default" {% if settings.language_enable %}data-translate="general.search.placeholder"{% endif %} placeholder="{{ 'general.search.placeholder' | t }}"  name="q" type="text" id="search-field"  /> 

    <button type="submit" class="btn-button"> 
      <span><span><i class="fa fa-search"></i></span></span> 
    </button>
  </div>
</form>