<script>
    var ISRParams = ISRParams || {};
    ISRParams.id = "734ccea61c02ac41e72747e407810a03";
    ISRParams.apiScript = "{{ 'api.jquery.js' | shopify_asset_url }}";
    ISRParams.moneyFormat = "{{shop.money_format | strip_html}}";
    ISRParams.fullMoneyFormat = "{{shop.money_with_currency_format | strip_html}}";
    ISRParams.customer = {};
    ISRParams.product = {{ product | json }};

    {% if  customer %}
        ISRParams.customer.email = "{{ customer.email }}";
        {% if customer.default_address != nil %}
            ISRParams.customer.country_code = "{{ customer.default_address.country_code }}";
        {% else %}
            ISRParams.customer.country_code = null;
        {% endif %}
    {% endif %}
</script>