{% comment %}
  Article structured data
  https://developers.google.com/search/docs/data-types/articles
{% endcomment %}

{% if template contains 'article' %}
  {%- capture article_description  -%}
    {%- if article.excerpt != blank -%}
      {{ article.excerpt | strip_html }}
    {%- else -%}
      {{ article.content | truncatewords: 100 | strip_html }}
    {%- endif -%}
  {%- endcapture -%}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ shop.url }}{{ article.url }}"
      },
      "headline": {{ article.title | json }},
      {% if article.image %}
        "image": {
          "@type": "ImageObject",
          "url": {{ article.image | img_url: '800x800' | prepend: 'https:' | json }},
          "height": 800,
          "width": 800
        },
      {% endif %}
      "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%S%z' | json}},
      "author": {
        "@type": "Person",
        "name": {{ article.author | json }}
      },
      "publisher": {
        "@type": "Organization",
        "name": {{ shop.name | json }}
      },
      "description": {{ article_description | json }}
    }
  </script>
{% endif %}

{% comment %}
  Breadcrumbs
  https://developers.google.com/search/docs/data-types/breadcrumbs
{% endcomment %}

{%- if current_tags -%}
  {%- assign tag_names = current_tags | join: ', ' %}
  {% comment %}Converting an array to a handle converts it to a string{% endcomment %}
  {%- capture tag_handles -%}
    {%- for tag in current_tags -%}
      {{ tag | handle | append: '|' }}
    {%- endfor -%}
  {%- endcapture -%}
{%- endif -%}

{% unless template contains 'index' %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {% if template contains 'product' %}
        {% if product.collections.size >= 1 %}
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "{{ shop.url }}/collections",
              "name": {{ 'structured_data.breadcrumbs.collections' | t | json }}
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ shop.url }}/collections/{{ product.collections.first.handle }}",
              "name": {{ product.collections.first.title | json }}
            }
          },
        {% else %}
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "{{ shop.url }}/products",
              "name": {{ 'structured_data.breadcrumbs.products' | t | json }}
            }
          },
        {% endif %}
        {
          "@type": "ListItem",
          "position": {% if product.collections.size >= 1 %}3{% else %}2{% endif %},
          "item": {
            "@id": "{{ shop.url }}{{ product.url }}",
            "name": {{ product.title | json }}
          }
        }
      {% elsif template contains 'list-collections' %}
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "{{ shop.url }}/collections",
            "name": {{ 'structured_data.breadcrumbs.collections' | t | json }}
          }
        }
        {% if current_page != 1 %}
          ,
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ shop.url }}/collections",
              "name": {{ 'structured_data.breadcrumbs.page' | t: page: current_page | json }}
            }
          }
        {% endif %}
      {% elsif template contains 'collection' %}
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "{{ shop.url }}/collections",
            "name": {{ 'structured_data.breadcrumbs.collections' | t | json }}
          }
        },
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "{{ shop.url }}{{ collection.url }}",
            "name": {{ collection.title | json }}
          }
        }
        {% if current_tags %}
          ,
          {
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "{{ shop.url }}{{ collection.url }}/{{ tag_handles | split: '|' | join: '+' }}",
              "name": {{ 'structured_data.breadcrumbs.tags' | t: tags: tag_names }}
            }
          }
        {% endif %}
        {% if current_page != 1 %}
          {% if current_tags %}
            {% assign position = 4 %}
          {% else %}
            {% assign position = 3 %}
          {% endif %}
          ,
          {
            "@type": "ListItem",
            "position": {{ position }},
            "item": {
              "@id": "{{ shop.url }}/collections?page={{ current_page }}",
              "name": {{ 'structured_data.breadcrumbs.page' | t: page: current_page | json }}
            }
          }
        {% endif %}
      {% elsif template contains 'blog' or template contains 'article' %}
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "{{ shop.url }}{{ blog.url }}",
            "name": {{ blog.title | json }}
          }
        }
        {% if template contains 'article' %}
          ,
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ shop.url }}{{ article.url }}",
              "name": {{ article.title | json }}
            }
          }
        {% elsif current_tags %}
          ,
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ shop.url }}{{ blog.url }}/tagged/{{ tag_handles | split: '|' | join: '+' }}",
              "name": {{ 'structured_data.breadcrumbs.tags' | t: tags: tag_names | json }}
            }
          }
        {% endif %}
        {% if current_page != 1 %}
          {% if current_tags %}
            {% assign position = 3 %}
            {%- capture url -%}
              {{ shop.url }}{{ blog.url }}/tagged/{{ tag_handles | split: '|' | join: '+' }}?page={{ current_page }}
            {%- endcapture -%}
          {% else %}
            {% assign position = 2 %}
              {%- capture url -%}
              {{ shop.url }}{{ blog.url }}?page={{ current_page }}
             {%- endcapture -%}
          {% endif %}
          ,
          {
            "@type": "ListItem",
            "position": {{ position }},
            "item": {
              "@id": "{{ url }}",
              "name": {{ 'structured_data.breadcrumbs.page' | t: page: current_page | json }}
            }
          }
        {% endif %}
      {% elsif template contains 'search' %}
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "{{ shop.url }}/search",
            "name": {{ 'structured_data.breadcrumbs.search' | t | json }}
          }
        }
        {% if search.performed %}
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ shop.url }}/search?q={{ search.terms }}",
              "name": {{ search.terms | json }}
            }
          }
          {% if current_page != 1 %}
            {
              "@type": "ListItem",
              "position": 3,
              "item": {
                "@id": "{{ shop.url }}/search?page={{ current_page }}&q={{ search.terms }}",
                "name": {{ 'structured_data.breadcrumbs.page' | t: page: current_page | json }}
              }
            }
          {% endif %}
        {% endif %}
      {% elsif template contains 'cart' %}
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "{{ shop.url }}/cart",
            "name": {{ 'structured_data.breadcrumbs.cart' | t | json }}
          }
        }
      {% elsif template contains 'page' %}
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "{{ page.url }}",
            "name": {{ page.title | json }}
          }
        }
      {% endif %}
    ]
  }
</script>
{% endunless %}

{% comment %}
  Product structured data
  https://developers.google.com/search/docs/data-types/products
{% endcomment %}

{% if template contains 'product' %}
  {% assign selected_variant = product.selected_or_first_available_variant | default: product.variants.first %}
  {% assign product_image = selected_variant.featured_image | default: product.featured_image %}
  {%- capture product_name -%}
    {{ product.title }}
    {%- if selected_variant.title != 'Default Title' and selected_variant.option1 == 'Default Title' -%}
      - {{ selected_variant.title }}
    {%- endif -%}
  {%- endcapture -%}

  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product_name | strip_newlines | json }},
    "image": {{ product_image | img_url: '1024x1024' | prepend: 'https:' | json }},
    {% if product.description != blank %}
      "description": {{ product.description | json }},
    {% endif %}
    {% if product.vendor %}
      "brand": {
        "@type": "Thing",
        "name": {{ product.vendor | json }}
      },
    {% endif %}
    {% if selected_variant.sku != blank %}
      "sku": {{ selected_variant.sku | json }},
    {% endif %}
    "offers": {
      "@type": "Offer",
      "priceCurrency": {{ shop.currency | json }},
      "price": {{ selected_variant.price | money_without_currency | json }},
      "availability": "http://schema.org/{% if selected_variant.available %}InStock{% else %}OutOfStock{% endif %}",
      "seller": {
        "@type": "Organization",
        "name": {{ shop.name | json }}
      }
    },
	"aggregateRating": {
	"@type": "AggregateRating",
	"ratingValue": "{{ product.metafields.yotpo.reviews_average }}",
	"reviewCount": "{{ product.metafields.yotpo.reviews_count }}"
	},
  }
  </script>
{% endif %}

{% comment %}
  Store information
  https://developers.google.com/search/docs/data-types/sitename
{% endcomment %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ shop.name }}",
    "url": "{{ shop.url }}"
  }
</script>

<script>
var data = JSON.stringify(false);
var average_score = 0;
var total_reviews = 0;
var response;
var xhr = new XMLHttpRequest();
xhr.withCredentials = true;
xhr.addEventListener("readystatechange", function () {
  if (this.readyState === this.DONE) {
	response = JSON.parse(this.response);
    console.log(response);
	average_score = response.response.bottomline.average_score;
	total_reviews = response.response.bottomline.total_reviews;
  }
});
xhr.open("GET", "https://api.yotpo.com/products/RWBwXSMjO8liyCvDf0GcM6L7wzHdodwDO3PIwdpR/yotpo_site_reviews/bottomline");
xhr.send(data);
</script>

<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "name": "{{ shop.name }}",
  "url" : "{{ shop.url }}",
	{% if shop.phone != '' %}
	  "contactPoint" : [
		{ "@type" : "ContactPoint",
		  "telephone" : "+61 {{ shop.phone | replace: '(', '' | replace: ')', '' }}",
		  "contactType" : "customer support"
		}
		],
	{% endif %}
	"logo": "https://cdn.shopify.com/s/files/1/2129/3845/t/23/assets/logo-home.png",
	"sameAs": [
		{% if settings.social_facebook_link != '' %}"{{ settings.social_facebook_link }}"{% endif %}
		{% if settings.social_instagram_link != '' %},"{{ settings.social_instagram_link }}"{% endif %}
		{% if settings.social_youtube_link != '' %},"{{ settings.social_youtube_link }}"{% endif %}
		{% if settings.social_pinterest_link != '' %},"{{ settings.social_pinterest_link }}"{% endif %}
		{% if settings.social_twitter_link != '' %},"{{ settings.social_twitter_link }}"{% endif %}
		{% if settings.social_googleplus_link != '' %},"{{ settings.social_googleplus_link }}"{% endif %}
		{% if settings.social_bee_link != '' %},"{{ settings.social_bee_link }}"{% endif %}
		],
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "{{ shop.address.province }}, {{ shop.address.country }}",
		"postalCode": "{{ shop.address.zip }}",
		"streetAddress": "{{ shop.address.street }}"
		},
  "email": "{{ shop.email }}",
  "aggregateRating":{  
      "@type":"AggregateRating",
      "ratingValue":"4.11",
      "bestRating":"5",
      "reviewCount":"461"
   }
}
</script>