<!-- Begin MailChimp Signup Form -->
<!--//elephantroom.us14.list-manage.com/subscribe/post?u=f78057d25cab08dd8846835d3&amp;id=e22b779855-->
<div id="mc_embed_signup" class="edm-visible">
<form action="{{ settings.newsletter_form_path }}" method="POST" onsubmit="return check_email();" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll" style="background:url('{{ 'newsletter_bg_image.jpg' | asset_url }}') no-repeat">
     <div class="content_area">
        {{ settings.newsletter_content }}					   
      <div class="edm-form">
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <input type="email" value="" name="EMAIL" Placeholder="email@example.com" class="required email edm-input" id="mce-EMAIL">
        </div>
        <input type="hidden" value="Y" name="MMERGE8" class="" id="mce-MMERGE8">
        <button type="submit" class="btn uppercase edm-btn" name="subscribe" id="subscribe" value="SUBSCIRBE NOW">{{ settings.newsletter_button_content }}</button>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_94e95ae4f6f096fc324a7836e_d1f0b5cb2f" tabindex="-1" value=""></div>
      </div>
       {{ settings.newsletter_bottom_content }}
       
       </div>
    	
  </div>
  <a class="close-btn popup-close" href="javascript:;">x</a>
</form>
</div>

<div class="edm-popup-overlay"></div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ORDERAMT';ftypes[3]='text';fnames[4]='CITY';ftypes[4]='text';fnames[5]='ORDERDATE';ftypes[5]='text';fnames[6]='COMPANY';ftypes[6]='text';fnames[7]='ADDRESS';ftypes[7]='address';fnames[8]='MMERGE8';ftypes[8]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
<script>
  
  function check_email() {
    var email = $('.edm-input').val().trim();
    var preg_match = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if(email == '') {
    	$('.edm-input').addClass('mce_inline_error');
      	return false;
    } else if(!preg_match.test(email)) {
    	$('.edm-input').addClass('mce_inline_error');
      	return false;
    } else {
    	$('.edm-input').removeClass('mce_inline_error');
      	setTimeout(function(){
          $('.edm-popup-overlay').css('display','none');
          $('#mc_embed_signup').addClass('edm-visible');
		}, 700);	
    	document.cookie="user_submit_form=Done; path=/; expires=Fri, 3 Aug 2999 20:47:11 UTC";
    }
  }
  
  $(window).load(function(){
  	var page_handle = '{{ page.handle }}';
    if(page_handle != 'first-order-discount') {
      var final_submit = getCookieValue('user_submit_form');
      if(final_submit != 'Done'){
        var x = getCookieValue('open_button');
        var y = getCookieValue('close_button');

        if(x == '' || x == null) {
          x = 0;
        } else {
          if(y == 'Yes') {
            x = parseInt(x)+parseInt(1);
          }
        }
        console.log(x);
        console.log(y);

        if(x%6 == 0) {
         $('.edm-popup-overlay').css('display','block');
         $('#mc_embed_signup').removeClass('edm-visible');
         $('.template-index').addClass('edm-open'); 
          document.cookie="close_button=No; path=/; expires=Fri, 3 Aug 2999 20:47:11 UTC";
        }
          document.cookie="open_button="+x+"; path=/; expires=Fri, 3 Aug 2999 20:47:11 UTC";
      }
    }
  });
  
  $('.popup-close').click(function(){
    document.cookie="close_button=Yes ;path=/; expires=Fri, 3 Aug 2999 20:47:11 UTC";
    $('#mc_embed_signup').addClass('edm-visible');
    $('.edm-popup-overlay').css('display','none');
    $('.template-index').removeClass('edm-open'); 
  });
  
   function getCookieValue(key) {
      var cookies = document.cookie.split('; ');
      for (var i = 0, parts; (parts = cookies[i] && cookies[i].split('=')); i++) {
        if (decode(parts.shift()) === key) {
          return decode(parts.join('='));
        }
      }
      return null;
    }
  function decode(s) {
    return decodeURIComponent(s.replace(/\+/g, ' '));
  }

</script>