<!-- /snippets/tags-article.liquid --> 
{% comment %}
{% if article.tags.size > 0 %} 
<hr>
<ul class="inline-list blog-tags">
  <li>
    <span {% if settings.language_enable %}data-translate="blogs.article.tags"{% endif %}>{{ 'blogs.article.tags' | t }}:</span>
    {% for tag in article.tags %}
      <i class="fa fa-tag"></i> <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </li>
</ul>
{% endif %}
{% endcomment %}