<!-- /templates/customers/login.liquid -->
<div class="container"> 
  <div class="account-login">  
    <div class="note form-success" id="ResetSuccess" style="display:none;" {% if settings.language_enable %}data-translate="customer.recover_password.success"{% endif %}>
      {{ 'customer.recover_password.success' | t }}
    </div> 
    <div id="CustomerLoginForm" class="form-vertical">
      {% form 'customer_login' %} 
      <div class="page-title">
        <h1 {% if settings.language_enable %}data-translate="customer.login.title"{% endif %}>{{ 'customer.login.title' | t }}</h1>
        <p {% if settings.language_enable %}data-translate="customer.login.content"{% endif %}>{{ 'customer.login.content' | t }}</p>
      </div> 
      {{ form.errors | default_errors }}
      <div class="form-box">
        <div class="content">
          <ul class="form-list">
            <li>
              <label for="CustomerEmail" class="hidden-label" {% if settings.language_enable %}data-translate="customer.login.email"{% endif %}>{{ 'customer.login.email' | t }}</label>
              <input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>
            </li>
            <li>
              {% if form.password_needed %}
              <label for="CustomerPassword" class="hidden-label" {% if settings.language_enable %}data-translate="customer.login.password"{% endif %}>{{ 'customer.login.password' | t }}</label>
              <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
              {% endif %}
            </li>
          </ul> 
        </div>
        <div class="buttons-set">
          <input type="submit" class="btn-button uppercase" {% if settings.language_enable %}data-translate="customer.login.sign_in"{% endif %} value="{{ 'customer.login.sign_in' | t }}">  
          {% if form.password_needed %}
          <p><a href="#recover" id="RecoverPassword" {% if settings.language_enable %}data-translate="customer.login.forgot_password"{% endif %}>{{ 'customer.login.forgot_password' | t }}</a></p>
          {% endif %}
        </div>
      </div>
      <div class="new-users">
          <h1 {% if settings.language_enable %}data-translate="customer.login.register"{% endif %}>{{ 'customer.login.register' | t }}</h1>
          <p {% if settings.language_enable %}data-translate="customer.login.register_content"{% endif %}>{{ 'customer.login.register_content' | t }}</p>
          <button type="button" title="{{ 'customer.login.register_button' | t }}" class="btn-button uppercase" onclick="window.location='/account/register';">
            <span><span {% if settings.language_enable %}data-translate="customer.login.register_button"{% endif %}>{{ 'customer.login.register_button' | t }}</span></span>
          </button>
        </div>
      {% endform %}
    </div>

    {% comment %}
    JS shows/hides this form in timber.loginForms()
    {% endcomment %}
    <div id="RecoverPasswordForm" style="display: none;">
      <div class="page-title">
        <h1 {% if settings.language_enable %}data-translate="customer.recover_password.title"{% endif %}>{{ 'customer.recover_password.title' | t }}</h1>
        <p {% if settings.language_enable %}data-translate="customer.recover_password.subtext"{% endif %}>{{ 'customer.recover_password.subtext' | t }}</p>
      </div>  
      <div class="form-box">
        {% form 'recover_customer_password' %}

        {{ form.errors | default_errors }}

        {% comment %}
        Assign variable to be used after timber.init() is run in theme.liquid
        {% endcomment %}
        {% if form.posted_successfully? %}
        {% assign resetPassword = true %}
        {% endif %}
		<div class="content">
          <ul class="form-list">
            <li>
              <label for="RecoverEmail" class="hidden-label" {% if settings.language_enable %}data-translate="customer.recover_password.email"{% endif %}>{{ 'customer.recover_password.email' | t }}</label>
              <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
            </li>
          </ul>
        </div>
          
        <div class="buttons-set">
          <input type="submit" class="btn-button" {% if settings.language_enable %}data-translate="customer.recover_password.submit"{% endif %} value="{{ 'customer.recover_password.submit' | t }}"> 
          <p><a href="javascript:void(0);" id="HideRecoverPasswordLink" class="text-link" {% if settings.language_enable %}data-translate="customer.recover_password.cancel"{% endif %}>{{ 'customer.recover_password.cancel' | t }}</a></p>
        </div>
        {% endform %}
      </div>

    </div>

    {% comment %}
    If accounts are set as optional, the following will be shown as an option
    during checkout, not on the default /login page.
    {% endcomment %}
    {% if shop.checkout.guest_login %}
    <hr> 
    <h2 {% if settings.language_enable %}data-translate="customer.login.guest_title"{% endif %}>{{ 'customer.login.guest_title' | t }}</h2> 
    {% form 'guest_login' %}
    <input type="submit" class="btn" {% if settings.language_enable %}data-translate="customer.login.guest_continue"{% endif %} value="{{ 'customer.login.guest_continue' | t }}">
    {% endform %}
    {% endif %} 
  </div> 
</div>
