<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head> 
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="google-site-verification" content="EjzeP0haYPvvK5LBwM715euabLjLuqga3rr26FAaiA4" />
  <meta name="msvalidate.01" content="CA84A33315F0CF2DC767E1F0075BB540" />
  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="https://cdn2.bigcommerce.com/n-ou1isn/mvvwa0j/product_images/love.gif" />
  {% endif %} 
  {% if template contains 'index' %}
  {% if page_title != blank and page_title != 'Welcome' %}
  <title>{{ page_title }}</title>
  {% else %}
  <title>{{ shop.name }}</title>
  {% endif %}
  {% elsif template == '404' %}
  <title>Page Not Found - {{ shop.name }}</title>
  {% else %}
   <title>
     {% if current_tags %}
         {% assign meta_tags = current_tags | join: ','%}
         {% assign meta_tags_array =  meta_tags | split: ' ' %} 
         {% for meta_tags_word in meta_tags_array %} 
           {% assign tag = meta_tags_word  | capitalize %}
             {{tag}}
         {% endfor %} - {{ shop.name }}
     {% else %}
  {{page_title |append:'  '}} - {{ shop.name }}
 {% endif %}{% endif %}
  </title>
  {% assign set_no_index = page_title | handle %}
  {% if set_no_index == 'thanks-for-registering-with-us' %}
  <meta name="robots" content="noindex"/>
  {% endif %}
  
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <script type="text/javascript">
/*(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/FffY4x6R8smOX8vko2oxjtzxTEAzy8XvFbL6GM1k/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();*/
</script>
            
  
  <!-- Hotjar Tracking Code for http://loveluggage.com.au -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:283342,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  
  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  {% if canonical_url contains 'collections' %}
    <link rel="canonical" href="{{ shop.url }}/collections/{{ collection.handle }}">
  {% else %}
   {% if template contains 'blog' %}
        <link rel="canonical" href="{{ shop.url }}{{blog.url}}" />
     {% else %}
      <link rel="canonical" href="{{ canonical_url }}" />
    {% endif %}
{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <meta name="theme-color" content="{{ settings.color_primary }}">
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  <!-- CSS ================================================== -->
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  {{ 'elegantfont.css' | asset_url | stylesheet_tag }}
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  {{ 'ico-slider.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
  {{ 'owl.theme.css' | asset_url | stylesheet_tag }}
  {{ 'owl.effects.css' | asset_url | stylesheet_tag }}
  {{ 'effect.css' | asset_url | stylesheet_tag }}
  {{ 'ultramegamenu.scss' | asset_url | stylesheet_tag }}
  {{ 'colorbox.css' | asset_url | stylesheet_tag }}
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  {{ 'color-config.scss.css' | asset_url | stylesheet_tag }} 
  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }} 
<!--   {{ 'jquery.bxslider.css' | asset_url | stylesheet_tag }} -->
  {{ 'styles1.scss.css' | asset_url | stylesheet_tag }}
  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'bootstrap.min.js' | asset_url | script_tag }}
  {{ 'jquery.cookie.min.js' | asset_url | script_tag }}
   {{'jquery.ba-dotimeout.min.js'  | asset_url | script_tag}}
   {{'theme.liquid.js'  | asset_url | script_tag}}
  {% if template contains 'contact' %}
  {{ '//maps.googleapis.com/maps/api/js' | script_tag }} 
  {% endif %}
  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  <link href="//fonts.googleapis.com/css?family={{ settings.google_font }}:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400&amp;subset=cyrillic-ext,greek-ext,latin,latin-ext,cyrillic,greek,vietnamese" rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400italic,400' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    var productsObj = {}; 
    var swatch_color_enable = {{ settings.product_color_swatches_enable }};
    var asset_url = '{{'' | asset_url}}';
    var money_format = '<span class="money">{{shop.money_format}}</span>';
    var multi_language = {{settings.language_enable}};
  </script> 
  {% include 'translator' %}
  <style>
    {% if settings.product_color_swatches_enable != blank %}
    .product-view .product-options .selector-wrapper {
    	display: none;
    }
    {% endif %}
  </style>
  {% if template contains 'collection' %}
  {{ 'stickyfill.js' | asset_url | script_tag }}
  {% endif %}
   
<!--   {{ 'jquery-ias.js' | asset_url | script_tag }}
  <script type="text/javascript">
var ias = $.ias({
  container:  ".category-products",
  item:       ".item",
  pagination: ".pagination",
  next:       ".next a"
});

ias.extension(new IASSpinnerExtension());            // shows a spinner (a.k.a. loader)
ias.extension(new IASTriggerExtension({offset: 3})); // shows a trigger after page 3
ias.extension(new IASNoneLeftExtension({
  text: 'There are no more pages left to load.'      // override text when no pages left
}));
</script> -->

   {{ 'owl.carousel.js' | asset_url | script_tag }}
  
</head> 

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" > 
  <!-- begin site-header -->
  {% include 'header' %}
  <!-- //site-header --> 
  <div class="main-container">
    <div class="main-wrapper">
      <div class="main"> 
        {{ content_for_layout }} 
      </div> 
    </div>
  </div> 
  <!-- begin site-footer -->
  {% include 'footer' %}
  <!-- //site-footer --> 
  {% comment %}
  {% if template contains 'index' %}
  	{% include 'newsletter-popup' %} 
  {% endif %}
  {% endcomment %}
    {% include 'subscribe-popup' %}

  {% include 'box-popup' %} 
  <script type="text/javascript">
    var frontendData = {};
    frontendData.logo = "{{ 'logo.png' | asset_url }}";
    frontendData.logoHome = "{{ 'logo-home.png' | asset_url }}";
    frontendData.logoRetina = "{{ 'logo-x2.png' | asset_url }}";
    frontendData.logoHomeRetina = "{{ 'logo-home-x2.png' | asset_url }}";
    frontendData.enableCurrency = {{ settings.currency_enable }};
    
    
    
    var dataZoom = {};
    dataZoom.loading = '{{ 'loader.gif' | asset_url }}';
    {% if template contains 'product' %}
    dataZoom.lightbox = {{ settings.media_zoom_lightbox_enable }};
      {% else %}
      dataZoom.lightbox = false;
    {% endif %}
    dataZoom.position = '{{ settings.media_zoom_position }}';
    var cartData = {};
    if (multi_language && translator.isLang2()) {
      cartData.removeItemLabel = window.lang2.cart.header.remove_this_item;
      cartData.totalLabel = window.lang2.cart.header.total;
      cartData.noItemLabel = window.lang2.cart.header.no_item;
      cartData.buttonViewCart = window.lang2.cart.header.view_cart;
      cartData.buttonCheckout = window.lang2.cart.header.checkout;
    }else{
      cartData.removeItemLabel = '{{ 'cart.header.remove_this_item' | t }}';
      cartData.totalLabel = '{{ 'cart.header.total' | t }}';
      cartData.noItemLabel = '{{ 'cart.header.no_item' | t }}';
      cartData.buttonViewCart = '{{ 'cart.header.view_cart' | t }}';
      cartData.buttonCheckout = '{{ 'cart.header.checkout' | t }}';
    } 
  </script> 
  {% if template == 'collection' or template contains 'collection.' %}
  {{ 'shopify_common.js' | asset_url | script_tag }} 
  {{ 'jquery.history.min.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'theme-scripts.js' | asset_url | script_tag }}
  {{ 'ico-slider.min.js' | asset_url | script_tag }}
  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'form.js' | asset_url | script_tag }} 
  {{ "jquery.elevatezoom.min.js" | asset_url | script_tag }} 
  {{ "jquery.fancybox.pack.js" | asset_url | script_tag }} 
  {{ 'option_selection.js' | asset_url | script_tag }} 
  {{ 'frontend.js' | asset_url | script_tag }}
  {{ 'jquery.ajaxchimp.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
 
  {% include 'currency' %}
  {% include 'linked-options' %} 
  <script>
    {% if newHash %}
    $(function() {
      timber.updateHash('{{ newHash }}');
    });
    {% endif %}
    {% if resetPassword %}
    $(function() {
      timber.resetPasswordSuccess();
    });
    {% endif %}
  </script>  
  <script>
    $(document).ready(function(){
    
                       
     
   
    });
    
    </script>
  

{% if settings.sticky_header_enable != blank %}
  <script>
   $(window).scroll(function() {
  if ($(this).scrollTop() > 40){  
    $('.ad-brd-mnu').addClass("sticky");
    $('.nav-logo').css("display","block");
    $('.ad-top-bar').css("display","none");
   $('.header-cnt').css("display","none");
   $('.top-container').css("padding-top","128px");
     $('.main-container').css("padding-top","0px");
    $('div.main-navigation ul.top-navigation .menu-wrap-sub').css("top","47px");
      $('.cart-sticky').css("display","block");
     $('.topmost_header').css("display","block");
     $('.mobile-header').css("height","73px");
    
    
    
  }
  else{
    $('.ad-brd-mnu').removeClass("sticky");
        $('.ad-top-bar').css("display","block");
   $('.header-cnt').css("display","block");
    $('.nav-logo').css("display","none");
        $('.topmost_header').css("display","block");
    $('.mobile-header').css("height","72px");
   
    if ($(window).width() > 1024){ 
     $('.main-container').css("padding-top","0px");
      $('.top-container').css("padding-top","230px");
        $('.cart-sticky').css("display","none");
     } 
   
    
     
      
  }
});
  </script>
  
   {% endif %}
  
<script>
setTimeout(function(){
//var date = new Date();
//date.setTime(date.getTime() + (60 * 5000));  
$('#colorbox button#cboxClose').on('click', function(){
ICO.collection.createCookie('newsletterSubscribe', 'true', 7);     
});
    },500);
  
  
   $(window).scroll(function() {   
   if($(window).scrollTop() + $(window).height() > $(document).height() - 200) {
     //$('.col-md-3.col-sm-12.col-lg-3.sidebar'). css({"position": "absolute", "left": "0px", "right": "877.5px", "top": "auto","bottom": "0px" , "width": "auto" , "margin-left": "0px", "margin-right": "0px"});
    
   }
     else{
     // $('.col-md-3.col-sm-12.col-lg-3.sidebar'). css({"position": "fixed", "left": "384.971px", "right": "1262.54px", "top": "60px", "bottom": "auto", "width": "auto", "margin-left": "0px", "margin-right": "0px","margin-top": "0px"});
//      // $('.col-md-3.col-sm-12.col-lg-3.sidebar').removeClass("abbss");
//       if($(window).scrollTop() > 100) {
//         $('.col-md-3.col-sm-12.col-lg-3.sidebar').addClass("fixeddd");
        
//       } else {
//        $('.col-md-3.col-sm-12.col-lg-3.sidebar').removeClass("fixeddd");
//       }
 
       
     }
});
  
</script>  
<!--  <style>
   

   .fixeddd{
     position: fixed; left: 276.333px; right: 1154.17px; top: 60px; bottom: auto; width: auto; margin-left: 0px; margin-right: 0px; margin-top: 0px;
   }
  </style> -->
  

  <!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
var google_tag_params = {
{% if template contains 'product' %}ecomm_prodid: 'shopify_AU_{{ product.id }}_{{ product.variants.first.id }}',{% endif %}
ecomm_pagetype: '{% if template contains 'collection' %}category{% else %}{{ template }}{% endif %}',
{% if template contains 'template' %}ecomm_totalvalue: {{ product.price_min | money_without_currency }},{% endif %}
};
</script>
 <![CDATA[ */
var google_conversion_id = 1041549710;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> 
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1041549710/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
  
 {% include 'search-autocomplete' %}

          {% include 'booster-discounts' %}
        
<!-- CRITEO START -->
{% include 'criteo-tracking' %}
<!-- CRITEO END -->
</body>
</html>
