<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/RWBwXSMjO8liyCvDf0GcM6L7wzHdodwDO3PIwdpR/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
  

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="google-site-verification" content="EjzeP0haYPvvK5LBwM715euabLjLuqga3rr26FAaiA4"/>
  <meta name="msvalidate.01" content="CA84A33315F0CF2DC767E1F0075BB540"/>
  <meta name="google-site-verification" content="EjzeP0haYPvvK5LBwM715euabLjLuqga3rr26FAaiA4"/>
    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5JS69L4');</script>
  <!-- End Google Tag Manager -->
  
  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="https://cdn.shopify.com/s/files/1/2129/3845/t/2/assets/favicon.png" />
  <script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='bdcc9683775f6976e42097d92dcce483d17ffef9bd2aca101df19d6264e65e07';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
  <meta name="google-site-verification" content="X9WMyGcK1ZcHGgGN3WMjn9BRyAj1WylgETTmDNiq8Fo" />

  {% endif %}

  {%- if template contains 'index' -%}
    {%- if page_title != blank and page_title != 'Welcome' -%}
      <title>{{ page_title }}</title>
    {%- else -%}
      <title>{{ shop.name }}</title>
    {%- endif -%}
  {%- elsif template == '404' -%}
    <title>Page Not Found - {{ shop.name }}</title>
  {%- else -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ',' -%}
      {%- assign meta_tags_array =  meta_tags | split: ' ' -%}
      {%- for meta_tags_word in meta_tags_array -%}
        {%- assign tag = meta_tags_word  | capitalize -%}
        <title>{{ tag }}
      {%- endfor -%} - {{ shop.name }}</title>
    {%- else -%}
      {%- if template contains 'collection' -%}
        <title>{{ page_title }}</title>
      {%- else -%}
        <title>{{ page_title }} - {{ shop.name }}</title>
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
  {%- assign set_no_index = page_title | handle -%}
  {%- if set_no_index == 'thanks-for-registering-with-us' -%}
  <meta name="robots" content="noindex"/>
  {%- endif -%}
  
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  
<script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>
<script> window.renderBadge = function() { var ratingBadgeContainer = document.createElement("div"); document.body.appendChild(ratingBadgeContainer); window.gapi.load('ratingbadge', function() { window.gapi.ratingbadge.render(ratingBadgeContainer, {"merchant_id": 108088525}); }); } </script>

  <!--<script type="text/javascript">
      /*(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/FffY4x6R8smOX8vko2oxjtzxTEAzy8XvFbL6GM1k/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();*/
  </script>-->

  <script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>
  <script> window.renderBadge = function () {
          var ratingBadgeContainer = document.createElement("div");
          document.body.appendChild(ratingBadgeContainer);
          window.gapi.load('ratingbadge', function () {
              window.gapi.ratingbadge.render(ratingBadgeContainer, {"merchant_id": 108088525});
          });
      } </script>

  <!-- Hotjar Tracking Code for http://loveluggage.com.au
  <script>
      (function (h, o, t, j, a, r) {
          h.hj = h.hj || function () {
              (h.hj.q = h.hj.q || []).push(arguments)
          };
          h._hjSettings = {hjid: 283342, hjsv: 5};
          a = o.getElementsByTagName('head')[0];
          r = o.createElement('script');
          r.async = 1;
          r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
          a.appendChild(r);
      })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
   -->
  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  {% if canonical_url contains 'collections' %}
    <link rel="canonical" href="{{ shop.url }}/collections/{{ collection.handle }}">
  {% else %}
   {% if template contains 'blog' %}
        <link rel="canonical" href="{{ shop.url }}{{blog.url}}" />
     {% else %}
      <link rel="canonical" href="{{ canonical_url }}" />
    {% endif %}
{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <meta name="theme-color" content="{{ settings.color_primary }}">
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  <!-- CSS ================================================== -->
  {{ 'mailchimp.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  {{ 'elegantfont.css' | asset_url | stylesheet_tag }}
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet" type='text/css'>
  {{ 'ico-slider.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
  {{ 'owl.theme.css' | asset_url | stylesheet_tag }}
  {{ 'owl.effects.css' | asset_url | stylesheet_tag }}
  {{ 'effect.css' | asset_url | stylesheet_tag }}
  {{ 'ultramegamenu.scss' | asset_url | stylesheet_tag }}
  {{ 'colorbox.css' | asset_url | stylesheet_tag }}
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  {{ 'color-config.scss.css' | asset_url | stylesheet_tag }} 

  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }} 
<!--   {{ 'jquery.bxslider.css' | asset_url | stylesheet_tag }} -->
  {{ 'styles1.scss.css' | asset_url | stylesheet_tag }}
  
   {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}

  <style>
    .slider {
      width: 100%;
      margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }

    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }
  </style>
  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{'fancybox.pack.js'  | asset_url | script_tag}} 
  {{'jquery.fancybox.js'  | asset_url | script_tag}}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'bootstrap.min.js' | asset_url | script_tag }} 
  {{ 'jquery.cookie.min.js' | asset_url | script_tag }}
  {{'jquery.ba-dotimeout.min.js'  | asset_url | script_tag}}
  {{'theme.liquid.js'  | asset_url | script_tag}} 
 
  {{ 'slick.js' | asset_url | script_tag }}

  {% if template contains 'cart' %}
  {% endif %}
	{{ 'jquery.sticky-kit.min.js' | asset_url | script_tag }}

  {% if template contains 'contact' %}
  {{ '//maps.googleapis.com/maps/api/js' | script_tag }} 
  {% endif %}
  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  <link href="//fonts.googleapis.com/css?family={{ settings.google_font }}:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400&amp;subset=cyrillic-ext,greek-ext,latin,latin-ext,cyrillic,greek,vietnamese" rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400italic,400' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    var productsObj = {}; 
    var swatch_color_enable = {{ settings.product_color_swatches_enable }};
    var asset_url = '{{'' | asset_url}}';
    var money_format = '<span class="money">{{shop.money_format}}</span>';
    var multi_language = {{settings.language_enable}};
  </script> 
  {% include 'translator' %}
  <style>
    {% if settings.product_color_swatches_enable != blank %}
    .product-view .product-options .selector-wrapper {
    	display: none;
    }
    {% endif %}
  </style>
  {% if template contains 'collection' %}
  {{ 'stickyfill.js' | asset_url | script_tag }}
  {% endif %}
   
<!--   {{ 'jquery-ias.js' | asset_url | script_tag }}
  <script type="text/javascript">
var ias = $.ias({
  container:  ".category-products",
  item:       ".item",
  pagination: ".pagination",
  next:       ".next a"
});

ias.extension(new IASSpinnerExtension());            // shows a spinner (a.k.a. loader)
ias.extension(new IASTriggerExtension({offset: 3})); // shows a trigger after page 3
ias.extension(new IASNoneLeftExtension({
  text: 'There are no more pages left to load.'      // override text when no pages left
}));
</script> -->
    
{{ 'owl.carousel.js' | asset_url | script_tag }}
  
{% if template contains 'product' %}
  <link rel="amphtml" href="//{{shop.domain}}/apps/fireamp/products/{{product.handle}}" >
{% endif %}{% if template contains 'collection' %}
  <link rel="amphtml" href="//{{shop.domain}}/apps/fireamp/collections/{{collection.handle}}" >
{% endif %}
{% if template contains 'blog' %}  
      <link rel="amphtml" href="//{{shop.domain}}/apps/fireamp/blogs/{{blog.handle}}" >
{% endif %}
{% if template contains 'article' %}
      <link rel="amphtml" href="//{{shop.domain}}/apps/fireamp/blogs/{{article.handle}}" >
{% endif %}  

{{ 'bc-sf-filter.css' | asset_url | stylesheet_tag }}
</head> 

  {% if template contains 'product' %}
    <link rel="amphtml" href="//{{ shop.domain }}/apps/fireamp/products/{{ product.handle }}">
  {% endif %}{% if template contains 'collection' %}
    <link rel="amphtml" href="//{{ shop.domain }}/apps/fireamp/collections/{{ collection.handle }}">
  {% endif %}
  {% if template contains 'blog' %}
    <link rel="amphtml" href="//{{ shop.domain }}/apps/fireamp/blogs/{{ blog.handle }}">
  {% endif %}
  {% if template contains 'article' %}
    <link rel="amphtml" href="//{{ shop.domain }}/apps/fireamp/blogs/{{ article.handle }}">
  {% endif %}

  {{ 'bc-sf-filter.css' | asset_url | stylesheet_tag }}
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</head>

<body id="{{ page_title | handle }}"
      class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JS69L4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
<!-- cart drawer -->
<div class="page-overlay"></div>
{% include 'cart-drawer' %}
<!-- end cart drawer -->
<!-- begin site-header -->
{% include 'header' %}
<!-- //site-header -->
<div class="main-container">
  <div class="main-wrapper">
    <div class="main">
      {{ content_for_layout }}
    </div>
  </div> 
  <!-- begin site-footer -->
  {% include 'footer' %}
  <!-- //site-footer --> 
  {% comment %}
  {% if template contains 'index' %}
  	{% include 'newsletter-popup' %} 
  {% endif %}
  {% endcomment %}
  {% include 'box-popup' %} 
  <script type="text/javascript">
    var frontendData = {};
    frontendData.logo = "{{ 'logo.png' | asset_url }}";
    frontendData.logoHome = "{{ 'logo-home.png' | asset_url }}";
    frontendData.logoRetina = "{{ 'logo-x2.png' | asset_url }}";
    frontendData.logoHomeRetina = "{{ 'logo-home-x2.png' | asset_url }}";
    frontendData.enableCurrency = {{ settings.currency_enable }};
    
    
    
    var dataZoom = {};
    dataZoom.loading = '{{ 'loader.gif' | asset_url }}';
    {% if template contains 'product' %}
    dataZoom.lightbox = {{ settings.media_zoom_lightbox_enable }};
      {% else %}
      dataZoom.lightbox = false;
    {% endif %}
    dataZoom.position = '{{ settings.media_zoom_position }}';
    var cartData = {};
    if (multi_language && translator.isLang2()) {
      cartData.removeItemLabel = window.lang2.cart.header.remove_this_item;
      cartData.totalLabel = window.lang2.cart.header.total;
      cartData.noItemLabel = window.lang2.cart.header.no_item;
      cartData.buttonViewCart = window.lang2.cart.header.view_cart;
      cartData.buttonCheckout = window.lang2.cart.header.checkout;
    }else{
      cartData.removeItemLabel = '{{ 'cart.header.remove_this_item' | t }}';
      cartData.totalLabel = '{{ 'cart.header.total' | t }}';
      cartData.noItemLabel = '{{ 'cart.header.no_item' | t }}';
      cartData.buttonViewCart = '{{ 'cart.header.view_cart' | t }}';
      cartData.buttonCheckout = '{{ 'cart.header.checkout' | t }}';
    } 
  </script> 
  {% if template == 'collection' or template contains 'collection.' %}
  {{ 'shopify_common.js' | asset_url | script_tag }} 
  {{ 'jquery.history.min.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'theme-scripts.js' | asset_url | script_tag }}
  {{ 'ico-slider.min.js' | asset_url | script_tag }}
  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'form.js' | asset_url | script_tag }} 
  {{ "jquery.elevatezoom.min.js" | asset_url | script_tag }} 
  {{ "jquery.fancybox.pack.js" | asset_url | script_tag }} 
  {{ 'option_selection.js' | asset_url | script_tag }} 
  {{ 'frontend.js' | asset_url | script_tag }}
  {{ 'jquery.ajaxchimp.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
 
  {% include 'currency' %}
  {% include 'linked-options' %} 
  <script>
    {% if newHash %}
    $(function() {
      timber.updateHash('{{ newHash }}');
    });
    {% endif %}
    {% if resetPassword %}
    $(function() {
      timber.resetPasswordSuccess();
    });
    {% endif %}
  </script>   

{% if settings.sticky_header_enable != blank %}
  <script>
    $(window).scroll(function() {
     //if ($(this).scrollTop() > 40){ 
        if ($(this).scrollTop() > 0){
        //$('body').addClass("sticky-active");
        $('.ad-brd-mnu').addClass("sticky");
        $('.nav-logo').css("display","block");
        $('.ad-top-bar').css("display","none");
        //$('.header-cnt').css("display","none");
        $('.top-container').css("padding-top","100px");
        $('.main-container').css("padding-top","0px");
        $('div.main-navigation ul.top-navigation .menu-wrap-sub').css("top","47px");
        $('.cart-sticky').css("display","block");
       // $('.topmost_header').css("display","block");
        $('.topmost_header').addClass("top-cart");
        $('.mobile-header').css("height","73px");
        if ($(window).width() > 1024) {  
        	$($(".header-wrapper .main-header .ad-brd-mnu.sticky .cart-sticky")).insertAfter('.header-wrapper .main-header .topmost_header .ad-top-bar .head-text');
        }
      }
      else{
        //$('body').removeClass("sticky-active");
        $('.ad-brd-mnu').removeClass("sticky");
        $('.topmost_header').removeClass("top-cart");
        $('.ad-top-bar').css("display","block");
        //$('.header-cnt').css("display","block");
        $('.nav-logo').css("display","none");
        //$('.topmost_header').css("display","block");
        $('.mobile-header').css("height","72px");
        if ($(window).width() > 1024) { 
          $($(".header-wrapper .main-header .topmost_header .ad-top-bar .cart-sticky")).insertAfter('.header-wrapper .main-header .ad-brd-mnu .header-maincart .navigation-wrapper');
          $('.main-container').css("padding-top","0px");
          $('.top-container').css("padding-top","312px");
          $('.cart-sticky').css("display","none");
        } 




      }
    });
  </script>
  
   {% endif %}

  
<!-- custom code for javascript  -->
  
<script type="text/javascript">
  
/*$('.lightbox-slider-popup').ALightBox({
 effectTime: 200,
 showImageTitle: true,
 showGalleryTitle: true,
 roundRobin: true,
});*/
  
$(function () {
    //$(".navigation-wrapper .main-navigation ul li").on('mouseenter', function (e) {
  	$(".navigation-wrapper .main-navigation ul li").each(function (e) {
        if ($('.menu-wrap-sub', this).length) {
          	
            var elm = $('.menu-wrap-sub', this);
            var off = elm.offset();
            var l = off.left;
            var w = elm.width();
            var docH = $(".wrapper-top-menu.container").height();
            var docW = $(".wrapper-top-menu.container").width();
          
            var isEntirelyVisible = (l + w <= docW - 10);

            if (!isEntirelyVisible) {
                $(this).addClass('edge');
            } else {
                $(this).removeClass('edge');
            }
        }
    });
  
	/*$(".navigation-wrapper .main-navigation ul li").on('mouseleave', function (e) {
      $(this).removeClass('edge');
    });*/
});  
  
  
  
  
setTimeout(function(){
//var date = new Date();
//date.setTime(date.getTime() + (60 * 5000));  
$('#colorbox button#cboxClose').on('click', function(){
ICO.collection.createCookie('newsletterSubscribe', 'true', 7);     
});
    },500);
  
  
   $(window).scroll(function() {   
   if($(window).scrollTop() + $(window).height() > $(document).height() - 200) {
     //$('.col-md-3.col-sm-12.col-lg-3.sidebar'). css({"position": "absolute", "left": "0px", "right": "877.5px", "top": "auto","bottom": "0px" , "width": "auto" , "margin-left": "0px", "margin-right": "0px"});
    
   }
     else{
     // $('.col-md-3.col-sm-12.col-lg-3.sidebar'). css({"position": "fixed", "left": "384.971px", "right": "1262.54px", "top": "60px", "bottom": "auto", "width": "auto", "margin-left": "0px", "margin-right": "0px","margin-top": "0px"});
//      // $('.col-md-3.col-sm-12.col-lg-3.sidebar').removeClass("abbss");
//       if($(window).scrollTop() > 100) {
//         $('.col-md-3.col-sm-12.col-lg-3.sidebar').addClass("fixeddd");
        
//       } else {
//        $('.col-md-3.col-sm-12.col-lg-3.sidebar').removeClass("fixeddd");
//       }
 
       
     }
});
  
</script>  
<!--  <style>
   

   .fixeddd{
     position: fixed; left: 276.333px; right: 1154.17px; top: 60px; bottom: auto; width: auto; margin-left: 0px; margin-right: 0px; margin-top: 0px;
   }
  </style> -->
  

  <!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
var google_tag_params = {
{% if template contains 'product' %}ecomm_prodid: 'shopify_AU_{{ product.id }}_{{ product.variants.first.id }}',{% endif %}
ecomm_pagetype: '{% if template contains 'collection' %}category{% else %}{{ template }}{% endif %}',
{% if template contains 'template' %}ecomm_totalvalue: {{ product.price_min | money_without_currency }},{% endif %}
};
</script>
 <![CDATA[ */
var google_conversion_id = 1041549710;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> 
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
        <style type="text/css" id="hustle-cc-styles"></style>
        <!--Embed from Zendesk Chat Chat Wordpress Plugin v1.4.10-->
  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
  $.src='//v2.zopim.com/?3cG6RbnVrbccqNy2KSQ7AYT66ufNWdrj';z.t=+new Date;$.
  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
  </script><script>$zopim( function() {
})</script><!--End of Zendesk Chat Script-->
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1041549710/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
  
 {% comment %} {% include 'search-autocomplete' %} {% endcomment %}

      {% include 'booster-discounts' %}
    
<!-- CRITEO START -->
{% include 'criteo-tracking' %}
<!-- CRITEO END -->

{% include 'bc-sf-filter' %}
{% if template contains 'product' %}
  <script>
      var reviewLink = $('.yotpo.bottomLine');
      var reviewTablink = $('a[href="#product_tabs_yopto"]');
      if (reviewLink) {
          reviewLink.on('click', function(event) {
              event.preventDefault();
              if ($('#product-tab').find('.active')) {
                  $('#product-tab').find('.active').removeClass('active');
                  reviewTablink.click();
                  $('html, body').animate({
                      scrollTop: reviewTablink.offset().top
                  }, 500);
              }
          })
      }
      /*$(document).on('click', 'a[href^="#"]', function (event) {
          event.preventDefault();

          $('html, body').animate({
              scrollTop: $($.attr(this, 'href')).offset().top
          }, 500);
      });*/
  </script>
{% endif %}
  {% if template contains 'index' %}
    <script>
        function initMap () {
            const theLightingOutlet = {lat: -33.958, lng: 151.2243238};
            var mapCenter;
            if ($(window).width() >= 1024 ){
                mapCenter = theLightingOutlet;
            } else {
                mapCenter = {lat: -33.94, lng: 151.2243238};
            }
            let map = new google.maps.Map(document.getElementById('google-maps_interactive'), {
                zoom: 13,
                center: mapCenter
            });
            let marker = new google.maps.Marker({
                position: theLightingOutlet,
                map: map
            });
            let contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading" style="text-align: center; font-size: 1.4em;"><a href="https://goo.gl/maps/6k3t6vAFmsn" target="_blank">The Lighting Outlet</a></h1>'+
                '<div id="bodyContent">'+
                '<p style="text-align: center"><a href="https://goo.gl/maps/6k3t6vAFmsn" target="_blank">2/133-137 Beauchamp Rd, \n' +
                'Matraville NSW 2036</a></p>'+
                '</div>'+
                '</div>';

            let infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
            infowindow.open(map, marker);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiQNX7-ZvxXKRekwbFy95z9ENPcxt2Z2w&callback=initMap">
    </script>
  {% endif %}
  {% if template contains 'collection' %}
  <script>
	jQuery(document).ready(function() {
			setTimeout(function() {
			},1000);
			
		jQuery('#collection-main').on('click', '.item.product a', function(){
			jQuery.cookie('bcsf_product', jQuery(window).scrollTop() , 1);
			// console.log(jQuery(this).closest('.item.product').index());
			// console.log(jQuery.cookie('bcsf_product'));
		})
		
		var getHistory = setInterval(function() {
			if ( jQuery('.bc-sf-filter-load-more-button').length == 0 ) return;
			
				var collection = jQuery.cookie('bcsf_collection');
				var page = parseInt(jQuery.cookie('bcsf_page'));
				// console.log(jQuery.cookie('bcsf_page'));
				// console.log(bcSfFilterMainConfig.general.collection_id);
				// console.log(collection);
				if ( bcSfFilterMainConfig.general.collection_id == collection ) {
					history.scrollRestoration = 'manual';
					// console.log('hello');
					// console.log(page);
					var i=0;
					// var start = new Date().getTime();
					var loadPageHistory = setInterval(function(){
						// if ( (new Date().getTime() - start) < 2000 ) continue;
						// start = new Date().getTime();
						if ( jQuery('#bc-sf-filter-load-more-loading').length != 0 ) return;
						// console.log('load 1 page');
						simulate(document.getElementsByClassName("bc-sf-filter-load-more-button")[0], "click");
						i++;
						if ( i == page-1 ) {
							clearInterval(loadPageHistory);
							if ( jQuery.cookie('bcsf_product') != '' ) {
								setTimeout(function() {
									console.log(jQuery.cookie('bcsf_product'));
									jQuery(window).scrollTop( jQuery.cookie('bcsf_product') );
									jQuery.cookie('bcsf_product', '' , 1);
								},500);
							}
						}
					},50);
				}
				
			
			
			jQuery(window).scroll(function(){
				var loadMorePos = jQuery('.bc-sf-filter-load-more-button').offset().top;
				var scrollPos = parseInt(jQuery(window).scrollTop()) + jQuery(window).height();
				var productCount = {{ collection.all_products_count }};
				var bcsf_total_product = parseInt(jQuery.cookie('bcsf_total_product'));
				//console.log(bcsf_total_product);
				productCount =  bcsf_total_product?bcsf_total_product:productCount;
				if ( jQuery('.product.item').length < productCount ) {
					if ( scrollPos >= loadMorePos ) {
						if ( jQuery('#bc-sf-filter-load-more-loading').length ) return;
						simulate(document.getElementsByClassName("bc-sf-filter-load-more-button")[0], "click");
						// console.log(document.getElementsByClassName("bc-sf-filter-load-more-button").length);
						// jQuery('.bc-sf-filter-load-more-button').click();
					} 
				}
				else {
					jQuery('#bc-sf-filter-load-more-loading').hide();
				}
			});
			
			clearInterval(getHistory);
		},50 );
	});
	
function simulate(element, eventName)
{
    var options = extend(defaultOptions, arguments[2] || {});
    var oEvent, eventType = null;

    for (var name in eventMatchers)
    {
        if (eventMatchers[name].test(eventName)) { eventType = name; break; }
    }

    if (!eventType)
        throw new SyntaxError('Only HTMLEvents and MouseEvents interfaces are supported');

    if (document.createEvent)
    {
        oEvent = document.createEvent(eventType);
        if (eventType == 'HTMLEvents')
        {
            oEvent.initEvent(eventName, options.bubbles, options.cancelable);
        }
        else
        {
            oEvent.initMouseEvent(eventName, options.bubbles, options.cancelable, document.defaultView,
            options.button, options.pointerX, options.pointerY, options.pointerX, options.pointerY,
            options.ctrlKey, options.altKey, options.shiftKey, options.metaKey, options.button, element);
        }
        element.dispatchEvent(oEvent);
    }
    else
    {
        options.clientX = options.pointerX;
        options.clientY = options.pointerY;
        var evt = document.createEventObject();
        oEvent = extend(evt, options);
        element.fireEvent('on' + eventName, oEvent);
    }
    return element;
}

function extend(destination, source) {
    for (var property in source)
      destination[property] = source[property];
    return destination;
}

var eventMatchers = {
    'HTMLEvents': /^(?:load|unload|abort|error|select|change|submit|reset|focus|blur|resize|scroll)$/,
    'MouseEvents': /^(?:click|dblclick|mouse(?:down|up|over|move|out))$/
}
var defaultOptions = {
    pointerX: 0,
    pointerY: 0,
    button: 0,
    ctrlKey: false,
    altKey: false,
    shiftKey: false,
    metaKey: false,
    bubbles: true,
    cancelable: true
}
  </script>
  {% endif %}
    {% include 'structured-data' %}

    {% section 'sale-popup' %}

<script>
jQuery(document).ready(function() {
	jQuery('#bc-sf-filter-products').on('click', '.item.product a.quick-view', function(e) {
		e.preventDefault();
		if ( jQuery(this).hasClass('processing') ) return false;
		jQuery('#bc-sf-filter-products .item.product a.quick-view').addClass('processing');
		var productURL = jQuery(this).attr("href");
		$.ajax({
            type: 'GET',
            url: productURL,
            beforeSend: function() {
				jQuery('#quick-view-product .modal-body .product-essential').html('');
				jQuery('#quick-view-product .modal-body .loading').show();
				jQuery('#quick-view-product').modal();
            },
            success: function(data) {
				//console.log('successs');
				jQuery('#quick-view-product .modal-body .loading').hide();
				var filteredData = $(data).find(".product-img-box");
				jQuery('#quick-view-product .modal-body .product-essential').append(filteredData);
				var filteredData = $(data).find(".product-shop");
				jQuery('#quick-view-product .modal-body .product-essential').append(filteredData);
				/*jQuery('#quick-view-product .modal-body .product-essential .product-shop').append('<a href="'+productURL+'" class="more-info">Full Product Description</a>');*/
                var productinfoData = $(data).find("#product_tabs_description .tab-pane-content");
                jQuery('#quick-view-product .modal-body .product-essential .product-shop').append(productinfoData);
				jQuery('#quick-view-product .modal-body .product-essential .product-shop').append('<a href="'+productURL+'" class="more-info toggle-info">More Infomation</a>');
				jQuery('#bc-sf-filter-products .item.product a.quick-view').removeClass('processing');
				/*jQuery('#quick-view-product .modal-body .product-essential .product-shop .tab-pane-content').hide();*/
            },
            dataType: "html"
        });
	});
	/*jQuery('#quick-view-product').on('click', '.more-info.toggle-info', function(e) {
		e.preventDefault();
		jQuery(this).toggleClass('opened');
		jQuery('#quick-view-product .modal-body .product-essential .product-shop .tab-pane-content').slideToggle();
		if (jQuery(this).hasClass('opened')) {
			jQuery(this).html('Less infomation');
		} else {
			jQuery(this).html('More infomation');
		}
	});*/
    jQuery('.product-shop .product-spec-share').on('click', '.spec-print a.print-link', function(e) {
        e.preventDefault();
        window.print();
    });
    {% if template contains 'product' %}
    var productprintURL = window.location.href;
    $.ajax({
        type: 'GET',
        url: productprintURL,
        beforeSend: function() {
            jQuery('#pdf-print-box .pdf-print-body .product-site-logo').html('');
            jQuery('#pdf-print-box .pdf-print-body .product-title').html('');
            jQuery('#pdf-print-box .pdf-print-body .product-images').html('');
            jQuery('#pdf-print-box .pdf-print-body .product-info').html('');
        },
        success: function(data) {
            var productlogoData = $(data).find("#main-header .logo_img img.x1");
            jQuery('#pdf-print-box .pdf-print-body .product-site-logo').append(productlogoData);
            var productnameData = $(data).find(".product-shop .product-name h1");
            jQuery('#pdf-print-box .pdf-print-body .product-title').append(productnameData);
            var productimageData = $(data).find(".product-img-box .product-image-gallery img");
            var productpriceData = $(data).find(".product-shop .custom-no-table");
            jQuery('#pdf-print-box .pdf-print-body .product-pricing').append(productpriceData);
            jQuery('#pdf-print-box .pdf-print-body .product-images').append(productimageData);
            var productinfoData = $(data).find("#product_tabs_description .tab-pane-content");
            jQuery('#pdf-print-box .pdf-print-body .product-info').append(productinfoData);
        },
        dataType: "html"
    });
    {% endif %}
})
</script>
<!-- Modal -->
<div id="quick-view-product" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-body">
		<div class="product-view product">
			<div class="product-essential clearfix">
			</div>
		</div>
		<div class="loading">
			<img src={{ 'loading.gif' | asset_img_url: 'master' }} />
		</div>
      </div>
    </div>
  </div>
</div>

<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END -->
<!-- PDF and Print placeholder -->
<div id="pdf-print-box" class="pdf-print-wrapper">
  <div class="pdf-print-content">
    <div class="pdf-print-body">
        <div class="product-site-logo"></div>
      <div class="product-images"></div>
      <div class="product-essentials">
        <div class="product-title"></div>
        <div class="yotpo bottomLine"
             data-product-id="{{ product.id }}">
        </div>
        <div class="product-pricing"></div>
      </div>

        <div class="product-info clearfix">
        </div>
    </div>
  </div>
</div>
  <script>
      var actCallback = function (response) {
          $('.send-btn-wrapper input[type=submit]').prop("disabled", false);
          $('#re-captcha').remove();
      };
      var expCallback = function() {
          $('.send-btn-wrapper input[type=submit]').prop("disabled", true);
      };

      var onloadCallback = function () {
          var widget = grecaptcha.render(document.getElementById("re-captcha"), {
              'sitekey' : "6LdbW3cUAAAAAC7ZBnfg6JrLYY_9mq1PO__gZRbn", // Sitekey, Retrieving from reCaptcha
              'theme': "light",
              'callback' : actCallback,
              'expired-callback': expCallback,
          });
      }
  </script>
</body>
</html>
