<div class="row" style="background-image: url({{ section.settings.blog_header_img | img_url: 'master' }});">
    <div class="header-icon">
        {% include 'bulb' %}
    </div>
    <h1 class="blog-title">{{ blog.title }}</h1>
    <h3 class="blog-subheader">{{ section.settings.blog_subheader }}</h3>
</div>
{% schema %}
{
    "name": "Blog Header",
    "class":"blog-header",
    "settings": [
        {
            "type": "image_picker",
            "id": "blog_header_img",
            "label": "Blog Banner Image"
        },
        {
            "type": "text",
            "id": "blog_subheader",
            "label": "Blog Sub Heading"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
