<div class="row" style="background-image: url({{ section.settings.blog_footer_img | img_url: 'master' }});">
    <div class="blog-footer-container">
        {% if section.settings.blog_footer_header != null %}
            <h3 class="footer-subheader">{{ section.settings.blog_footer_header }}</h3>
        {% endif %}
        <p class="footer-contact">{% if section.settings.blog_footer_phone != null %}<span class="footer-phone">{% include 'phone' %}{{ section.settings.blog_footer_phone }}</span>{% endif %}{% if section.settings.blog_footer_email != null %}<span class="footer-email">{% include 'mail' %}{{ section.settings.blog_footer_email }}</span>{% endif %}</p>
    </div>
</div>
{% schema %}
{
    "name": "Blog Footer",
    "class":"blog-footer",
    "settings": [
        {
            "type": "image_picker",
            "id": "blog_footer_img",
            "label": "Blog Footer Banner"
        },
        {
            "type": "text",
            "id": "blog_footer_header",
            "label": "Blog Footer Heading"
        },
        {
            "type": "text",
            "id": "blog_footer_phone",
            "label": "Footer Phone Number"
        },
        {
            "type": "text",
            "id": "blog_footer_email",
            "label": "Footer Email Address"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
