<div class="row">
    <div class="blog-grid-layout">
        <div class="blog-tiles-wrapper">
        {% for article in blog.articles %}
        {% if forloop.index == 1 and paginate.current_page == 1 %}
            <div class="postWrapper lastest col-md-12">
            <div class="postWrapperLeft col-md-12">
                <div class="postTitle col-md-8">
                <h3>
                    <a href="{{ article.url }}">
                        {% if settings.language_enable %}
                        <span class="lang1">{{ article.title | split: '|' | first }}</span>
                        <span class="lang2">{{ article.title | split: '|' | last }}</span>
                        {% else %}
                            {{ article.title | split: '|' | first }}
                        {% endif %}
                    </a>
                </h3>
                </div>
                <div class="postMeta col-md-4 text-right">
                <div class="postDetails">
                    <div class="meta">
                        {% if article.url contains 'news' %}
                            {% assign cat = 'News' %}
                        {% else if article.url contains 'how-to' %}
                            {% assign cat = 'How To' %}
                            {% else %}
                                {% assign cat = 'Null' %}

                        {% endif %}
                    <a href="/blogs/{{ cat | handleize }}"><span>#{{ cat }}</span></a>
                    </div>
                    {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
                    {% capture date %}
                        <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                            {{ article.published_at | date: format: 'month_day_year' }}
                        </time>
                    {% endcapture %}
                    <span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.author_on_date_html|date:{{date}},author:{{author}}" translate-item="blog-date-author"{%endif%}>
                    {{ date }} {{ author }}
                    </span>
                </div>
                </div>
            </div>
            <style>
                .main-container .blog-wrapper .postWrapper.lastest {
                background-image: url('{{ article | img_url: 'master'}}');
                }
            </style>
            </div>
        {% else %}
            <div class="blog-tiles">
                <div class="blog-thumbnail" style="background: url('{{ article.image.src | img_url: 'master' }}') no-repeat center / cover">
                    <div class="meta">
                    {% if article.url contains 'news' %}
                        {% assign cat = 'News' %}
                    {% elsif article.url contains 'how-to' %}
                        {% assign cat = 'How To' %}
                    {% elsif article.url contains 'latest-projects' %}
                        {% assign cat = 'Latest Projects' %}
                    {% else %}
                        {% assign cat = 'Null' %}
                    {% endif %}
                    <a href="/blogs/{{ cat | handleize }}"><span>#{{ cat }}</span></a>
                    </div>
                </div>
                <div class="blog-content">
                    <h3>
                    <a href="{{ article.url }}">
                        {% if settings.language_enable %}
                        <span class="lang1">{{ article.title | split: '|' | first }}</span>
                        <span class="lang2">{{ article.title | split: '|' | last }}</span>
                        {% else %}
                        {{ article.title | split: '|' | first }}
                        {% endif %}
                    </a>
                    </h3>
                    {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
                    {% capture date %}
                    <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                        {{ article.published_at | date: format: 'month_day_year' }}
                    </time>
                    {% endcapture %}
                    <span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.author_on_date_html|date:{{date}},author:{{author}}" translate-item="blog-date-author"{%endif%}>
                    {{ 'blogs.article.author_on_date_html' | t: date: date, author: author }}
                    </span>
                    <div class="postContent">
                        {% if article.excerpt contains '<img' %}
                            <div class="excerpt img-responsive">
                            <a href="{{ article.url }}">
                                {{ article.excerpt | truncatewords: 60 }}
                            </a>
                            </div>
                            {% elsif article.excerpt contains '<iframe' %}
                            <div class="excerpt video-responsive">
                            {{ article.excerpt | truncatewords: 60 }}
                            </div>
                        {% endif %}
                        {% if settings.language_enable %}
                            <span class="lang1">{{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 60 }}</span>
                            <span class="lang2">{{ article.content | strip_html | split: '[lang2]' | last | truncatewords: 60 }}</span>
                        {% else %}
                            {{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 60 }}
                        {% endif %}
                    </div>
                </div>    
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Blog Content Section",
    "class":"blog-wrapper",
    "blocks": [
      {
      "type": "sample_block",
      "name": "Section Block",
      "settings": [
          {
            "type": "text",
            "id": "arbitrary_text",
            "label": "Unused for now"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
