<div class="container" id="{{ section.id }}">
  <div id="product-slider" class="slider slider-brands-logo">
    {% for block in section.blocks %}
      {% if block.settings.img_link != ''%}
        <a href="{{ block.settings.img_link }}"><img src="{{ block.settings.brand_logo_img | img_url: 'large' }}" alt="{{ block.settings.brand_logo_img.alt }}" /></a>
      {% else %}
        <a href="javascript:;"><img src="{{ block.settings.brand_logo_img | img_url: 'large' }}" alt="{{ block.settings.brand_logo_img.alt }}" /></a>
      {% endif %}
    {% endfor %}
  </div>
</div>
<script type="text/javascript">
  
  $(document).ready(function() {

    if($('.main-container .featured-products-section').length > 0) {
      $($('.main-container .featured-products .products-collection .category-products')).insertAfter('.main-container .featured-products-section .products-related .title-widget');
    }
    
    
   $('.brand-section').css('display','block');
    $('.slider-brands-logo').slick({
      dots: false,
      arrows: true,
      infinite: true,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      adaptiveHeight: true,
      responsive: [
        {
          breakpoint: 901,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true
          }
        },
        {
          breakpoint: 601,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true
          }
        },
        {
          breakpoint: 375,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true
          }
        }
       ]
    });
  });
  </script>



{% schema %}
  {
    "name": "Brand Section",
    "class":"brand-template brand-template--flush",
    "blocks": [
      {
        "type": "image",
        "name": "logo image",
    "settings": [
	 {
      "type": "image_picker",
      "id": "brand_logo_img",
      "label": "Logo Image"
      },
      {
      "type": "text",
      "id": "img_link",
      "label": "Link"
      }
  ]
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
