{% assign blog = blogs[section.settings.blog] %}
{% assign blog_url = '#' %}
{% assign onboarding = true %}

{% if section.settings.blog != 'none' and blog.articles.size > 0 %}
  {% assign onboarding = false %}
  {% assign blog_url = blog.url %}
{% endif %}

{% assign article_count = 3 %}
{% if onboarding == false and blog.articles.size < article_count %}
  {% assign article_count = blog.articles.size %}
{% endif %}

<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-blog-posts">
</script>

<div class="container">
  <div class="row">
    <section class="blogposts--container blogposts--count-{{ article_count }}">
      {% if section.settings.title != blank %}
        <h1 class="home-section--title">
          {{ section.settings.title | escape }}
        </h1>
      {% endif %}

      <div class="home-section--content blogposts--inner" data-blog-posts>
        {% if onboarding %}
          {% for i in (1..article_count) %}
            {%
              include 'article-excerpt',
              onboarding: true
            %}
          {% endfor %}
        {% else %}
          {% for article in blog.articles limit: article_count %}
            {%
              include 'article-excerpt',
              article: article
            %}
          {% endfor %}
        {% endif %}
      </div>

      <div class="blogposts--footer">
        <a class="blogposts--footer-link" href="{{ blog_url }}">
          {{ 'blog.general.see_more' | t }}
          <span class="blogposts--footer-icon">
            {% include 'icon-chevron-down-small' %}
          </span>
        </a>
      </div>
    </section>
  </div>
</div>
<script>
    $slick_slider = $('.blogposts--inner');
    settings = {
        dots: false,
        arrows: true,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: false,
        adaptiveHeight: true,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    dots: true,
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    infinite: true
                }
            },
            {
                breakpoint: 768,
                settings: {
                    dots: true,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true
                }
            }
        ]
    }
    $slick_slider.slick(settings);

    // reslick only if it's not slick()
    $(window).on('resize', function() {
        if ($(window).width() > 1280) {
            if ($slick_slider.hasClass('slick-initialized')) {
                $slick_slider.slick('unslick');
            }
            return
        }

        if (!$slick_slider.hasClass('slick-initialized')) {
            return $slick_slider.slick(settings);
        }
    });
    /*$('.blogposts--inner').slick({
        dots: false,
        arrows: true,
        speed: 300,
        slidesToShow: 2,
        slidesToScroll: 1,
        autoplay: false,
        adaptiveHeight: true,
    });
    $(window).on('resize', function() {
        $('.blogposts--inner').slick({
            responsive: [

                {
                    breakpoint: 1280,
                    settings: "unslick"
                },
                {
                    breakpoint: 768,
                    settings: {
                        dots: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true
                    }
                }
            ]
        });
    });*/
</script>

{% schema %}
{
  "name": "Blog posts",
  "class": "blogposts--section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date published",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show post author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show post excerpt",
      "default": true
    }
  ]
}

{% endschema %}