{% if section.blocks.size > 0 %}
<div class="faq-questions {% if section.settings.toggle_placement == "left" %}toggle-left{% else %}toggle-right{% endif %}">
    {% for block in section.blocks %}
        <div class="faq-entry">
            <h3>{{ block.settings.faq_question }} <span class="accord-toggle"></span></h3>
            <div class="faq-answer">{{ block.settings.faq_answer }}</div>

        </div>
    {% endfor %}

</div>
{% endif %}
{% schema %}
  {
    "name": "FAQ Content",
    "class": "faq-entries",
    "settings": [
        {
        "type": "radio",
        "id": "toggle_placement",
        "label": "FAQ Toggle",
        "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" }
        ],
        "default": "left",
        "info": "Where do you want the FAQ toggle placed?"
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "FAQ Block",
            "settings": [
                {
                    "type": "text",
                    "id": "faq_question",
                    "label": "FAQ Question"
                },
                {
                    "type": "richtext",
                    "id": "faq_answer",
                    "label": "FAQ Answer"
                }
            ]
        }
  	]
}
{% endschema %}