<div class="section-header faq-section-header">
    {% assign header_bg = section.settings.background_img | img_url: 'master' %}
    <div class="faq-header-background" style="background-image: url({{ header_bg}});">
    </div>
  {% if section.settings.title %}
  	<h2 class="faq-header-title">{{ section.settings.title }}</h2>
  {% endif %}
</div>

{% schema %}
  {
    "name": "FAQ Header Banner",
    "class": "faq-banner",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "image_picker",
            "id": "background_img",
            "label": "Background Image"
        }
		
	],
    "blocks": [
  	]
}
{% endschema %}