
<div class="contact-icon">
    {% include 'chat-icon'%}
</div>
<div class="contact-info">
    <div class="contact-heading">
        <h3>{{ section.settings.contact_heading }}</h3>
    </div>
    <div class="contact-content">
        {{ section.settings.contact_content }}
        <p class="info">
            {{- section.settings.contact_email -}}<br />
            {{- section.settings.contact_phone -}}
        </p>
    </div>
</div>

{% schema %}
  {
    "name": "FAQ Contact",
    "class": "faq-contact",
    "settings": [
        {
            "type": "text",
            "id": "contact_heading",
            "label": "FAQ Contact heading"
        },
        {
            "type": "richtext",
            "id": "contact_content",
            "label": "FAQ Contact Info"
        },
        {
            "type": "text",
            "id": "contact_email",
            "label": "FAQ Contact Email"
        },
        {
            "type": "text",
            "id": "contact_phone",
            "label": "FAQ Contact Phone"
        }
	],
    "blocks": [
  	]
}
{% endschema %}