{% assign featured_handle = section.settings.featured_collection %}
<div class="{{ section.id }}-section1">
<div class="container">
  <div class="row">
<div class="products-related">
  <h3 class="title-widget"><span class="inner">{{ section.settings.featured_heading }}</span></h3>
{% comment %}
<div class="category-products">
    <div class="products-grid grid-product-masonry">
     {% for featured_product in collections[featured_handle].products limit: 4 %}
      {% assign on_sale = true %}
      {% assign sold_out = false %}

      {% if featured_product.available %}
          {% assign on_sale = false %}
      {% else %}
          {% assign sold_out = true %}
      {% endif %}
     <div class="item product col-sm-3" data-order="{{ forloop.index | plus:1 }}">
     <div class="whole-content">
       <div class="product-action">   
         <a href="{{ featured_product.url }}" class="product-image">
           <img src="{{ featured_product.featured_image | img_url: 'large' }}" alt="{{ featured_product.featured_image.alt }}" class="img-responsive main">
         </a> 
       </div>
       
       <div class="product-content">
         <h3 class="product-name">
           <a href="{{ featured_product.url }}" title="{{ featured_product.title }}"> 
      			{{ featured_product.title }}
           </a>
         </h3>
         <div class="product-short-desc">
           {{ featured_product.description | truncate: 50 }}
         </div>
           <div class="price price_collections"> 
			 {% if on_sale %}
               {% if featured_product.price_varies %}
               	{% assign sale_price = featured_product.price | money %}
                   <span class="money">
                     {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                   </span>
               {% else %} 
                 {% if sold_out %}
             		<span class="money soldout_money">{{ 'products.product.sold_out' | t }}</span>
             	 {% endif %}
                 {% if on_sale %}
                   {% if sold_out %}
                   {% else %}
                     <div class="compare-price">
                       <span class="money">{{ featured_product.compare_at_price | money }}</span>
                     </div>
                   {% endif %}
                 {% endif %}
                 <div class="special-price">
                   <span class="money price11">{{ featured_product.price | money }}</span>
                 </div>
               {% endif %}
             {% else %}
               {% if featured_product.price_varies %}
               	{% assign price = featured_product.price | money %}
                   <span class="money ">{{ 'products.general.from_text_html' | t: price: price }}</span>
                   {% else %}
                   <div class="compare-price">
                 	<span class="money">{{ featured_product.compare_at_price | money }}</span>
               	   </div>
                   <span class="money price11">
                     {{ featured_product.price | money }}
                   </span>
               {% endif %}
             {% endif %}
           </div>

         </div>
       <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
         </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endcomment %}  
  
  

<div class="category-products">
      {% assign carousel = settings.products_collection_carousel %} 
      {% assign limit = settings.products_collection_limit %} 
      {% if settings.products_collection_column != '5' and settings.products_collection_column != '7' %}
      {% assign col = 12 | divided_by: settings.products_collection_column %}
      {% else %}
      {% assign col = settings.products_collection_column %}
      {% endif %}
      {% assign collection = collections[settings.products_slide_collection] %}   
   <div class="data-carousel"
           data-mobile="2"
           data-items="{{ settings.products_collection_column }}"
           data-auto="{{ settings.products_collection_autoplay }}"
           data-paging="{{ settings.products_collection_show_paging }}"
           data-nav="{{ settings.products_collection_show_nav }}"
           data-prev='{{ settings.products_collection_nav_prev }}'
           data-next='{{ settings.products_collection_nav_next }}' style="display: none;"></div>
      <div class="products-grid {% if carousel %}  owl-carousel {% else %}itemgrid grid-product-masonry {% endif %}"> 
        {% comment %}
        	settings.products_collection_limit
        {% endcomment %}
        {% for product in collection.products limit: settings.products_collection_limit %}
        <div class="item product{% if carousel %} effect-pageLeft {% else %} col-sm-{{ col }} {% endif %}" data-order="{{ forloop.index | plus:1 }}">
        {% include 'product-grid-item' %}
        </div> 
        {% endfor %} 
      </div>
    </div>  
  
  
  
</div>
  </div>
</div>
</div>
{% schema %}
  {
    "name": "Featured Products",
	"class": "featured-products featured-products--flush",
    "settings": [
	{
      "type": "text",
      "id": "featured_heading",
      "label": "Heading"
	},
	{
      "type": "collection",
      "id": "featured_collection",
      "label": "Featured Collection"
	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
