<div class="grid">
  <div class="grid-item large--four-twelfths">
    <div class="left-sidebar">
      <ul>
        {% for block in section.blocks %}
			{% assign current_collection = block.settings.glossary-page %}
				{% if block.settings.collection_title != '' %}
					{% assign collection_title = block.settings.collection_title %}
				{% else %}
					{% assign collection_title = collections[current_collection].title %}
				{% endif %}
			<li>
			  <a class="filter-title" href="javascript:;">{{ collection_title }}</a>
			</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="grid-item large--eight-twelfths">
    <div class="right-sidebar clearfix">
      
      {% for block in section.blocks %}
      <div class="collections">
        {% assign colection_handle = block.settings.glossary-page %}
        
		{% if block.settings.collection_title != '' %}
			{% assign collection_title = block.settings.collection_title %}
		{% else %}
			{% assign collection_title = collections[colection_handle].title %}
		{% endif %}
		
		{% if block.settings.collection_content != '' %}
			{% assign collection_content = block.settings.collection_content %}
		{% else %}
			{% assign collection_content = collections[colection_handle].description | strip_html %}
		{% endif %}
		
		{% if block.settings.button != '' %}
			{% assign collection_button = block.settings.button %}
		{% else %}
			{% assign collection_button = 'Shop ' | append: collection_title | append: ' Products' %}
		{% endif %}
		
		{% if block.settings.button_link %}
			{% assign collection_button_link = block.settings.button_link %}
		{% else %}
			{% assign collection_button_link = collections[colection_handle].url %}
		{% endif %}
		
		{% if block.settings.image %}
			{% assign collection_image = block.settings.image | img_url: 'master' %}
		{% else %}
			{% assign collection_image = collections[colection_handle].image | img_url: 'master'  %}
		{% endif %}
		
        <h3 class=""><a class="collection_title" href="javascript:;">{{ collection_title }}</a></h3>
        
        <div class="collection_detail clearfix" style="display:none;"> 
          <div class="tab-content"> 
            <p>
				{{ collection_content }}
			</p>
			{% if collection_image contains 'no-image' %}
			{% else %}
				<img src="{{ collection_image }}">
			{% endif %}
			{% if block.settings.button != '' %}
				<a class="link" href="{{ collection_button_link }}"><span> > </span>{{ collection_button }}</a>
			{% endif %}
          </div>
        </div>
		
      </div> 
      {% endfor %}
    </div>
  </div>
</div>
<script>
jQuery(document).ready(function() {
    jQuery('.collections:first-child .collection_title').click();


	var adHeight = jQuery('.topmost_header').outerHeight();
	adHeight = 54;
	var menuHeight = jQuery('.ad-brd-mnu').outerHeight();
	var offsetHeight = adHeight + menuHeight;
	if (jQuery(window).width() < 1024 ) {
		offsetHeight = 80;
	}
	// console.log(adHeight);
	// console.log(menuHeight);
	// console.log(offsetHeight);
	if (jQuery(window).width() < 768 ) {
	} else if (jQuery(window).width() < 1024 ) {
		jQuery("#shopify-section-glossary-page-section > .grid > .large--four-twelfths .left-sidebar").stick_in_parent({offset_top: offsetHeight});
	} else {
		jQuery("#shopify-section-glossary-page-section > .grid > .large--four-twelfths .left-sidebar").stick_in_parent({offset_top: offsetHeight});
	}
	
	
	jQuery(window).resize(function(){
		var adHeight = jQuery('.topmost_header').outerHeight();
		adHeight = 54;
		var menuHeight = jQuery('.ad-brd-mnu').outerHeight();
		var offsetHeight = adHeight + menuHeight;
		if (jQuery(window).width() < 1024 ) {
			offsetHeight = 80;
		}
		jQuery("#shopify-section-glossary-page-section > .grid > .large--four-twelfths .left-sidebar").trigger("sticky_kit:detach");
		// console.log(adHeight);
		// console.log(menuHeight);
		// console.log(offsetHeight);
		if (jQuery(window).width() < 768 ) {
			
		} else if (jQuery(window).width() < 1024 ) {
			jQuery("#shopify-section-glossary-page-section > .grid > .large--four-twelfths .left-sidebar").stick_in_parent({offset_top: offsetHeight});
		} else {
			jQuery("#shopify-section-glossary-page-section > .grid > .large--four-twelfths .left-sidebar").stick_in_parent({offset_top: offsetHeight});
		}
	});
});

  jQuery('.collection_title').click(function() {
    if(jQuery(this).parent().parent().find('.collection_detail').css('display') == 'none') {

      jQuery('.collection_title').removeClass('arrow');
      jQuery('.filter-title').removeClass('arrow');

      jQuery(this).addClass('arrow');

      jQuery('.collection_detail').slideUp();
      jQuery(this).parent().parent().find('.collection_detail').slideDown();

      var current_index = jQuery(this).parent().parent().index();
      current_index = parseInt(current_index)+parseInt(1);
      jQuery('.left-sidebar ul li:nth-child('+current_index+') a').addClass('arrow');
    }
  });


  jQuery('.filter-title').click(function() {
      var current_index = jQuery(this).parent().index();
      current_index = parseInt(current_index)+parseInt(1);
      // console.log(current_index);

      jQuery('.right-sidebar .collections:nth-child('+current_index+') h3 a.collection_title').click();
      /*jQuery('.collection_title').removeClass('arrow');
      jQuery('.filter-title').removeClass('arrow');

      jQuery(this).addClass('arrow');

      jQuery('.collection_detail').slideUp();
      jQuery(this).parent().parent().find('.collection_detail').slideDown();

      var current_index = jQuery(this).parent().parent().index();
      current_index = parseInt(current_index)+parseInt(1);
      jQuery('.left-sidebar h3:nth-child('+current_index+') a').addClass('arrow');*/

	  setTimeout(function() {
	  var adHeight = jQuery('.topmost_header').outerHeight();
	  adHeight = 54;
	  var menuHeight = jQuery('.ad-brd-mnu').outerHeight();
	  var offsetHeight = adHeight + menuHeight;
	  var minusHeight = 0;
	  if (jQuery(window).width() < 1024 ) {
	  	offsetHeight = 75;
	  } else {
		if ( !jQuery('.topmost_header').hasClass('top-cart') ) { minusHeight += adHeight; }
		if ( !jQuery('.ad-brd-mnu').hasClass('sticky-nav') ) { minusHeight += jQuery('.ad-brd-mnu').outerHeight(); }
	  }
	  // console.log(minusHeight);
	  // console.log(offsetHeight);
		  $("html,body").animate({
			scrollTop: jQuery('.right-sidebar .collections:nth-child('+current_index+')').offset().top - minusHeight - offsetHeight - 5
		  }, 500);
	  },500);
  });
  
  
</script>

<style>
#shopify-section-glossary-page-section > div.grid {
	display: flex;
    align-items: stretch;
	flex-wrap: wrap;
}
@media screen and (max-width:767px) {
	#shopify-section-glossary-page-section > div.grid .grid-item {
		width: 100%;
	}
}
</style>


{% schema %}
 {
    "name": "Glossary Section",
    "class":"glossary-template glossary-template--flush",
     "blocks": [
      {
        "type": "collection",
        "name": "collection",
     "settings": [
	  {
        "type": "collection",
        "id": "glossary-page",
        "label": "Collection"
      },
	  {
		  "type": "image_picker",
		  "id": "image",
		  "label": "Image"
	  },
	  {
		  "type": "text",
		  "id": "collection_title",
		  "label": "Collection Title"
	  },
	  {
		  "type": "textarea",
		  "id": "collection_content",
		  "label": "Collection Content"
	  },
	  {
		  "type": "text",
		  "id": "button",
		  "label": "Button"
	  },
	  {
		  "type": "url",
		  "id": "button_link",
		  "label": "Button Link"
	  }
     ]
    }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}