<div class="{{ section.id }}-section1">
<div class="container">
  <div class="row">

  </div>
</div>

{% schema %}
{
    "name": "Dynamic blog Posts",
    "class": "homepage-blog-posts",
    "settings": [
        {
          "type": "text",
          "id": "featured_heading",
          "label": "Heading"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}