<div class="sidebar-wrapper">
    <img src="{{ 'bulb.svg' | asset_url }}" alt="bulb">
    <h3>{{ section.settings.sidebar_heading }}</h3>
    <p class="blurb">{{ section.settings.sidebar_blurb }}</p>
    <div class="contact-info">
        <p><a href="mailto:{{ section.settings.sidebar_email }}">{{ section.settings.sidebar_email }}</a></p>
        <p><a href="tel:{{ section.settings.sidebar_contact_no }}">{{ section.settings.sidebar_contact_no }}</a></p>
    </div>
    <div class="social">
        <ul class="social-icons small light">
            {% if settings.social_facebook_link !='' %}
            <li class="facebook">
                <a class="fa fa-facebook" href="{{settings.social_facebook_link}}" target="_blank"><span>Facebook</span></a>
            </li>
            {% endif %}
            {% if settings.social_twitter_link !='' %}
            <li class="twitter">
                <a class="fa fa-twitter" href="{{settings.social_twitter_link}}" target="_blank"><span>Twitter</span></a>
            </li>
            {% endif %}
            {% if settings.social_bee_link !='' %}
            <li class="behance">
                <a class="fa fa-behance" href="{{settings.social_bee_link}}" target="_blank"><span>Behance</span></a>
            </li>
            {% endif %}
            {% if settings.social_googleplus_link !='' %}
            <li class="gplus">
                <a class="fa fa-google-plus" href="{{settings.social_googleplus_link}}" target="_blank"><span>Google plus</span></a>
            </li>
            {% endif %}
            {% if settings.social_instagram_link !='' %}
            <li class="instagram">
                <a class="fa fa-instagram" href="{{settings.social_instagram_link}}" target="_blank"><span>Instagram</span></a>
            </li>
            {% endif %}
            {% if settings.social_youtube_link !='' %}
            <li class="youtube">
                <a class="fa fa-youtube" href="{{settings.social_youtube_link}}" target="_blank"><span>Youtube</span></a>
            </li>
            {% endif %}
            {% if settings.social_pinterest_link !='' %}
            <li class="pinterest">
                <a class="fa fa-pinterest" href="{{settings.social_pinterest_link}}" target="_blank"><span>Pinterest</span></a>
            </li>
            {% endif %}
        </ul>
    </div> 
    <div class="tags">
        <h3>Categories</h3>
        {% for tag in blog.all_tags %}
            <a href="#"><span>#{{ tag }}</span></a>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Sidebar Content",
    "settings": [
        {
            "type": "text",
            "id": "sidebar_heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "sidebar_blurb",
            "label": "Blurb"
        },
        {
            "type": "text",
            "id": "sidebar_email",
            "label": "Email"
        },
        {
            "type": "text",
            "id": "sidebar_contact_no",
            "label": "Contact Number"
        }
    ]
}
{% endschema %}