{% if section.settings.background %}
<style>
.main-container .blog-theme .section-header {
	background-image: url({{ section.settings.background | img_url: 'master' }}); 
}
</style>
{% endif %}

{% schema %}
  {
    "name": "Blogs Page Background",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Title",
	  "default": "Blogs Page Background"
      },
      {
      "type": "image_picker",
      "id": "background",
      "label": "Background"
      }
  ]
  }
{% endschema %}