{% assign page_handle = page.handle %}
	<div class="top-collection-wrapper">
	
	{% for link in linklists[page_handle].links %}
		<a class="top-collection-item" href="{{ link.url }}">
			<div class="top-collection-item-content" style="background-image:url('{{ link.object.image.src | collection_img_url: 'master' }}');">
				<div class="top-collection-item-inner">
					<span class="top-collection-title"><span>{{ link.object.title }}</span></span>
					<span class="top-collection-description">{{ link.object.description | strip_html | truncate: 105 }}</span>
				</div>
			</div>
			<div class="top-collection-item-inner mobile">
				<span class="top-collection-title">{{ link.object.title }}</span>
				<span class="top-collection-description">{{ link.object.description | strip_html | truncate: 105 }}</span>
			</div>
		</a>
    {% endfor %}

	</div>
	
	<div class="top-info-wrapper">
	{% for block in section.blocks %}
		{% if block.settings.handle == page_handle and block.type == 'top_info' %}
		<style>
		.top-level-container h1.top-level-title {
			background: linear-gradient(0deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('{{ block.settings.background | img_url: 'master' }}');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			color: #fff;
		}
		</style>
		{% endif %}
	{% endfor %}
	</div>

{% schema %}
{
  "name": "Top Level Infomation",
  "settings": [
  ],
  "blocks": [
  {
	  "type": "top_info",
	  "name": "Top Level Info",
	  "settings": [
	  {
		  "type": "text",
		  "id": "title",
		  "label": "Title"
	  },
	  {
		  "type": "text",
		  "id": "handle",
		  "label": "Page Handle"
	  },
	  {
		  "type": "image_picker",
		  "id": "background",
		  "label": "Heading Background"
	  }  
	  ]
  }
  ]
}
{% endschema %}