{%- if section.settings.show_popup -%}
    <div id="promotion" class="modal fade in">
		<div class="modal-dialog">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="promotion-modal-wrapper">
        <div class="popup-content">
          <img class="tag" src="{{ 'tag.svg' | asset_url }}" alt="tag">
          <p class="promotion-label">Sale</p>
          <h2 class="SectionHeader__Heading Heading u-h1">
            <span>{{ section.settings.title }}</span>
          </h2>
          <div class="content">
            <div class="content-text">
              {{ section.settings.content }}
            </div>
          </div>
        </div>
        <div class="popup-image" style="background-image: url('{{ section.settings.background | img_url: 'master' }}')">
        {% if section.settings.button_text and section.settings.button_url %}
					<a href="{{ section.settings.button_url }}" class="promotion-button">{{ section.settings.button_text }}</a>
				{% endif %}
        </div>
			</div>
		</div>
	</div>
<style>
#promotion .modal-dialog {
	/* background-image: url({{ section.settings.background | img_url: 'master' }}); */
	/* background-size: cover; */
	/* background-position: center; */
}
#promotion.modal h2 {
	color: {{ section.settings.title_color }};
}
#promotion.modal .content {
	color: {{ section.settings.content_color }};
}
</style>
<script>
jQuery(document).ready(function() {
	var cookie_string = '{{ section.settings.cookie_name }}';
	if ( cookie_string == '' ) {
		cookie_string = 'promotion-cookie';
	}
    if (jQuery.cookie(cookie_string)) {
    } else {
        $.cookie(cookie_string, 'true', { expires: {{ section.settings.days_cookie }} });
		setTimeout(function () {
			jQuery('#promotion').modal();
		}, {{ section.settings.apparition_delay | times: 1000 }} );
    }
	
	// jQuery('#promotion.modal .modal-dialog').css('height', jQuery('#promotion.modal').outerWidth()+'px' );
	jQuery(window).resize(function() {
		// jQuery('#promotion.modal .modal-dialog').css('height', jQuery('#promotion.modal').outerWidth()+'px' );
	});
});
</script>
{%- endif -%}


{% schema %}
{
  "name": "Sale Popup",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_popup",
      "label": "Enable",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Popup"
    },
	{
		"type": "color",
		"id": "title_color",
		"label": "Title Color",
		"default": "#000000"
	},
    {
      "type": "textarea",
      "id": "content",
      "label": "Text"
    },
	{
		"type": "color",
		"id": "content_color",
		"label": "Content Color",
		"default": "#000000"
	},
	{
	  "type": "image_picker",
	  "id": "background",
	  "label": "Background Image"
	},
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link"
    },
    {
      "type": "range",
      "id": "apparition_delay",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "label": "Delay until the popup appears",
      "default": 5
    },
    {
      "type": "range",
      "id": "days_cookie",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "day",
      "label": "Show once every: ",
      "default": 3
    },
    {
      "type": "text",
      "id": "cookie_name",
      "label": "Cookie Name"
    }
  ]
}
{% endschema %}