/*top dropdown effect css3 mega*/
div.main-navigation ul.top-navigation li:hover .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub,
div.main-navigation ul.top-navigation li:hover .menu-wrap-sub li .menu-wrap-sub{
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
div.main-navigation ul.top-navigation .menu-wrap-sub {
    border:0;
    border-top: 4px solid #e6e6e6;
    margin:0px auto;
    position:absolute;
    text-align:left;
    -ms-box-shadow: 1px 6px 7px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 1px 6px 7px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 6px 7px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 6px 7px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.15);
    z-index:99999;
    background-color:#fff;
    top: 48px;
    width:100%;
    opacity: 0 !important; filter:alpha(opacity = 0);
    visibility: hidden;
    left:50px;
    padding: 10px;
}
div.is-sticky div.main-navigation ul.top-navigation .menu-wrap-sub.dropdown {
    top: 90px;
}
div.is-sticky div.main-navigation ul.top-navigation li.level0 > .menu-wrap-sub {
    top:90px;
}
/* Showing Drop Down on Mouse Hover*/
div.main-navigation ul.top-navigation li.level0:hover > div.menu-wrap-sub{
    left:0;
    top:48px;
    opacity: 1 !important;
    filter:alpha(opacity = 100);
    visibility:visible;
}
div.is-sticky div.main-navigation ul.top-navigation li:hover > div.menu-wrap-sub.dropdown,
div.is-sticky div.main-navigation ul.top-navigation li.level0:hover > div.menu-wrap-sub{
    top:71px;
}
div.is-sticky div.main-navigation ul.top-navigation li:hover div.menu-wrap-sub {
    top: 0px;
}
div.main-navigation ul.top-navigation li .menu-wrap-sub li > .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub li > .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li > .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li > .menu-wrap-sub{
    opacity: 0 !important; filter:alpha(opacity = 0);
    visibility: hidden;
    left: 90%;
}
div.main-navigation ul.top-navigation li .menu-wrap-sub li:hover > .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub li:hover > .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li:hover > .menu-wrap-sub,
div.main-navigation ul.top-navigation li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li:hover > .menu-wrap-sub{
    left:75%;
    opacity: 1 !important;
    filter:alpha(opacity = 100);
    visibility:visible;
}
/*dropdown effect css3 mega end*/

/*verticle dropdown effect css3*/
div.header-container .navbar:hover .bs-navbar-collapse,
div.header-container .navbar .bs-navbar-collapse,
div.language-currency .switcher-wrap .select-language,
div.language-currency .switcher-wrap:hover .select-language,
div.header-setting .switcher-wrap .switcher-content,
div.header-setting .switcher-wrap:hover .switcher-content,
div.header-myaccount .switcher-wrap .switcher-content,
div.header-myaccount .switcher-wrap:hover .switcher-content,
div.select-inner:hover ul, .toolbar .select-inner ul,
div.header-container .header-search .search-container .switcher-content,
div.header-container .header-search .search-container:hover .switcher-content,
div.header-container .header-maincart .cart-container .cart-wrapper,
/*div.header-container .header-maincart .cart-container:hover .cart-wrapper <- removed to stop hover cart dropdown behavior */
div.vertical-navigation-main ul.vertical-navigation-container li:hover .menu-wrap-sub,
div.top-compare .header-maincompare .block-top-compare,
div.top-compare .header-maincompare:hover .block-top-compare,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li:hover .menu-wrap-sub li .menu-wrap-sub{
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
div.vertical-navigation-main ul.vertical-navigation-container .menu-wrap-sub {
    margin:0px auto;
    position:absolute;
    text-align:left;
    -ms-box-shadow: 1px 6px 7px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 1px 6px 7px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 6px 7px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 6px 7px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.15);
    z-index:999;
    border:0;
    background-color:#fff;
    top:3px;
    width:600px;
    opacity: 0 !important; filter:alpha(opacity = 0);
    visibility: hidden;
    left:110%;
    padding: 10px;
}
/* Showing Drop Down on Mouse Hover*/
div.vertical-navigation-main ul.vertical-navigation-container li:hover > .menu-wrap-sub{
    left:100%;
    top:0;
    opacity: 1 !important;
    filter:alpha(opacity = 100);
    visibility:visible;
}
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li > .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub li > .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li > .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li > .menu-wrap-sub{
    opacity: 0 !important; filter:alpha(opacity = 0);
    visibility: hidden;
    left: 110%;
    top: 3px;
}
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li:hover > .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub li:hover > .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li:hover > .menu-wrap-sub,
div.vertical-navigation-main ul.vertical-navigation-container li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li .menu-wrap-sub li:hover > .menu-wrap-sub{
    left:100%;
    opacity: 1 !important;
    filter:alpha(opacity = 100);
    visibility:visible;
    top: 0;
} 
/*/////////// HEADER ///////////*/ 
.header-container .navbar .bs-navbar-collapse,
.header-container .header-setting .switcher-wrap .switcher-content,
.header-container .header-search .search-container .switcher-content,
.header-container .header-maincart .cart-container .cart-wrapper{
    position: absolute;
    top: 80px;
    right: 0;
    opacity: 1;
    filter: alpha(opacity = 0);
    visibility: hidden;
    min-width: 70px;
  display:none;
}
.header-container .navbar:hover .bs-navbar-collapse,
.header-container .header-setting .switcher-wrap:hover .switcher-content,
.header-container .header-search .search-container:hover .switcher-content,
/*.header-container .header-maincart .cart-container:hover .cart-wrapper <- removed to stop dropdown cart behavior */ {
    opacity: 1;
    filter: alpha(opacity = 100);
    visibility: visible;
    top: 90px;
  display:block;
} 
.header-container .is-sticky .header-setting .switcher-wrap:hover .switcher-content,
.header-container .is-sticky .header-search .search-container:hover .switcher-content,
.header-container .is-sticky .header-maincart .cart-container:hover .cart-wrapper { 
    top: 70px;
}
/* Itemgrid: different numbers of columns
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Clear every first item in each row (row: group of n items) */

/* Item grid: 1 column */
.itemgrid-1col .item { width:98%; }

/* Item grid: 2 columns */
.itemgrid-2col .item { width:48%; }
.itemgrid-2col .item:nth-child(2n+1) { clear:left; }

/* Item grid: 3 columns */
.itemgrid-3col .item { width:31.333%; }
.itemgrid-3col .item:nth-child(3n+1) { clear:left; }

/* Item grid: 4 columns */
.itemgrid-4col .item { width:23%; }
.itemgrid-4col .item:nth-child(4n+1) { clear:left; }
.itemgrid-4col .item.dop { width:48%; }

/* Item grid: 5 columns */
.itemgrid-5col .item { width:18%; }
.itemgrid-5col .item:nth-child(5n+1) { clear:left; }
.itemgrid-5col .item.dop { width:38%; }

/* Item grid: 6 columns */
.itemgrid-6col .item { width:14.66%; }
.itemgrid-6col .item:nth-child(6n+1) { clear:left; }
.itemgrid-6col .item.dop { width:29.32%; }

/* Item grid: 7 columns */
.itemgrid-7col .item { width:12.286%; }
.itemgrid-7col .item:nth-child(7n+1) { clear:left; }


/*Grid column*/
.grid12-12, .grid-full {
    width: 98%;
}
.grid12-1, .grid12-2,
.grid12-3,
.grid12-4, .grid12-5,
.grid12-6, .grid12-7,
.grid12-8, .grid12-9,
.grid12-10, .grid12-11,
.grid12-12, .grid4-1,
.grid4-2, .grid4-3,
.grid2-1, .grid-full,
.grid-col2-sidebar,
.grid-col2-main {
    position: relative;
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

/* Grid units */
.grid12-1,
.grid12-2,
.grid12-3,
.grid12-4,
.grid12-5,
.grid12-6,
.grid12-7,
.grid12-8,
.grid12-9,
.grid12-10,
.grid12-11,
.grid12-12,

    /* Deprecated: other grid units */
.grid4-1,
.grid4-2,
.grid4-3,
.grid2-1,

    /* Alias for full-width units */
.grid-full,

    /* Special grid units */
.grid-col2-sidebar,
.grid-col2-main
{
    position:relative;
    display:inline;
    float:left;
    margin-left:1%;
    margin-right:1%;
}

/* Basic grid units width */
.grid12-1	{ width:6.33%; }
.grid12-2	{ width:14.66%; }
.grid12-3,
.grid4-1	{ width:23%; }
.grid12-4	{ width:31.33%; }
.grid12-5	{ width:39.67%; }
.grid12-6,
.grid4-2,
.grid2-1	{ width:48%; }
.grid12-7	{ width:56.33%; }
.grid12-8	{ width:64.67%; }
.grid12-9,
.grid4-3	{ width:73%; }
.grid12-10	{ width:81.33%; }
.grid12-11	{ width:89.67%; }
.grid12-12,
.grid-full	{ width:98%; }
/* Itemgrid: different numbers of columns end
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/