.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
    direction: ltr;
    width: 100%;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    -webkit-transition-property: -webkit-transform, left;
    -webkit-transition-duration: 0s;
    -webkit-transform: translate3d(0px, 0, 0);
    -webkit-transition-timing-function: ease;
    -moz-transition-property: -moz-transform, left;
    -moz-transition-duration: 0s;
    -moz-transform: translate3d(0px, 0, 0);
    -moz-transition-timing-function: ease;
    -o-transition-property: -o-transform, left;
    -o-transition-duration: 0s;
    -o-transform: translate3d(0px, 0, 0);
    -o-transition-timing-function: ease;
    -o-transform: translate(0px, 0px);
    -ms-transition-property: -ms-transform, left;
    -ms-transition-duration: 0s;
    -ms-transform: translate3d(0px, 0, 0);
    -ms-transition-timing-function: ease;
    transition-property: transform, left;
    transition-duration: 0s;
    transform: translate3d(0px, 0, 0);
    transition-timing-function: ease;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide {
    float: left;
}

.swiper-slide.swiper-slide-active {
	z-index: 1;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}

/* --------------------------------------------
	SLIDER CONTAINERS
-------------------------------------------- */

.ico-slider-outer {
	overflow: hidden;
  	height: auto !important;
    -webkit-backface-visibility: hidden;
    z-index: 1;
    position: relative;
}

.ico-slider-outer.not-visible {
    pointer-events: none;
}

.ico-slider {
    background: #f7f7f7;
    z-index: 97;
    height: 500px;
}

.ico-slider.ico-slider-parallax {
    position: fixed;
    left: 0!important;
    z-index: 1;
}

.spb_ico-slider .ico-slider.ico-slider-parallax {
    position: relative;
    -webkit-transform: none!important;
    -moz-transform: none!important;
    transform: none!important;
}

.swiper-wrapper {
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

.mobile-browser .ico-slider.no-swiping .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
}

.ico-slider.no-slides {
    height: 300px;
    line-height: 300px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

/* --------------------------------------------
	SLIDER SLIDE
-------------------------------------------- */

.swiper-slide {
    position: relative;
    background-repeat: no-repeat;
    -moz-background-size: cover!important;
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-position: center center;
}

.swiper-slide[data-bg-align="top"] {
    background-position: center top;
}

.swiper-slide[data-bg-align="bottom"] {
    background-position: center bottom;
}

.swiper-slide.video-slide {
    background: #000;
}

.swiper-slide .caption-wrap {
    position: relative;
    z-index: 11;
    height: 100%;
    max-width: 100%;
}

.swiper-slide .caption-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    width: 100%;
    color: #fff;
    padding-top: 10px;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    text-align: left;
}
.swiper-slide .caption-content a {
	color: #fff;
  	border-bottom: 2px solid #ffffff;
}
.swiper-slide .caption-content a.sf-button {
    margin-top: 20px;
}

.swiper-slide[data-style="dark"] .caption-content {
    color: #000;
}
.swiper-slide[data-style="dark"] .caption-content a{
    color: #000;
}

.swiper-slide .caption-content[data-caption-x="right"] {
    text-align: right;
}

.swiper-slide .caption-content[data-caption-x="right"] a.sf-button:last-child {
    margin-right: 0;
}

.swiper-slide .caption-content[data-caption-x="center"] {
    text-align: center;
  
}

.swiper-slide .caption-content[data-caption-y="top"] {
    top: 15%;
    margin-top: 0 !important;
}

.swiper-slide .caption-content[data-caption-y="bottom"] {
    top: auto;
    bottom: 15%;
    padding-top: 0;
    padding-bottom: 10px;
}
.swiper-slide .caption-content > h2 {
    color: inherit;
    margin: 0 0 15px;
    font-size: 72px!important;
    line-height: 90px!important;
  text-transform: uppercase;
}

.swiper-slide .caption-content div.caption-excerpt {
    font-size: 22px;
    line-height: 30px;
}

.swiper-slide .caption-content div.caption-excerpt p {
    font-size: inherit;
    line-height: inherit;
}

.swiper-slide .caption-content div.caption-excerpt > h1, .swiper-slide .caption-content div.caption-excerpt > h2, .swiper-slide .caption-content div.caption-excerpt > h3, .swiper-slide .caption-content div.caption-excerpt > h4, .swiper-slide .caption-content div.caption-excerpt > h5, .swiper-slide .caption-content div.caption-excerpt > h6, .swiper-slide .caption-content div.caption-excerpt > div, .swiper-slide .caption-content div.caption-excerpt > p {
    color: inherit;
}

.swiper-slide .caption-content[data-caption-size="smaller"] > h2 {
    font-size: 36px!important;
    line-height: 35px!important;
}

.swiper-slide .caption-content[data-caption-size="smaller"] div.caption-excerpt { 
    line-height: 3px;
  	font-style: normal;
    font-size: 18px;
    font-family: 'Crimson Text';
  	font-weight: 500;
}
.swiper-slide .caption-content[data-caption-size="smaller"] div.caption-excerpt a {
	
}
.swiper-slide .ss-slide-link {
    position: absolute;
    z-index: 9;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.swiper-slide .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.swiper-slide .video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    overflow: hidden;
}

.swiper-slide .video-wrap .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2800px;
    z-index: 9;
    opacity: 0;
    background-repeat: repeat;
    background-position: center top;
}

.swiper-slide .video-wrap .video-overlay.overlay-diaglight {
    background-image: url('vo_diagonal_lines_light.png');
}

.swiper-slide .video-wrap .video-overlay.overlay-diagdark {
    background-image: url('vo_diagonal_lines_dark.png');
}

.swiper-slide .video-wrap .video-overlay.overlay-horizlight {
    background-image: url('vo_horizontal_lines_light.png');
}

.swiper-slide .video-wrap .video-overlay.overlay-horizgdark {
    background-image: url('vo_horizontal_lines_dark.png');
}

.swiper-slide .video-wrap .video-overlay.overlay-vertlight {
    background-image: url('vo_vertical_lines_light.png');
}

.swiper-slide .video-wrap .video-overlay.overlay-vertzgdark {
    background-image: url('vo_vertical_lines_dark.png');
}

.swiper-slide .video-wrap .video-overlay.overlay-lightgrid {
    background-image: url('vo_pixel_light.png');
}

.swiper-slide .video-wrap .video-overlay.overlay-darkgrid {
    background-image: url('vo_pixel_dark.png');
}

.swiper-slide .video-wrap .video-overlay.overlay-lightgridfat {
    background-image: url('vo_fat_pixel_light.png');
}

.swiper-slide .video-wrap .video-overlay.overlay-darkgridfat {
    background-image: url('vo_fat_pixel_dark.png');
}

.swiper-slide .video-wrap > video {
    position: relative;
    top: 0;
    z-index: 8;
    -webkit-backface-visibility: hidden;
}

/* --------------------------------------------
	CURTAIN SLIDER
-------------------------------------------- */

.ico-slider[data-type="curtain"] .swiper-wrapper {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
}

.ico-slider[data-type="curtain"] .swiper-slide {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* --------------------------------------------
	SLIDER NAVIGATION
-------------------------------------------- */

a.ico-slider-prev, a.ico-slider-next {
    position: absolute;
    z-index: 12;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    font-size: 28px;
    line-height: 58px;
    text-align: center;
    background: #fff;
    color: #222 !important;
    opacity: 0;
    display: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

a.ico-slider-prev.dark, a.ico-slider-next.dark {
    background: #222;
    color: #fff !important;
}

.ico-slider:hover a.ico-slider-prev, .ico-slider:hover a.ico-slider-next {
    opacity: 0.7;
}

a.ico-slider-prev:hover, a.ico-slider-next:hover {
    opacity: 1 !important;
}

.ico-slider-prev {
    left: 0;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.ico-slider-next {
    right: 0;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

/* --------------------------------------------
	SLIDER SCROLL INDICATOR
-------------------------------------------- */

.ico-scroll-indicator {
    margin: 0 auto;
    width: 8px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -4px;
    bottom: 50px;
}

.ico-scroll-indicator span {
    display: block;
    height: 8px;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 6px;
    background: #fff;
    opacity: 0;
}

/* --------------------------------------------
	SLIDER PAGINATION
-------------------------------------------- */

.ico-slider-pagination {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    z-index: 12;
    display: none;
}

.ico-slider-pagination.pagination-hidden {
    display: none !important;
}

.ico-slider-pagination .dot {
    position: relative;
    display: inline-block;
    float: none;
    margin: 10px 5px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.ico-slider-pagination .dot span {
    top: 0;
    left: 0;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    outline: none;
    border-radius: 0%;
    background-color: rgba(255, 255, 255, 0.6);
    text-indent: -999em;
    cursor: pointer; /* make the text accessible to screen readers */
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.ico-slider-pagination .dot:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    left: 0;
    background-color: #fff;
    border-radius: 0%;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
}

.ico-slider-pagination .dot.active:after {
    opacity: 1 !important;
    visibility: visible;
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.ico-slider-pagination .dot.active span {
    opacity: 0 !important;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}

.ico-slider[data-type="curtain"] .ico-slider-pagination {
    bottom: auto;
    top: 50%;
    right: 20px;
    width: auto;
    height: auto;
}

.ico-slider[data-type="curtain"] .ico-slider-pagination .dot {
    display: block;
    margin: 15px 5px;
}

.ico-slider[data-type="curtain"] .ico-slider-pagination .dot:after {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.ico-slider[data-type="curtain"] .ico-slider-pagination .dot.active:after {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.ico-slider[data-type="curtain"] .ico-slider-pagination .dot.active span {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}

.ico-slider-pagination.dark .dot span {
    background-color: #666;
    opacity: 0.6;
}

.ico-slider-pagination.dark .dot:after {
    background-color: #222;
}

/* --------------------------------------------
	SLIDER CONTINUE
-------------------------------------------- */

.ico-slider .ico-slider-continue {
    position: absolute;
    left: 50%;
    bottom: 80px;
    z-index: 102;
    width: 50px;
    height: 50px;
    line-height: 32px;
    margin-left: -25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #fff;
    opacity: 0.5;
}

.ico-slider .ico-slider-continue.continue-hidden {
    bottom: 30px;
    opacity: 0;
    pointer-events: none;
}

.mobile-browser .ico-slider .ico-slider-continue {
    display: block;
}

.ico-slider .ico-slider-continue:hover {
    opacity: 1;
}

.ico-slider .ico-slider-continue i {
    font-size: 26px;
    vertical-align: 0;
    font-weight: bold;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ico-slider .ico-slider-continue.dark {
    border-color: #222;
}

.ico-slider .ico-slider-continue.dark i {
    color: #222;
}

/* --------------------------------------------
	SLIDER LOADER
-------------------------------------------- */

#ico-slider-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
}

#ico-slider-loader .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px !important;
    margin-left: -25px;
    text-align: center;
    font-size: 10px;
}

/* --------------------------------------------
	RESPONSIVE
-------------------------------------------- */

@media only screen and (max-width: 1024px) {
    .ico-slider.ico-slider-parallax {
        position: relative;
        -moz-transform: none!important;
        -webkit-transform: none!important;
        transform: none!important;
    }
}

@media only screen and (max-width: 991px) {
    .swiper-slide .caption-content {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 767px) {

    .swiper-slide .caption-wrap {
        max-width: 90%;
    }

    a.ico-slider-prev, a.ico-slider-next {
        display: none !important;
    }

    .ico-slider-pagination {
        opacity: 1!important;
        display: block!important;
        bottom: 10px!important;
    }

    .swiper-slide .caption-content {
        padding-left: 5%;
        padding-right: 5%;
    }

    .swiper-slide .caption-content h1 {
        font-size: 32px !important;
        line-height: 40px !important;
    }

    .swiper-slide .caption-content h2 {
        font-size: 24px !important;
        line-height: 36px !important;
    }

    .swiper-slide .caption-content p.caption-excerpt {
        font-size: 16px;
        line-height: 24px;
    }

    .swiper-slide .caption-content[data-caption-size="smaller"] h2 {
        font-size: 24px !important;
        line-height: 36px !important;
    }

    .swiper-slide .caption-content[data-caption-size="smaller"] div.caption-excerpt {
        font-size: 14px;
        line-height: 0px;
    }
}

@media only screen and (max-width: 479px) {

    a.ico-slider-prev, a.ico-slider-next {
        display: none !important;
    }

}

.swiper-slide .caption-content {
	padding: 0 90px;
}
.row:not(.fw-row) .spb_ico-slider .swift-slider {
	margin-left: -1px;
}
.row:not(.fw-row) .spb_ico-slider .swiper-slide .caption-content {
	padding: 0 10%;
}
.row:not(.fw-row) .spb_ico-slider .swiper-slide .caption-content > h2 {
	font-size: 40px;
	line-height: 52px;
}
.


/* --------------------------------------------
	SWIFT SLIDER ADJUSTMENTS
-------------------------------------------- */

#main-container > .ico-slider {
	width: 100%;
}
.ico-slider a.ico-slider-prev, .ico-slider a.ico-slider-next {
	margin: -30px 0 0;
	padding: 15px;
	width: 62px;
	height: 60px;
	background: transparent!important;
	font-size: 66px;
	overflow: hidden;
	color: #fff!important;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.ico-slider a.ico-slider-prev {
	left: 30px;
}
.ico-slider a.ico-slider-next {
	right: 28px;
}
.ico-slider a.ico-slider-prev.dark, .ico-slider a.ico-slider-next.dark {
	color: #222!important;
}
.ico-slider-prev i {
	position: absolute;
	left: 11px;
	line-height: 26px;
}
.ico-slider-next i {
	position: absolute;
	right: 11px;
	line-height: 26px;
}
.ico-slider-prev h4, .ico-slider-next h4 {
	display: none!important;
}
.ico-slider-pagination {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.ico-slider:hover .ico-slider-pagination {
	opacity: 1;
}
.ico-slider .ico-slider-pagination .dot {
	width: 50px;
	height: 3px;
}
.ico-slider .ico-slider-continue {
	background: transparent!important;
	width: 64px!important;
	height: 60px!important;
	margin-left: -33px!important;
	line-height: 62px!important;
	border: 0!important;
	-moz-border-radius: 0!important;
	-webkit-border-radius: 0!important;
	border-radius: 0!important;
	padding: 0!important;
	bottom: 60px!important;
}
.ico-slider .ico-slider-continue.light {
	color: #fff!important;
}
.ico-slider .ico-slider-continue.dark {
	color: #222!important;
}
.ico-slider .ico-slider-continue i {
	font-size: 66px!important;
	font-weight: normal!important;
}
.ico-slider .ico-scroll-indicator {
	bottom: 20px;
}
.swiper-slide[data-style="light"] .caption-content h2, .swiper-slide[data-style="light"] .caption-content p {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
#ico-slider-loader {
	text-align: center;
}
.swiper-slide .caption-content > h2 {
	line-height: 78px;
}
.circle-bar .spinner > div {
    margin: 0 auto;
    border-bottom: 4px solid #dfdfdf;
    border-left: 4px solid #dfdfdf;
    border-right: 4px solid #333;
    border-top: 4px solid #333;
    border-radius: 100%;
    height: 40px !important;
    width: 40px !important;
    -webkit-animation: circlespin .8s infinite linear;
    -moz-animation: circlespin .6s infinite linear;
    -ms-animation: circlespin .6s infinite linear;
    -o-animation: circlespin .6s infinite linear;
    animation: circlespin .8s infinite linear;
}

.caption-excerpt.left .caption-slide.aligned {
    float: none;
}
