.main-container .sidebar .block .block-content > dl {
    margin-bottom: 0;
}
/* @media (max-width: 1185px) {
  .sidebar + p {
    display: none;
}
} */
@media (max-width: 1024px) {

  .visible-tablet {
    display: block;
  }
  .hidden-tablet {
    display: none;
  }
  .header-wrapper .header-container #main-header-mobile-sticky-wrapper {display: block;}
  #main-header-sticky-wrapper {display: none;}
  .header-wrapper .header-container .main-header.mobile-header .right-header-menu {
  	right: 20px;
    top: 0px;
    text-align: right;
  }
  .header-wrapper .header-container .main-header.mobile-header .right-header-menu .right-wrapp {
  	display: inline-block;
  }
  .header-wrapper .header-container .main-header.mobile-header .right-header-menu .item.header-menu {
  	position: static;
  }
  
  .header-wrapper .header-container .main-header.mobile-header .logo{ height:auto; width:110px !important; padding: 4px 0 6px !important;}
  .logo_img{ max-width:none !important; height:auto !important;}
  #main-header-mobile .container{ position:relative;}
  /*=============================================
  # Main
  ===============================================*/
  /*Deal of the day*/ 
  .main-container .deal-of-day {
  	min-height: 400px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
  } 
  .main-container .deal-of-day .content {
  	width: 100%;
    left: 0;
    top: 13%;
  }
  .main-container .deal-of-day img {
    max-width: 180%;
    width: auto;
  }
  /*collection page*/
  .category-products .itemgrid .item {
    width: 33.333%;
  }
  /*product page*/
  .product-view .product-img-box .product-img-list .more-views-verticle {
  	width: 60px;
  }
  .product-view .product-img-box .product-img-list .more-views-verticle .media-list {
  	width: 60px;
    height: 280px;
  }
  /*=============================================
  # Footer
  ===============================================*/
  .footer-wrapper .footer-top .list-footer .newslettter .block-subscribe {
  	padding: 0 0 5px;
  }
  .footer-wrapper .footer-top .list-footer .footer-links {
  	margin: 0;
    padding-bottom:25px;
  }

  .footer-wrapper .footer-top .about-social .about .about-text {
    margin-bottom: 0;
  }
  .footer-wrapper .footer-top .list-footer .footer-links .info-footer h3 {
  	font-size: 16px;
  }
  
}
@media (max-width: 985px){


  
}
@media only screen and (max-width: 767px) {
.category-products .products-grid .item .product-content {
  padding: 20px 0 3px;
}  
  .sidebar + p {
    display: none;
}
  .hidden-phone {
    display: none;
  }
  .newslettter {     
     margin-top:10px;
   }
  .newslettter .block-subscribe .block-title {
    margin-bottom: 22px;
  }
  .visible-phone {
    display: block;
  }
  .swiper-slide .caption-content {
    padding: 0 10px;
  }
  /*=============================================
  # Header
  ===============================================*/
  /*cart mobile*/
  .header-wrapper .header-container .main-header.mobile-header .right-header-menu .cart-container .cart-wrapper {
  	right: 0px;
  }
  /*=============================================
  # Main
  ===============================================*/
  /*product new home*/
  .main-container .products-collection h3.title-widget span, 
  .main-container .products-related h3.title-widget span, 
  .main-container .blog-homepage h3.title-widget span, 
  .main-container .products-crosssell h3.title-widget span {
  	font-size: 14px;
    padding: 0 10px;
  }
  /*product tab home*/
  .main-container .tab-product-collection .tab-selector:before {
  	background-color:  transparent;
  }
  .main-container .tab-product-collection .tab-selector ul.nav-tabs li {
  	clear: left;
    margin: 0;
  }
  /*Deal of the day*/
  .main-container .deal-of-day {
  	min-height: 300px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
  } 
  .main-container .deal-of-day .content {
  	width: 100%;
    left: 0;
    top: 10%;
  }
  .main-container .deal-of-day img {
    max-width: 280%;
    width: auto;
  }
  .main-container .deal-of-day .content span.title {
    font-size: 30px;
  }
  .main-container .deal-of-day .content span.intro {
    font-size: 16px;
  }
  .main-container .deal-of-day .content .wrapper-product-date .product-date div {
    width: 70px;
    float: left;
    margin-right: 5px;
  }
  .main-container .deal-of-day .content .wrapper-product-date .product-date div span.no {
    width: 65px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
  }
  .main-container .deal-of-day .content .wrapper-product-date .product-date div span.text {
    width: 70px;
    font-size: 13px;
    line-height: 25px;
  }
  .main-container .deal-of-day .content .shop-now a {
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    padding: 0 20px;
  }
  /*sidebar*/
  .main-container .sidebar .block-nav {
  	display: none;
  }
  .main-container .sidebar .block .block-content {
  	display: none;
  }
  /*collection page*/
  .toolbar .sorter_wrap .select-new .select-inner span, 
  .toolbar .limited_wrap .select-new .select-inner span {
  	padding-left: 5px;
    letter-spacing: 1px;
  }
  .toolbar .sorter_wrap .select-new .select-inner select, 
  .toolbar .limited_wrap .select-new .select-inner select {
  	padding: 0 0px 0 5px;
    background: transparent;
  }


	  .toolbar .sorter_wrap .select-new .select-inner span,
	  .toolbar .limited_wrap .select-new .select-inner span {
		padding-left: 0px;
	  }
	  .toolbar .sorter_wrap .select-new .select-inner select,
	  .toolbar .limited_wrap .select-new .select-inner select {
		padding-right: 15px;

	  }

  #collection-main .toolbar .row div:first-child {
	  padding-right: 0px;
  }

  .toolbar .view-mode span.layout-opt {
  	padding: 0 9px;
  } 
  .itemgrid .item {
    width: 50% !important;
  }
  /*product page*/
  .product-view .product-img-box .product-img-list .more-views-verticle {
  	width: 60px;
  }
  .product-view .product-img-box .product-img-list .more-views-verticle .media-list {
  	width: 60px;
    height: 280px;
  }
  .product-view .product-shop .short-description {
  	padding: 0 20px;
  }
  .product-view .product-options-bottom .add-to-cart-box {
  	padding: 10px 0 10px 20px; 
  }
  /*=============================================
  # Footer
  ===============================================*/
  .newslettter .block-subscribe form .input-box {
  	margin-right: 120px; 
  }
  .newslettter .block-subscribe form .actions .btn-button {
  	padding: 0 20px;
  }
  .footer-wrapper .footer-top .list-footer .footer-links .info-footer h3 {
  	margin-top: 25px;
    margin-bottom: 10px;
  }
   .custom-footer-content {
  	display: none;
  }
  .footer-wrapper .footer-top .list-footer {
    padding: 0px 15px 0 !important;
  }
  .footer-wrapper .footer-top .about-social {
    padding-bottom:0px;
  }
  .footer-wrapper .footer-top .about-social .about .about-text p {
    margin: 0;
}
    .footer-wrapper .footer-top .list-footer {
    padding: 20px 15px 0;
    float: left;
    width: 100%;
}
  .footer-wrapper .footer-top .list-footer .footer-links {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 479px) {
/*   .template-product .product-view .product-options-bottom .add-to-cart-box .input-box+.actions {
    clear: both;
    float:none !important;
} */
  .header-wrapper .header-container .header-search-home #search_mini_form{
  	height: 58px;
  }
  .product-view .product-options-bottom .add-to-cart-box {
    padding: 10px 0 10px 20px;
}
  .header-wrapper .header-container .header-search-home #search_mini_form .form-search button.search-button span
  {
    width: 30px;
    height: 20px;
    line-height: 35px;
  }
  .header-wrapper .header-container .header-search-home #search_mini_form .form-search
  {
    padding-right: 49px;
  }
  input#home-search {
    line-height: 36px !important;
  }
  .itemgrid .item {
    width: 50% !important;
  }
  .category-products .products-grid .item .product-action .product-image {
    display: block;
    position: relative;
/*     border: #e6e6e6 solid 1px; */
    width: 100%;
 	height: 135px;
    overflow: hidden;
}

}