.main-navigation {position: relative;}
.is-sticky .main-navigation {display: block;}
.is-sticky .top-navigation {
    height: 50px;
    display: inline;
}
.is-sticky .top-navigation li.level0 a.level-top {
    line-height: 70px;
}
.top-navigation {
    display: inline;
}
.top-navigation li {
    float: left;
    padding: 0;
    text-align: left;
}
.top-navigation li.menu-item-right {
    float: right;
}
.is-sticky .top-navigation li.level0 {
    display: block;
    line-height: 50px;
}
.top-navigation li.level0 {
    line-height: 104px;
    padding: 0;
}
.top-navigation li.level0.active, .top-navigation li.level0:hover {
    padding: 0;
}
.top-navigation a, .top-navigation a:hover {
    display: block;
    outline: none;
    text-decoration: none;
}
.top-navigation a {
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    float: left;
    font-size: 100%;
    margin: 0;
    outline: medium none;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
}
.top-navigation li {
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
}
.top-navigation a, .top-navigation a:hover {
    display: block;
    outline: none;
    text-decoration: none;
}
.top-navigation span {
    cursor: pointer; 
    white-space: nowrap;
}
.top-navigation li.level0 a.level-top {
    font-weight: 600;
    letter-spacing: 0.2em;
    line-height: 90px;
}
.top-navigation li.level0 a.level-top:after {
    content:'';
    display: block;
    height: 4px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.top-navigation li.level0.active a.level-top:after,
.top-navigation li.level0 a.level-top:hover:after {
    width: 30px;
}
.top-navigation li.active a.level-top {
    outline: none;
}
.top-navigation a, #megamenu a, .top-navigation li.level0 a {
    position: relative;
}
/*Label category*/
li.level0 > a > span > .cat-label {
    position: absolute;
    top: 3px;
    right: 0;
    padding: 0 5px;
    font-size: 11px;
    line-height: 19px;
}
.cat-label-label1 {
    background-color: #5bd2ec;
    color: #ffffff;
}
.cat-label-label2 {
    background-color: #d52462;
    color: #ffffff;
}

li.level0 > a > span > .cat-label-label1.pin-bottom:before {
    border-top-color: #5bd2ec;
}
li.level0 > a > span > .cat-label-label2.pin-bottom:before {
    border-top-color: #d52462;
}
li.level1 > a > span > .cat-label {
    display: inline-block !important;
    padding: 0 4px;
    margin-left: 2px;
    vertical-align: top;
}
li.level0 > a > span > .pin-bottom:before {
    position: absolute;
    left: 6px;
    top: 19px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    transition: border-color 450ms ease-in-out;
}
.cat-label {
    padding: 2px 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
    text-transform: none;
    transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
    -moz-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
    -webkit-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
    -o-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
}
.top-navigation li.level0 ul li {
    height: auto;
}
.top-navigation .menu-wrap-sub ul {
    border: none;
    margin: 0px;
    padding: 0px;
    position: static;
    width: auto;
}
.top-navigation ul.level0 li {
    float: left;
    outline: none;
    position: relative;
    margin-right: 2%;
    margin-left: 0;
    padding-bottom: 0px;
}
.top-navigation ul li, .top-navigation ul li.active {
    background: none;
    margin: 0;
    padding: 0;
}
.top-navigation li.level0 ul li ol {
    margin: 0 0 0 5px;
}
.top-navigation li.level0 ul li.groups > a {
    background: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 15px;
    padding-left: 0;
    border-bottom: 1px solid #e6e6e6;
    letter-spacing: 0.1em;
}
.top-navigation li ul span {
    white-space: normal;
}
.top-navigation li.level0 ul li a, .top-navigation li.level0 .groups-wrapper ul li a {
    -webkit-transition: all 0.2s ease-out 0s;
    border: 0 none;
    font-size: 12px;
    height: auto;
    color: #9aa7af;
    line-height: 30px;
    margin: 0;
    outline: medium none;
    padding:0;
    transition: all 0.2s ease-out 0s;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.top-navigation li.level0 ul li a, .top-navigation li.level0 .groups-wrapper ul li a span {
    float: left;
}
.top-navigation  li.level1 ul.level1 li.level2 a:before,
 .top-navigation li.level0 .groups-wrapper ul li a:before {
    content:"\f105";
    font-family: FontAwesome;
    font-size: 16px;
    float: left;
    margin-right: 7px;
}
.top-navigation ul li ul.level1 li, .top-navigation ul li ul.level2 li {
    padding: 0;
}
.top-navigation  li.level1 ul.level1 li.level2 a span {
    float: left;
}
.top-navigation li.level0 .groups-wrapper ul li a:hover {
    padding-left: 20px;
}

.top-navigation li.level0 ul li a span.title_group {
    padding-left: 0;
    font-family: Montserrat, arial, serif;
}

.top-navigation ul li ul.level1 li, .top-navigation ul li ul.level2 li {
	border: 0;
    margin-right: 20px;
    margin-left: 0px;
    width: auto;
    float: left;
    display: inline-block;
}
.top-navigation ul li ul.level1 > li:first-child {
    margin-top: 0px;
}
.top-navigation li .menu-wrap-sub li div.menu-wrap-sub {
    top: 5px;
    width: 100%;
}
/*Dropdown classic*/
.top-navigation li.m-dropdown {
    position: relative;
}
.top-navigation .dropdown ul.level0  li{ width: 100% }
.top-navigation li.m-dropdown .dropdown.menu-wrap-sub { width: 260px; max-width:290px }
.ulmenu-block {
    padding: 15px 0 10px 0;
    display: block; 
    float: left;
}

.ulmenu-block img {
    padding-top: 10px;
}

/****Vertical Megamenu***/
.col-right .vertical-navigation-main ul li.m-dropdown ul li.level1 div.menu-wrap-sub {
    width: 100%;
    right: 250px !important;
}
.col-right .vertical-navigation-main ul li.m-dropdown ul li.level1 div.groups-wrapper div.menu-wrap-sub {
    width: 100%;
    right: 222px !important;
}
.col-right .vertical-navigation-main li.level2 div.menu-wrap-sub {
    width: 100%;
    right: 186px !important;
}
.col-right .vertical-navigation-main div.menu-wrap-sub {
    -webkit-box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.15);
    outline: none;
    width: 620px;
    z-index: 9;
    background: #dedee4;
    top: 0;
    padding: 0;
    clear: left;
}

.col-left .vertical-navigation-main div.menu-wrap-sub {
    -webkit-box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.15);
    outline: none;
    width: 620px;
    z-index: 9;
    background: #dedee4;
    top: 0;
    padding: 0;
    left: 100%;
    position: absolute;

}
.col-left .vertical-navigation-main li.level1 div.menu-wrap-sub {
    width: 100%;
}
.vertical-navigation-main .dropdown ul.level0  li{ width: 100%; padding: 0 13px;}
.vertical-navigation-main li.m-dropdown .dropdown.menu-wrap-sub { width: 270px; max-width:300px }
ul.vertical-navigation-container > li {
    position: relative;
    height: 36px;
    border-bottom: #dfdfdf solid 1px;
    line-height: 35px;
}
.vertical-navigation-main li.level0 ul li {
    height: auto;
}
.vertical-navigation-main ul.level0 li {
    float: left;
    outline: none;
    position: relative;
}
.vertical-navigation-main ul li ul.level1 li, .vertical-navigation-main ul li ul.level2 li {
    border: 0;
    margin: 0;
    width: 100%;
    padding: 0 0 0 10px;
}