<!-- /templates/404.liquid -->
<div class="container page-404-container">
  <div class="page-404">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext_html' | t }}</p>
  </div>
  
  <div class="notice">
	<h4><strong>{{ 'general.404.posible_reason' | t }}</strong></h4>
	<ul>
		<li>{{ 'general.404.posible_reason_1' | t }}</li>
		<li>{{ 'general.404.posible_reason_2' | t }}</li>
		<li>{{ 'general.404.posible_reason_3' | t }}</li>
	</ul>
  </div>
  
  
  <div id="SearchForm-404" class="cf search-404">
     <form action="/search" method="get" class="search-404-form" role="search">
      <input type="hidden" name="type" value="product">
      <input class="search Textbox autobox default" {% if settings.language_enable %}data-translate="general.search.placeholder"{% endif %} placeholder="{{ 'general.search.placeholder' | t }}" name="q" type="text" id="search-field"  /> 
      
      <button type="submit" class="Button">
       {{ 'general.search.submit' | t }}
      </button>

    </form>
  </div>
  <div class="main-collection">
	  <h4><strong>{{ 'general.404.shop_title' | t }}</strong></h4>
	  {% for link in linklists.main-menu.links %}
	  <div class="col-md-4 col-sm-6 col-xs-12">
		<a class="main-collection-link" href="{{ link.url }}">{{ link.title }}</a>
	  </div>
	  {% endfor %}
  </div>
  
</div>

<!-- Begin Transportr -->
{% include 'transportr' %}
<!-- End Transportr -->
{% include 'SEOMetaManager-404' %}