<!-- /templates/article.liquid --> 
{% assign number_of_comments = article.comments_count %}  
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<div class="container article-container latest-projects-article">
    <div class="row">
        <div class="col-md-8">
            <div class="blog-wrapper">
            <div class="postWrapper"> 
                <h1>
                    {% if settings.language_enable %}
                        <span class="lang1">{{ article.title | split: '|' | first }}</span>
                        <span class="lang2">{{ article.title | split: '|' | last }}</span>
                    {% else %}
                        {{ article.title | split: '|' | first }}
                    {% endif %}
                </h1>
                <div class="postDetails">
                    {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
                    {% capture date %}
                        <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                            {{ article.published_at | date: format: 'month_day_year' }}
                        </time>
                    {% endcapture %}
                    <span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.author_on_date_html|date:{{date}},author:{{author}}" translate-item="blog-date-author"{%endif%}>
                        Posted by {{ author }} on {{ date }}
                    </span>
                </div>
                <div class="meta">
                    {% if article.url contains 'news' %}
                        {% assign cat = 'News' %}
                    {% elsif article.url contains 'latest-projects' %}
                        {% assign cat = 'Latest Projects' %}
                    {% elsif article.url contains 'how-to' %}
                        {% assign cat = 'How To' %}
                    {% else %}
                        {% assign cat = 'Null' %}
                    {% endif %}
                    <a href="/blogs/{{ cat | handleize }}"><span>#{{ cat }}</span></a>
                </div>
                <div class="postTitle clearfix">
                    {% assign articlebg-url = article | img_url: 'master' %}
                    <div class="post-heading-bg" style="background-image: url({{ articlebg-url }})"></div>
                        {% if settings.social_facebook_link !='' or settings.social_twitter_link !='' or settings.social_bee_link !='' or settings.social_googleplus_link !='' or settings.social_instagram_link !='' %}
                        {% endif %}
                </div> 
                <div class="postContent">
                {% if article.excerpt contains '<img' %}
                <div class="excerpt img-responsive">
                    <a href="{{ article.url }}">
                    {{ article.excerpt }}
                    </a>
                </div>
                {% elsif article.excerpt contains '<iframe' %}
                <div class="excerpt video-responsive">
                    {{ article.excerpt }}
                </div> 
                {% endif %} 
                {% if settings.language_enable %}
                <div class="lang1">{{ article.content | split: '[lang2]' | first }}</div>
                <div class="lang2">{{ article.content | split: '[lang2]' | last }}</div>
                {% else %}
                {{ article.content | split: '[lang2]' | first }}
                {% endif %} 
                {% include 'tags-article' %}
                    {% if settings.social_facebook_link !='' or settings.social_twitter_link !='' or settings.social_bee_link !='' or settings.social_googleplus_link !='' or settings.social_instagram_link !='' %}
                    <div class="social mobile-social">
                        <ul class="social-icons small light">
                            {% if settings.social_facebook_link !='' %}
                            <li class="facebook">
                                <a class="fa fa-facebook" href="{{settings.social_facebook_link}}" target="_blank"><span>Facebook</span></a>
                            </li>
                            {% endif %}
                            {% if settings.social_twitter_link !='' %}
                            <li class="twitter">
                                <a class="fa fa-twitter" href="{{settings.social_twitter_link}}" target="_blank"><span>Twitter</span></a>
                            </li>
                            {% endif %}
                            {% if settings.social_bee_link !='' %}
                            <li class="behance">
                                <a class="fa fa-behance" href="{{settings.social_bee_link}}" target="_blank"><span>Behance</span></a>
                            </li>
                            {% endif %}
                            {% if settings.social_googleplus_link !='' %}
                            <li class="gplus">
                                <a class="fa fa-google-plus" href="{{settings.social_googleplus_link}}" target="_blank"><span>Google plus</span></a>
                            </li>
                            {% endif %}
                            {% if settings.social_instagram_link !='' %}
                            <li class="instagram">
                                <a class="fa fa-instagram" href="{{settings.social_instagram_link}}" target="_blank"><span>Instagram</span></a>
                            </li>
                            {% endif %}
                            {% if settings.social_youtube_link !='' %}
                            <li class="youtube">
                                <a class="fa fa-youtube" href="{{settings.social_youtube_link}}" target="_blank"><span>Youtube</span></a>
                            </li>
                            {% endif %}
                            {% if settings.social_pinterest_link !='' %}
                            <li class="pinterest">
                                <a class="fa fa-pinterest" href="{{settings.social_pinterest_link}}" target="_blank"><span>Pinterest</span></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                
                {% if blog.comments_enabled? %}
                <h3 class="comment-title">Show Comments</h3>
                <div class="post-comment">
                
                <h3 {% if settings.language_enable %}data-translate="blogs.comments.comments_with_count|count:{{number_of_comments}}"{%endif%}>{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h3> 
                
                {% comment %}
                Just like blog.liquid page, define how many comments should be on each page.
                {% endcomment %}
                {% paginate article.comments by 5 %}
                {% comment %}
                #Comments is required, it is used as an anchor link by Shopify.
                {% endcomment %}
                <div id="Comments">

                {% if comment and comment.created_at %}
                <p class="note form-success"> 
                    {% if blog.moderated? %}
                    <span {% if settings.language_enable %}data-translate="blogs.comments.success_moderated"{%endif%}>{{ 'blogs.comments.success_moderated' | t }}</span>
                    {% else %}
                    <span {% if settings.language_enable %}data-translate="blogs.comments.success"{%endif%}>{{ 'blogs.comments.success' | t }}</span>
                    {% endif %} 
                </p>
                {% endif %}

                {% if number_of_comments > 0 %}
                <ul class="no-bullets">
                    {% comment %}
                    If a comment was just submitted with no blank field, show it.
                    {% endcomment %}
                    {% if comment and comment.created_at %}
                    <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                    {% include 'comment' %}
                    </li>
                    {% endif %}

                    {% comment %}
                    Showing the rest of the comments.
                    {% endcomment %}
                    {% for comment in article.comments %}
                    <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                    {% include 'comment' %}
                    </li>

                    {% unless forloop.last %}
                    <li><hr></li>
                    {% endunless %}
                    {% endfor %}
                </ul>

                {% if paginate.pages > 1 %}
                <hr>
                <div class="pagination">
                    {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                </div>
                {% endif %}

                <hr>

                {% endif %}

                {% comment %}
                Comment submission form
                {% endcomment %}
                <div class="form-vertical">
                    {% form 'new_comment', article %}

                    {% comment %}
                    #AddCommentTitle is used simply as an anchor link
                    {% endcomment %}
                    <h3 id="AddCommentTitle" {% if settings.language_enable %}data-translate="blogs.comments.title"{%endif%}>{{ 'blogs.comments.title' | t }}</h3>

                    {{ form.errors | default_errors }}

                    <div class="grid">

                    <div class="grid__item large--one-half">
                        <label for="CommentAuthor" class="hidden-label">{{ 'blogs.comments.name' | t }}</label>
                        <input type="text" name="comment[author]" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} error{% endif %}" value="{{ form.author }}" autocapitalize="words">

                        <label for="CommentEmail" class="hidden-label">{{ 'blogs.comments.email' | t }}</label>
                        <input type="email" name="comment[email]" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                    </div>

                    <div class="grid__item large--one-half">
                        <label for="CommentBody" class="hidden-label">{{ 'blogs.comments.message' | t }}</label>
                        <textarea name="comment[body]" id="CommentBody" class="input-full{% if form.errors contains 'body' %} error{% endif %}">{{ form.body }}</textarea>
                    </div>

                    </div>

                    {% if blog.moderated? %}
                    <p {% if settings.language_enable %}data-translate="blogs.comments.moderated"{%endif%}>{{ 'blogs.comments.moderated' | t }}</p>
                    {% endif %}

                    <input type="submit" class="btn-button" {% if settings.language_enable %}data-translate="blogs.comments.post"{%endif%} value="{{ 'blogs.comments.post' | t }}">

                    {% comment %}
                    Assign variable to be used after timber.init() is run in theme.liquid
                    {% endcomment %}
                    {% if form.errors %}
                    {% assign newHash = 'AddCommentTitle' %}
                    {% endif %}

                    {% if form.posted_successfully? %}
                    {% assign newHash = 'Comments' %}
                    {% endif %}

                    {% endform %}
                </div>

                </div>
                {% endpaginate %}
                </div>
                
                {% endif %} 
                
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% section 'latest-projects-sidebar' %}
        </div>
    </div>
</div>

<div class="related-articles-container">
    <div class="row">
        <div class="related-article">
            <h3 class="related-title">You might also like...</h3> 
            <div class="blog-grid-layout">
                <div class="blog-tiles-wrapper">
                    {% assign post_id = article.id %}
                    {% for article in blog.articles limit: 3 %}
                        {% if article.id != post_id %}
                            <div class="blog-tiles">
                                <div class="blog-thumbnail" style="background: url('{{ article.image.src | img_url: 'master' }}') no-repeat center / cover">
                                    <div class="meta">
                                        {% if article.url contains 'news' %}
                                            {% assign cat = 'News' %}
                                        {% elsif article.url contains 'how-to' %}
                                            {% assign cat = 'How To' %}
                                        {% elsif article.url contains 'latest-projects' %}
                                            {% assign cat = 'Latest Projects' %}
                                        {% else %}
                                            {% assign cat = 'Null' %}
                                        {% endif %}
                                        <a href="/blogs/{{ cat | handleize }}"><span>#{{ cat }}</span></a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <h3>
                                    <a href="{{ article.url }}">
                                        {% if settings.language_enable %}
                                        <span class="lang1">{{ article.title | split: '|' | first }}</span>
                                        <span class="lang2">{{ article.title | split: '|' | last }}</span>
                                        {% else %}
                                        {{ article.title | split: '|' | first }}
                                        {% endif %}
                                    </a>
                                    </h3>
                                    {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
                                    {% capture date %}
                                    <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                                        {{ article.published_at | date: format: 'month_day_year' }}
                                    </time>
                                    {% endcapture %}
                                    <span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.author_on_date_html|date:{{date}},author:{{author}}" translate-item="blog-date-author"{%endif%}>
                                    {{ 'blogs.article.author_on_date_html' | t: date: date, author: author }}
                                    </span>
                                    <div class="postContent">
                                        {% if article.excerpt contains '<img' %}
                                            <div class="excerpt img-responsive">
                                            <a href="{{ article.url }}">
                                                {{ article.excerpt | truncatewords: 60 }}
                                            </a>
                                            </div>
                                            {% elsif article.excerpt contains '<iframe' %}
                                            <div class="excerpt video-responsive">
                                            {{ article.excerpt | truncatewords: 60 }}
                                            </div>
                                        {% endif %}
                                        {% if settings.language_enable %}
                                            <span class="lang1">{{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 60 }}</span>
                                            <span class="lang2">{{ article.content | strip_html | split: '[lang2]' | last | truncatewords: 60 }}</span>
                                        {% else %}
                                            {{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 60 }}
                                        {% endif %}
                                    </div>
                                </div>  
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% section 'blog-footer' %}

<script>
jQuery(document).ready(function() {
    var $ = jQuery;

	jQuery('.post-comment').hide();
	jQuery('.comment-title').click(function() {
		jQuery('.post-comment').slideToggle();
		if(jQuery(this).html().toLowerCase() == 'show comments' ) {
			jQuery(this).html('Hide Comments');
		} else {
			jQuery(this).html('Show Comments');
		}
	});

    initCarouselContent() 

    function initCarouselContent() {
        var table = $('.latest-projects-article .postContent ul')

        if( table.length >= 0 ) {
            table.slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true
            })
        }

    }
});
</script>
