<!-- /templates/article.liquid --> 
{% assign number_of_comments = article.comments_count %}  
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

{% include 'breadcrumb' %}

<div class="container article-container">
  <div class="row">
    {% comment %}
    <div class="col-sm-3 sidebar">
    {% include 'blog-sidebar' %} 
    </div>
    {% endcomment %}
    <div class="col-sm-12">
      <div class="blog-wrapper">
      <div class="postWrapper"> 
        <div class="postTitle clearfix">
            {% assign articlebg-url = article | img_url: 'master' %}
          <div class="post-heading-bg" style="background-image: url({{ articlebg-url }})"></div>
            {% if settings.social_facebook_link !='' or settings.social_twitter_link !='' or settings.social_bee_link !='' or settings.social_googleplus_link !='' or settings.social_instagram_link !='' %}
              <div class="social col-sm-12 col-md-6 text-right">
                <ul class="social-icons small light">
                    {% if settings.social_facebook_link !='' %}
                      <li class="facebook">
                        <a class="fa fa-facebook" href="{{settings.social_facebook_link}}" target="_blank"><span>Facebook</span></a>
                      </li>
                    {% endif %}
                    {% if settings.social_twitter_link !='' %}
                      <li class="twitter">
                        <a class="fa fa-twitter" href="{{settings.social_twitter_link}}" target="_blank"><span>Twitter</span></a>
                      </li>
                    {% endif %}
                    {% if settings.social_bee_link !='' %}
                      <li class="behance">
                        <a class="fa fa-behance" href="{{settings.social_bee_link}}" target="_blank"><span>Behance</span></a>
                      </li>
                    {% endif %}
                    {% if settings.social_googleplus_link !='' %}
                      <li class="gplus">
                        <a class="fa fa-google-plus" href="{{settings.social_googleplus_link}}" target="_blank"><span>Google plus</span></a>
                      </li>
                    {% endif %}
                    {% if settings.social_instagram_link !='' %}
                      <li class="instagram">
                        <a class="fa fa-instagram" href="{{settings.social_instagram_link}}" target="_blank"><span>Instagram</span></a>
                      </li>
                    {% endif %}
                    {% if settings.social_youtube_link !='' %}
                      <li class="youtube">
                        <a class="fa fa-youtube" href="{{settings.social_youtube_link}}" target="_blank"><span>Youtube</span></a>
                      </li>
                    {% endif %}
                    {% if settings.social_pinterest_link !='' %}
                      <li class="pinterest">
                        <a class="fa fa-pinterest" href="{{settings.social_pinterest_link}}" target="_blank"><span>Pinterest</span></a>
                      </li>
                    {% endif %}
                </ul>
              </div>
            {% endif %}

          <div class="section-header__left">
            <div class="meta">
                {% if article.url contains 'news' %}
                    {% assign cat = 'News' %}
                {% else if article.url contains 'how-to' %}
                    {% assign cat = 'How To' %}
                    {% else %}
                        {% assign cat = 'Null' %}

                {% endif %}
              <a href="/blogs/{{ cat | handleize }}"><span>#{{ cat }}</span></a>
            </div>
            <h1 class="col-sm-12 col-md-6">
              {% if settings.language_enable %}
              <span class="lang1">{{ article.title | split: '|' | first }}</span>
              <span class="lang2">{{ article.title | split: '|' | last }}</span>
              {% else %}
              {{ article.title | split: '|' | first }}
              {% endif %}
            </h1>
            <div class="postDetails col-sm-12 col-md-6">
                {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
                {% capture date %}
                  <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                      {{ article.published_at | date: format: 'month_day_year' }}
                  </time>
                {% endcapture %}
              <span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.author_on_date_html|date:{{date}},author:{{author}}" translate-item="blog-date-author"{%endif%}>
						{{ date }} {{ author }}
					</span>
            </div>
          </div>
        </div> 
        <div class="postContent col-sm-12 col-md-12">
          {% if article.excerpt contains '<img' %}
          <div class="excerpt img-responsive">
            <a href="{{ article.url }}">
              {{ article.excerpt }}
            </a>
          </div>
          {% elsif article.excerpt contains '<iframe' %}
          <div class="excerpt video-responsive">
            {{ article.excerpt }}
          </div> 
          {% endif %} 
          {% if settings.language_enable %}
          <div class="lang1">{{ article.content | split: '[lang2]' | first }}</div>
          <div class="lang2">{{ article.content | split: '[lang2]' | last }}</div>
          {% else %}
          {{ article.content | split: '[lang2]' | first }}
          {% endif %} 
          {% include 'tags-article' %}
            {% if settings.social_facebook_link !='' or settings.social_twitter_link !='' or settings.social_bee_link !='' or settings.social_googleplus_link !='' or settings.social_instagram_link !='' %}
              <div class="social mobile-social">
                <ul class="social-icons small light">
                    {% if settings.social_facebook_link !='' %}
                      <li class="facebook">
                        <a class="fa fa-facebook" href="{{settings.social_facebook_link}}" target="_blank"><span>Facebook</span></a>
                      </li>
                    {% endif %}
                    {% if settings.social_twitter_link !='' %}
                      <li class="twitter">
                        <a class="fa fa-twitter" href="{{settings.social_twitter_link}}" target="_blank"><span>Twitter</span></a>
                      </li>
                    {% endif %}
                    {% if settings.social_bee_link !='' %}
                      <li class="behance">
                        <a class="fa fa-behance" href="{{settings.social_bee_link}}" target="_blank"><span>Behance</span></a>
                      </li>
                    {% endif %}
                    {% if settings.social_googleplus_link !='' %}
                      <li class="gplus">
                        <a class="fa fa-google-plus" href="{{settings.social_googleplus_link}}" target="_blank"><span>Google plus</span></a>
                      </li>
                    {% endif %}
                    {% if settings.social_instagram_link !='' %}
                      <li class="instagram">
                        <a class="fa fa-instagram" href="{{settings.social_instagram_link}}" target="_blank"><span>Instagram</span></a>
                      </li>
                    {% endif %}
                    {% if settings.social_youtube_link !='' %}
                      <li class="youtube">
                        <a class="fa fa-youtube" href="{{settings.social_youtube_link}}" target="_blank"><span>Youtube</span></a>
                      </li>
                    {% endif %}
                    {% if settings.social_pinterest_link !='' %}
                      <li class="pinterest">
                        <a class="fa fa-pinterest" href="{{settings.social_pinterest_link}}" target="_blank"><span>Pinterest</span></a>
                      </li>
                    {% endif %}
                </ul>
              </div>
            {% endif %}
        </div>


        {% if blog.next_article or blog.previous_article %} 
        <hr>
        <p class="clearfix">
          {% if blog.previous_article %}
          <span class="left" {% if settings.language_enable %}data-translate="blogs.article.older_post|link_to:{{blog.previous_article}}"{%endif%}>
            &larr; {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
          </span>
          {% endif %}
          {% if blog.next_article %}
          <span class="right" {% if settings.language_enable %}data-translate="blogs.article.newer_post|link_to:{{blog.next_article}}"{%endif%}>
            {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }} &rarr;
          </span>
          {% endif %}
        </p>
        {% endif %}
		<div class="related-article">
        <h3 class="related-title">You might also like</h3> 
		
		{% assign min = 0 %}
		{% assign max = blog.articles_count %}
		{% assign diff = max | minus: min %}
		{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
			{% assign randomNumber1 = randomNumber | plus: 1 %}
			{% assign randomNumber2 = randomNumber | minus: 1 %}
		{% assign articleCount = 0 %}
		{% for relatedArticle in blog.articles %}
			{% if relatedArticle.id != article.id and articleCount < 2 %}
				{% if forloop.index == randomNumber or forloop.index == randomNumber1 or forloop.index == randomNumber2 %}
					{% assign articleCount = articleCount | plus: 1 %}
					
			<div class="postWrapper col-md-12">
            <div class="postTitle col-md-4">
              <h3>
                <a href="{{ relatedArticle.url }}"> 
                  {% if settings.language_enable %}
                  <span class="lang1">{{ relatedArticle.title | split: '|' | first }}</span>
                  <span class="lang2">{{ relatedArticle.title | split: '|' | last }}</span>
                  {% else %}
                  {{ relatedArticle.title | split: '|' | first }}
                  {% endif %}
                </a>
              </h3> 

                   <div class="meta">
                       {% if relatedArticle.url contains 'news' %}
						{% assign cat = 'News' %}
                       {% else if relatedArticle.url contains 'how-to' %}
						{% assign cat = 'How To' %}
                       {% else %}
                       {% assign cat = 'Null' %}

                       {% endif %}
                       <a href="/blogs/{{ cat | handleize }}"><span>#{{ cat }}</span></a>
                   </div>
				   
              <div class="postDetails">
                <a href="{{ relatedArticle.url }}#Comments" {% if settings.language_enable %}data-translate="blogs.comments.comments_with_count|count:{{relatedArticle.comments_count}}"{%endif%}>
                  {{ 'blogs.comments.comments_with_count' | t: count: relatedArticle.comments_count }}
                </a>
                | {% capture author %}<strong>{{ relatedArticle.author }}</strong>{% endcapture %}
                {% capture date %}
                <time datetime="{{ relatedArticle.published_at | date: '%Y-%m-%d' }}">
                  {{ relatedArticle.published_at | date: format: 'month_day_year' }}
                </time>
                {% endcapture %} 
                <span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.author_on_date_html|date:{{date}},author:{{author}}" translate-item="blog-date-author"{%endif%}>
                  {{ 'blogs.article.author_on_date_html' | t: date: date, author: author }}        
                </span>
              </div>
            </div> 
            <div class="postContent col-md-4">
              {% if relatedArticle.excerpt contains '<img' %}
              <div class="excerpt img-responsive">
                <a href="{{ relatedArticle.url }}">
                  {{ relatedArticle.excerpt | truncatewords: 60 }}
                </a>
              </div>
              {% elsif relatedArticle.excerpt contains '<iframe' %}
              <div class="excerpt video-responsive">
                {{ relatedArticle.excerpt | truncatewords: 60 }}
              </div> 
              {% endif %} 
              {% if settings.language_enable %}
              <span class="lang1">{{ relatedArticle.content | strip_html | split: '[lang2]' | first | truncatewords: 60 }}</span>
              <span class="lang2">{{ relatedArticle.content | strip_html | split: '[lang2]' | last | truncatewords: 60 }}</span>
              {% else %}
              {{ relatedArticle.content | strip_html | split: '[lang2]' | first | truncatewords: 60 }}
              {% endif %} 
            </div> 
            <div class="article__grid-image col-md-4">
              {{ relatedArticle | img_url: 'master' | img_tag: relatedArticle.title }}
            </div>
            <!--
			<a class="btn-button" href="{{ relatedArticle.url }}" {% if settings.language_enable %}data-translate="blogs.article.read_more"{% endif %}>{{ 'blogs.article.read_more' | t }} &rarr;</a> 
			-->
          </div>
		  
				{% endif %}
			{% endif %}
		{% endfor %}
		</div>
		
        {% if blog.comments_enabled? %}
		<h3 class="comment-title">Show Comments</h3>
		<div class="post-comment">
		
        <h3 {% if settings.language_enable %}data-translate="blogs.comments.comments_with_count|count:{{number_of_comments}}"{%endif%}>{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h3> 
		
        {% comment %}
        Just like blog.liquid page, define how many comments should be on each page.
        {% endcomment %}
        {% paginate article.comments by 5 %}
        {% comment %}
        #Comments is required, it is used as an anchor link by Shopify.
        {% endcomment %}
        <div id="Comments">

          {% if comment and comment.created_at %}
          <p class="note form-success"> 
            {% if blog.moderated? %}
            <span {% if settings.language_enable %}data-translate="blogs.comments.success_moderated"{%endif%}>{{ 'blogs.comments.success_moderated' | t }}</span>
            {% else %}
            <span {% if settings.language_enable %}data-translate="blogs.comments.success"{%endif%}>{{ 'blogs.comments.success' | t }}</span>
            {% endif %} 
          </p>
          {% endif %}

          {% if number_of_comments > 0 %}
          <ul class="no-bullets">
            {% comment %}
            If a comment was just submitted with no blank field, show it.
            {% endcomment %}
            {% if comment and comment.created_at %}
            <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
              {% include 'comment' %}
            </li>
            {% endif %}

            {% comment %}
            Showing the rest of the comments.
            {% endcomment %}
            {% for comment in article.comments %}
            <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
              {% include 'comment' %}
            </li>

            {% unless forloop.last %}
            <li><hr></li>
            {% endunless %}
            {% endfor %}
          </ul>

          {% if paginate.pages > 1 %}
          <hr>
          <div class="pagination">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
          </div>
          {% endif %}

          <hr>

          {% endif %}

          {% comment %}
          Comment submission form
          {% endcomment %}
          <div class="form-vertical">
            {% form 'new_comment', article %}

            {% comment %}
            #AddCommentTitle is used simply as an anchor link
            {% endcomment %}
            <h3 id="AddCommentTitle" {% if settings.language_enable %}data-translate="blogs.comments.title"{%endif%}>{{ 'blogs.comments.title' | t }}</h3>

            {{ form.errors | default_errors }}

            <div class="grid">

              <div class="grid__item large--one-half">
                <label for="CommentAuthor" class="hidden-label">{{ 'blogs.comments.name' | t }}</label>
                <input type="text" name="comment[author]" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} error{% endif %}" value="{{ form.author }}" autocapitalize="words">

                <label for="CommentEmail" class="hidden-label">{{ 'blogs.comments.email' | t }}</label>
                <input type="email" name="comment[email]" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
              </div>

              <div class="grid__item large--one-half">
                <label for="CommentBody" class="hidden-label">{{ 'blogs.comments.message' | t }}</label>
                <textarea name="comment[body]" id="CommentBody" class="input-full{% if form.errors contains 'body' %} error{% endif %}">{{ form.body }}</textarea>
              </div>

            </div>

            {% if blog.moderated? %}
            <p {% if settings.language_enable %}data-translate="blogs.comments.moderated"{%endif%}>{{ 'blogs.comments.moderated' | t }}</p>
            {% endif %}

            <input type="submit" class="btn-button" {% if settings.language_enable %}data-translate="blogs.comments.post"{%endif%} value="{{ 'blogs.comments.post' | t }}">

            {% comment %}
            Assign variable to be used after timber.init() is run in theme.liquid
            {% endcomment %}
            {% if form.errors %}
            {% assign newHash = 'AddCommentTitle' %}
            {% endif %}

            {% if form.posted_successfully? %}
            {% assign newHash = 'Comments' %}
            {% endif %}

            {% endform %}
          </div>

        </div>
        {% endpaginate %}
		</div>
		
        {% endif %} 
		
		<a href="{{ blog.url }}" class="back-to-blog"><h3>Back To Blog</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
jQuery(document).ready(function() {
	jQuery('.post-comment').hide();
	jQuery('.comment-title').click(function() {
		jQuery('.post-comment').slideToggle();
		if(jQuery(this).html().toLowerCase() == 'show comments' ) {
			jQuery(this).html('Hide Comments');
		} else {
			jQuery(this).html('Show Comments');
		}
	});
});
</script>
