<!-- /templates/blog.latest-projects.liquid -->

{% paginate blog.articles by 9 %}

{% section 'blog-header' %}

{% section 'blog-projects' %}

{% assign step_page = paginate.current_page | minus: 4 %}
{% assign count_page = paginate.pages %}
    <div class="shopify-section pagination-section">
        <div class="row">
            <ul class="pagination-container clearfix">
                {% if paginate.current_page != 1 %}
                    <li class="prev"><a href="{{ blog.url }}?page={% if step_page > 1 %}{{ paginate.current_page | minus: 4 }}{% else %}1{% endif %}"></a></li>
                {% endif %}
                {% for part in (1..count_page) %}
                    <li class="page-item {% if paginate.current_page == part %}active{% endif %}"><a href="{{ blog.url }}?page={{ forloop.index }}">{{ forloop.index }}</a></li>
                {% endfor %}
                {% if count_page > 1 and paginate.current_page != count_page %}
                    <li class="next"><a href="{{ blog.url }}?page={{ paginate.current_page | plus: 1 }}"></a></li>
                {% endif %}
            </ul>
        </div>
    </div>

{% section 'blog-footer' %}
{% endpaginate %}
