<!-- /templates/blog.liquid --> 

{% paginate blog.articles by 10 %} 
{% include 'breadcrumb' %}
 
<div class="container">
  <div class="row">
    {% comment %}
    <div class="col-sm-3 sidebar"> 
      {% include 'blog-sidebar' %} 
    </div>
    {% endcomment %}
    </div>
    <div class="blog-wrapper">
    	<div class="row">  
          {% for article in blog.articles %}
		  {% if forloop.index == 1 and paginate.current_page == 1 %}
			  <div class="postWrapper lastest col-md-12">
				<div class="postWrapperLeft col-md-12">
				<div class="postTitle col-md-8">
				  <h3>
					<a href="{{ article.url }}"> 
					  {% if settings.language_enable %}
					  <span class="lang1">{{ article.title | split: '|' | first }}</span>
					  <span class="lang2">{{ article.title | split: '|' | last }}</span>
					  {% else %}
					  {{ article.title | split: '|' | first }}
					  {% endif %}
					</a>
				  </h3> 
				</div> 
				<div class="postMeta col-md-4 text-right">
				  <div class="postDetails">
				  <!--
					<a href="{{ article.url }}#Comments" {% if settings.language_enable %}data-translate="blogs.comments.comments_with_count|count:{{article.comments_count}}"{%endif%}>
					  {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
					</a>
				  -->
				  
                   <div class="meta">
                       {% if article.url contains 'news' %}
						{% assign cat = 'News' %}
                       {% else if article.url contains 'how-to' %}
						{% assign cat = 'How To' %}
                       {% else %}
                       {% assign cat = 'Null' %}

                       {% endif %}
                       <a href="/blogs/{{ cat | handleize }}"><span>#{{ cat }}</span></a>
                   </div>
				   
					{% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
					{% capture date %}
					<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
					  {{ article.published_at | date: format: 'month_day_year' }}
					</time>
					{% endcapture %} 
					<span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.author_on_date_html|date:{{date}},author:{{author}}" translate-item="blog-date-author"{%endif%}>
						{{ date }} {{ author }}
					</span>
				  </div>
				</div>
				<!--
				<div class="postContent col-md-12">
				  {% if article.excerpt contains '<img' %}
				  <div class="excerpt img-responsive">
					<a href="{{ article.url }}">
					  {{ article.excerpt | truncatewords: 90 }}
					</a>
				  </div>
				  {% elsif article.excerpt contains '<iframe' %}
				  <div class="excerpt video-responsive">
					{{ article.excerpt | truncatewords: 90 }}
				  </div> 
				  {% endif %} 
				  {% if settings.language_enable %}
				  <span class="lang1">{{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 90 }}</span>
				  <span class="lang2">{{ article.content | strip_html | split: '[lang2]' | last | truncatewords: 90 }}</span>
				  {% else %}
				  {{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 90 }}
				  {% endif %} 
				</div> 
				-->
				</div>
				<!--
				<div class="article__grid-image col-md-6">
				  {{ article | img_url: 'master' | img_tag: article.title }}
				</div>
				-->
				<style>
				.main-container .blog-wrapper .postWrapper.lastest {
					background-image: url('{{ article | img_url: 'master'}}');
				}
				</style>
				<!--
				<a class="btn-button" href="{{ article.url }}" {% if settings.language_enable %}data-translate="blogs.article.read_more"{% endif %}>{{ 'blogs.article.read_more' | t }} &rarr;</a> 
				-->
			  </div>
		  {% else %}
          <div class="postWrapper col-md-12">
            <div class="postTitle col-md-4">
              <h3>
                <a href="{{ article.url }}"> 
                  {% if settings.language_enable %}
                  <span class="lang1">{{ article.title | split: '|' | first }}</span>
                  <span class="lang2">{{ article.title | split: '|' | last }}</span>
                  {% else %}
                  {{ article.title | split: '|' | first }}
                  {% endif %}
                </a>
              </h3> 

                   <div class="meta">
                       {% if article.url contains 'news' %}
						{% assign cat = 'News' %}
                       {% else if article.url contains 'how-to' %}
						{% assign cat = 'How To' %}
                       {% else %}
                       {% assign cat = 'Null' %}

                       {% endif %}
                       <a href="/blogs/{{ cat | handleize }}"><span>#{{ cat }}</span></a>
                   </div>
				   
              <div class="postDetails">
                <a href="{{ article.url }}#Comments" {% if settings.language_enable %}data-translate="blogs.comments.comments_with_count|count:{{article.comments_count}}"{%endif%}>
                  {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                </a>
                | {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
                {% capture date %}
                <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                  {{ article.published_at | date: format: 'month_day_year' }}
                </time>
                {% endcapture %} 
                <span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.author_on_date_html|date:{{date}},author:{{author}}" translate-item="blog-date-author"{%endif%}>
                  {{ 'blogs.article.author_on_date_html' | t: date: date, author: author }}        
                </span>
              </div>
            </div> 
            <div class="postContent col-md-4">
              {% if article.excerpt contains '<img' %}
              <div class="excerpt img-responsive">
                <a href="{{ article.url }}">
                  {{ article.excerpt | truncatewords: 60 }}
                </a>
              </div>
              {% elsif article.excerpt contains '<iframe' %}
              <div class="excerpt video-responsive">
                {{ article.excerpt | truncatewords: 60 }}
              </div> 
              {% endif %} 
              {% if settings.language_enable %}
              <span class="lang1">{{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 60 }}</span>
              <span class="lang2">{{ article.content | strip_html | split: '[lang2]' | last | truncatewords: 60 }}</span>
              {% else %}
              {{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 60 }}
              {% endif %} 
            </div> 
            <div class="article__grid-image col-md-4">
              {{ article | img_url: 'master' | img_tag: article.title }}
            </div>
            <!--
			<a class="btn-button" href="{{ article.url }}" {% if settings.language_enable %}data-translate="blogs.article.read_more"{% endif %}>{{ 'blogs.article.read_more' | t }} &rarr;</a> 
			-->
          </div>
		  {% endif %}
          {% endfor %} 
          {% if paginate.pages > 1 %} 
          <div class="pagenav-wrap">
            <div class="pagination1">
              {{ paginate | default_pagination | replace: '&laquo; Previous', '<i class="fa fa-angle-left"></i>' | replace: 'Next &raquo;', '<i class="fa fa-angle-right"></i>' }}
            </div>
          </div>
          {% endif %}

      </div> 
    </div>
  </div> 
</div> 
{% endpaginate %}
