<!-- /templates/cart.liquid -->
{% comment %}{% include 'breadcrumb' %} {% endcomment %}
<div class="container">
  <div class="row">
{% if cart.item_count > 0 %}
  <div class="checkout-cart">
    <div class="page-title title-buttons">
      <h2 {% if settings.language_enable %}data-translate="cart.general.title"{% endif %}>{{ 'cart.general.title' | t }}</h2>
    </div>
    <div class="cart-inner">
      <form action="/cart" method="post" class="cart table-wrap">
        <div class="col-sm-8">
          <table class="data-table full cart-table">
            <thead>
              <th class="hidden-phone"></th>
              <th class="text-center"></th>
              <th class="text-center" {% if settings.language_enable %}data-translate="cart.label.price"{% endif %}>{{ 'cart.label.price' | t }}</th>
              <th class="text-center" {% if settings.language_enable %}data-translate="cart.label.quantity"{% endif %}>{{ 'cart.label.quantity' | t }}</th>
            </thead>
            <tbody>
              {% for item in cart.items %}
              <tr>
                <td class="hidden-phone text-left" width="10%" data-label="{{ 'customer.order.product' | t }}">
                  <a href="{{ item.url | within: collections.all }}" class="product-image">
                    <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" width="110">
                  </a>
                </td>
                <td class="text-left">
                  <a href="{{ item.url | within: collections.all }}" class="product-image visible-xs">
                    <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" width="90">
                  </a>
                  <h5 class="product-name">
                    <a href="{{ item.url }}">
                      {% if settings.language_enable %}
                      <div class="lang1">{{ item.product.title | split: '|' | first }}
<span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span></div>
                      <div class="lang2">{{ item.product.title | split: '|' | last }}</div>
                      {% else %}
                      {{ item.product.title | split: '|' | first }}
<span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span>
                      {% endif %}
                    </a>
                  </h5>
                  {% unless item.variant.title contains 'Default' %}
                  <p>{{ item.variant.title }}</p>
                  {% endunless %}
                  {% assign property_size = item.properties | size %}
                  {% if property_size > 0 %}
                  {% for p in item.properties %}
                  {% unless p.last == blank %}
                  {{ p.first }}:
                  {% if p.last contains '/uploads/' %}
                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                  {{ p.last }}
                  {% endif %}
                  <br>
                  {% endunless %}
                  {% endfor %}
                  {% endif %}
                  <div class="cart-actions">
                    <a href="{{ item.url }}" class="edit-item">{{ 'cart.general.edit' | t }}</a>
                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove-item" {% if settings.language_enable %}data-translate="cart.general.remove"{% endif %}>{{ 'cart.general.remove' | t }}</a>
                  </div>
                </td>
                <td data-label="{{ 'cart.label.price' | t }}">
                  <span class="cart-price">
                    <span class="money">{{ item.price | money }}</span>
                  </span>
                </td>
                <td class="a-center product-qty last" data-label="{{ 'cart.label.quantity' | t }}">
                  <div class="reduced items" onclick="var result = document.getElementById('updates_{{ item.id }}'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) result.value--;return false;">
                    <i class="fa fa-minus"></i>
                  </div>
                  <input type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
                  <div class="increase items" onclick="var result = document.getElementById('updates_{{ item.id }}'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                    <i class="fa fa-plus"></i>
                  </div>

                  <button type="submit" class="btn-button btn-update tiny"><span {% if settings.language_enable %}data-translate="cart.general.update"{% endif %}>{{ 'cart.general.update' | t }}</span></button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="delivery-nots">
			{% section 'delivery-notes' %}
			{% section 'terms-conditions' %}

              <div class="checkout-info">
                <div class="shipping">
                  <h2><a href="#collapse-shipping" class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-shipping" {% if settings.language_enable %}data-translate="cart.shipping.title"{% endif %}>{{'cart.shipping.title' | t}}</a></h2>
                  <div id="collapse-shipping" class="shipping-form collapse">
                  {% include 'shipping-calculator' %}
                  </div>
                </div>
              </div>

          </div>
        </div>
        <div class="col-sm-4">
            <div class="totals">
                <table id="shopping-cart-totals-table">
                    <tfoot>
                    <tr>
                        <td class="a-right" colspan="1">
                            <strong {% if settings.language_enable %}data-translate="cart.general.grandtotal"{% endif %}>{{ 'cart.general.grandtotal' | t }}</strong>
                        </td>
                        <td class="a-right">
                            <strong><span class="price"><span class="money"><span id="bk-cart-subtotal-price"><span class="wh-original-cart-total"><span class="wh-original-price">{{ cart.total_price | money }}</span></span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note "></span></div></span></span></span></strong>
                        </td>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr>
                        <td class="a-right" colspan="1" {% if settings.language_enable %}data-translate="cart.general.subtotal"{% endif %}><span id="bk-cart-subtotal-label">{{ 'cart.general.subtotal' | t }}</span></td>
                        <td class="a-right">
                            <span class="price"><span class="money"><span id="bk-cart-subtotal-price"><span class="wh-original-cart-total"><span class="wh-original-price">{{ cart.total_price | money }}</span></span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note "></span></div></span></span></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

        </div>

        </div>
        <div class="col-sm-4">
          <div class="totals">
            <table id="shopping-cart-totals-table">
              <tfoot>
                <tr>
                  <td class="a-right" colspan="1">
                    <strong {% if settings.language_enable %}data-translate="cart.general.grandtotal"{% endif %}>{{ 'cart.general.grandtotal' | t }}</strong>
                  </td>
                  <td class="a-right">
                    <strong><span class="price"><span class="money"><span id="bk-cart-subtotal-price"><span class="wh-original-cart-total">{{ cart.total_price | money }}</span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note "></span></div></span></span></span></strong>
                  </td>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td class="a-right" colspan="1" {% if settings.language_enable %}data-translate="cart.general.subtotal"{% endif %}><span id="bk-cart-subtotal-label">{{ 'cart.general.subtotal' | t }}</span></td>
                  <td class="a-right">
                    <span class="price"><span class="money"><span id="bk-cart-subtotal-price"><span class="wh-original-cart-total">{{ cart.total_price | money }}</span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note "></span></div></span></span></span>
                  </td>
                </tr>
              </tbody>
            </table>


            <ul class="checkout-types">

			<div class="checkbox-wrapper">
				<div>
					<label><input type="checkbox" name="terms-conditions" value="agreed" required>
					I agree with the <a id="terms-conditions-button" style="color:#204699;font-weight:bold;" href="/pages/terms-and-conditions" target="_blank">terms and conditions</a></label>
				</div>
				<div>
					<label><input id="leave-somewhere" type="checkbox" name="attributes[Would you like us to leave the item somewhere safe for you?]" value="Yes" checked>
					Would you like us to leave the item somewhere safe for you?</label>
				</div>
                <div>
                    <label><input id="install-service-interest" type="checkbox" name="attributes[Would you like to be contacted for our Sydney lighting installation services? You may be eligible for a 10% refund on your lighting purchases as well as an installation discount]" value="No">Would you like a call back for our <a id="installation-services-link" style="color:#204699;font-weight:bold;" href="/pages/installation-services" target="_blank">Sydney Lighting Installation Services</a>?  You may be eligible for a 10% refund on your lighting purchases as well as an installation discount.</label>
                </div>
			</div>
            <textarea rows=2 cols=22 id="delivery_notes" name="attributes[Delivery Notes]" Placeholder="Leave your details here"></textarea>

              <li>
              	<input type="submit" name="checkout" class="btn-button uppercase" {% if settings.language_enable %}data-translate="cart.general.checkout"{% endif %} value="{{ 'cart.general.checkout' | t }}">
              </li>
              <li class="shipping-notice" {% if settings.language_enable %}data-translate="cart.general.shipping_at_checkout"{% endif %}>{{ 'cart.general.shipping_at_checkout' | t }}</li>
            </ul>

            <!-- zipmoney widgets -->
			{% include 'zipmoney' %}
          <center><span style="cursor: pointer" id="zip-bannerpopup" class="promo-img-hold"  data-zm-asset="cartwidget"  data-zm-widget="popup"  data-zm-popup-asset="termsdialog"></span></center>
            <!-- end zipmoney widgets -->

          </div>
        </div>
      </form>
	  {% include 'cross-sell' %}
    </div>
  </div>
{% else %}
  <div class="checkout-cart">
    <h2 {% if settings.language_enable %}data-translate="cart.general.title"{% endif %}>{{ 'cart.general.title' | t }}</h2>
    <p {% if settings.language_enable %}data-translate="cart.general.empty"{% endif %}>{{ 'cart.general.empty' | t }}</p>
    <p {% if settings.language_enable %}data-translate="cart.general.continue_browsing_html"{% endif %}>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>
{% endif %}
  </div>
</div>


<!-- <div class="main-popup">
  <div class="popup-right">
  <a class="close" href="javascript:;">X</a>
    <p class="popup-text">Want a cool  5% cart discount?<br>
      Coupon code: <span>epicsavings</span> </p>
  </div>
</div> -->

<script type="text/javascript">
//   jQuery(window).bind("load", function() {
//     setTimeout(function() {   //calls click event after a certain time
// 		if(jQuery('#spb-information-bar').css('bottom') != '0px') {
//           jQuery("#your-shopping-cart .main-popup").css('bottom',0);
//           jQuery("#your-shopping-cart .main-popup").animate({right: '0px'},1000);
//         } else {
//           jQuery("#your-shopping-cart .main-popup").animate({right: '0px'},1000);
//         }
// 	}, 1500);
//   });

//   jQuery('.main-popup .close').click(function(){
//     jQuery("#your-shopping-cart .main-popup").animate({right: '-700px'},1000);
//   });
</script>

<script>
jQuery(document).ready(function() {
	var submitText = jQuery('form.cart input[type="submit"]').val();
	var submitDisableText = 'Accept T&C before proceeding';
	jQuery('form.cart input[type="submit"]').addClass('disabled');
		if ( jQuery('input[name="terms-conditions"]').is(":checked") ) {
			jQuery('form.cart input[type="submit"]').removeClass('disabled');
			jQuery('form.cart input[type="submit"]').val(submitText);
		} else {
			jQuery('form.cart input[type="submit"]').addClass('disabled');
			jQuery('form.cart input[type="submit"]').val(submitDisableText);
		}

	jQuery('input[name="terms-conditions"]').change(function() {
		if ( jQuery(this).is(":checked") ) {
			jQuery('form.cart input[type="submit"]').removeClass('disabled');
			jQuery('form.cart input[type="submit"]').val(submitText);
		} else {
			jQuery('form.cart input[type="submit"]').addClass('disabled');
			jQuery('form.cart input[type="submit"]').val(submitDisableText);
		}
	});

	jQuery('.cart-breadcrumb a').click(function(e) {
		if ( jQuery('form.cart').find('input[type="submit"]').hasClass('disabled') ) {
			e.preventDefault();
		}
	});


	jQuery('a#terms-conditions-button').click(function(e) {
		e.preventDefault();
		jQuery('#terms-conditions-header').click();
		var headerHeight = 0;
		if ( jQuery(window).width() < 1024 ) {
			headerHeight = 75;
		}
		var termsConditionTop = jQuery('#terms-conditions-header').offset().top - headerHeight;
		$("html, body").stop().animate({scrollTop:termsConditionTop}, 500, 'swing', function() {
		});
	});

	jQuery('button.btn-update').click(function(e) {
		e.preventDefault();
		var quantity = jQuery(this).siblings('input').val();
		var line = jQuery(this).closest('tr').index()+1;
		window.location.href = "/cart/change?line="+line+"&quantity="+quantity;
	});

	jQuery('form.cart').submit(function(e) {
		if ( jQuery(this).find('input[type="submit"]').hasClass('disabled') ) {
			e.preventDefault();
		}
	});

	var stickRightCount = 0;
	var stickRight = setInterval(function() {
		if (jQuery(window).width() < 768 ) {
		} else if (jQuery(window).width() < 1024 ) {
			jQuery("form .col-sm-4").stick_in_parent({offset_top: 95});
		} else {
			jQuery("form .col-sm-4").stick_in_parent({offset_top: 20});
		}
		stickRightCount++;
		if ( stickRightCount > 10 ) {
			clearInterval(stickRight);
		}
	},1000);

		jQuery(window).resize(function(){
			if (jQuery(window).width() < 768 ) {
				jQuery("form .col-sm-4").trigger("sticky_kit:detach");
			} else if (jQuery(window).width() < 1024 ) {
				jQuery("form .col-sm-4").stick_in_parent({offset_top: 95});
			} else {
				jQuery("form .col-sm-4").stick_in_parent({offset_top: 20});
			}
		});
		jQuery("form .col-sm-4").on('sticky_kit:bottom', function(e) {
			jQuery(this).parent().css('position', 'static');
		})


	/* if( jQuery(window).width() < 768 ) {
		jQuery('input#leave-somewhere').prop('checked', false);
		jQuery('textarea#delivery_notes').hide(500);
	} else {
		jQuery('input#leave-somewhere').prop('checked', true);
		jQuery('textarea#delivery_notes').show(500);
	}
	jQuery(window).resize(function(){
		if( jQuery(window).width() < 768 ) {
			jQuery('input#leave-somewhere').prop('checked', false);
			jQuery('textarea#delivery_notes').hide(500);
		} else {
			jQuery('input#leave-somewhere').prop('checked', true);
			jQuery('textarea#delivery_notes').show(500);
		}
	});
	jQuery('input#leave-somewhere').change(function() {
		if(this.checked) {
			jQuery('textarea#delivery_notes').show(500);
		} else {
			jQuery('textarea#delivery_notes').hide(500);
		}
	}); */
    jQuery("input#install-service-interest").on('change', function(){
        jQuery(this).val(this.checked ? "Yes" : "No");
    })
});
</script>