<!-- /templates/collection.liquid -->
{% if settings.collection_columns != '5' %}
{% assign col = 12 | divided_by: settings.collection_columns %}
{% else %}
{% assign col = settings.collection_columns %}
{% endif %}
{% if settings.collection_sidebar_position == 'right' %}
{% assign sidebar_class = 'col-lg-push-9' %}
{% assign main_class = 'col-lg-pull-3' %}
{% endif %}
{% paginate collection.products by 48 %} 
{% include 'breadcrumb' %}
<!-- zipmoney widgets -->
{% include 'zipmoney' %}
<div class="custom_zippy"style="display:none;">
  <a style="font-size: 13px" id="shopify-prod-calc" data-zm-widget="repaycalc" data-zm-amount="20" ></a> <span style="cursor: pointer; color: grey; font-size: 11px;" class="zip-learnmore" data-zm-widget="popup" data-zm-popup-asset="termsdialog"> More info »</span>
</div>

<div class="collection-fullwidth-text">
 <div class="container">
  <div class="collection-info {% if collection.image %}col-xs-12 col-sm-12 col-md-5{% else %}col-md-12{% endif %}">
    <h1 class="collection-title">{{collection.title}}</h1>
    {% if collection.description != blank %} 
    <div class="category-content"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ collection.description | split: '[lang2]' | first }}</div>
      <div class="lang2">{{ collection.description | split: '[lang2]' | last }}</div>
      {% else %}
      {{ collection.description | split: '[lang2]' | first }}
      {% endif %}
    </div> 
    {% endif %} 
    </div> 
   
    {% if collection.image %}
    <div class="collection-image hidden-xs hidden-sm col-md-7" style="background-image: url('{{ collection.image | img_url: 'grande'  }}');"> 
    </div>
    {% endif %}
   
  </div>
</div>

<div class="container">
  <div class="row">
    {% comment %}
      {% if settings.collection_sidebar_position != 'none' %}
      <div class="col-md-3 col-sm-4 col-lg-3 sidebar {{ sidebar_class }}" >
        {% include 'collection-sidebar' %}
      </div>
      {% endif %}
    {% endcomment %}
    
  	<div class="category_content {% if settings.collection_sidebar_position != 'none' %}col-lg-12 col-md-12 col-sm-12{% else %} col-sm-8{% endif %} {{ main_class }}"> 
      
      {% comment %} 
      <h1 class="collection-title">{{collection.title}}</h1>
      {% if collection.description != blank %} 
      	<div class="category-content"> 
          {% if settings.language_enable %}
          <div class="lang1">{{ collection.description | split: '[lang2]' | first }}</div>
          <div class="lang2">{{ collection.description | split: '[lang2]' | last }}</div>
          {% else %}
          {{ collection.description | split: '[lang2]' | first }}
          {% endif %}
      	</div> 
      {% endif %}
      {% endcomment %}
      
      <div id="collection-main">
	  
        <div class="row">
			<div class="bc-sf-filter-wrapper">
				<div id="bc-sf-filter-tree-mobile"></div>
				<div class="bc-sf-filter-top-sorting-wrapper bc-sf-filter-option-block">
					<div class="bc-sf-filter-block-title">
						<h3><span>Sort by</span></h3>
					</div>
					<div id="bc-sf-filter-top-sorting"></div>
				</div>
				<div id="bc-sf-filter-tree"></div>
			</div>
			
        <div class="category-products" id="product-{{ forloop.index | plus:paginate.current_offset }}">
        <div id="products" class="products-grid view-collection itemgrid grid-product-masonry product1">
          <div id="bc-sf-filter-products">
			  {% comment %}
              {% for product in collection.products %} 
              <div class="item product col-sm-{{ col }} col-md-4 col-lg-3">
                {% include 'product-grid-item' %}                
              </div> 
              {% else %}
              {% if collection.handle == 'all' and current_tags == '' %}  
              {% unless emptyState %}
              {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
              {% assign emptyState = true %}
              {% endunless %}
              {% include 'onboarding-empty-collection' %} 
              {% else %}  
              <div class="col-sm-12"><p>{{ 'collections.general.no_matches' | t }}</p> </div>
              {% endif %} 
              {% endfor %}
             
<!--               {% if paginate.next %}
              <div class="more"><p> <a href="{{ paginate.next.url }}"></a></p></div>         
              {% endif %} -->
			  
            {% if paginate.pages > 1 %} 
			  <div class="pagenav-wrap custom_wrap">
				<div class="pagination">
				  {{ paginate | default_pagination | replace: '&laquo; Previous', '<i class="fa fa-caret-left"></i>' | replace: 'Next &raquo;', '<i class="fa fa-caret-right"></i>' }}
				</div>
			  </div>
			{% endif %} 
			
			  {% endcomment %}
            </div>
            </div> 
			
			<div class="pagenav-wrap custom_wrap">
					<div id="bc-sf-filter-bottom-pagination"></div>
					<div id="bc-sf-filter-load-more"></div>
			</div>
			
          </div>
		  
			
		  
<!--           <div id="product-list-foot"></div> -->
        </div>
      </div>
    </div>
      {% endpaginate %}
      <script>

        $('.sidebar').Stickyfill(); 

      </script>

<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      refine: "{{ 'product_filter_search.refine' | t }}",
      refine_mobile: "{{ 'product_filter_search.refine_mobile' | t }}",
      clear: "{{ 'product_filter_search.clear' | t }}",
      clear_all: "{{ 'product_filter_search.clear_all' | t }}",
      apply: "{{ 'product_filter_search.apply' | t }}",
      breadcrumb_home: {% if product_filter_search.breadcrumb_home != blank %} {{ 'product_filter_search.breadcrumb_home' | t }}" {% else %} "Home" {% endif %},
      load_more: {% assign temp = 'product_filter_search.load_more' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Load more Products" {% endunless %},
      show_limit: {% assign temp = 'product_filter_search.show_limit' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Show" {% endunless %},
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, New to Old" {% endunless %},
      sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "% Off" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Relevance" {% endunless %},
      search_general_title: {% assign temp = 'product_filter_search.search_general_title' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} 'Search' {% endunless %},
      search_result_header: {% assign temp = 'product_filter_search.search_result_header' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Search Results for "{{ terms }}"'{% endraw %} {% endunless %},
      search_result_empty: {% assign temp = 'product_filter_search.search_result_empty' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Your search for "{{ terms }}"" didn\'t match any results'{% endraw %} {% endunless %},
      search_result_number: {% assign temp = 'product_filter_search.search_result_number' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Showing {{ count }} results for "{{ terms }}"'{% endraw %} {% endunless %},
    },
    custom: {
    }
  };
</script>

<script>
jQuery(document).ready(function() {
	var collapsedFilter = setInterval(function(){
		if ( jQuery('#bc-sf-filter-tree').html() != '' ) {
			jQuery('.bc-sf-filter-block-title').each(function() {
				if(!jQuery(this).find('h3 > span').hasClass('up')) {
					jQuery(this).find('h3').click();
				}
			});
			clearInterval(collapsedFilter);
		}
	},100);
});
</script>

<script>
jQuery(document).ready(function() {
	var stickyFilter = setInterval(function(){
		if ( jQuery('#bc-sf-filter-tree').html() != '' ) {
			if (jQuery(window).width() < 768 ) {
			} else if (jQuery(window).width() < 1024 ) {
				jQuery(".bc-sf-filter-wrapper").stick_in_parent({offset_top: 95});
			} else {
				jQuery(".bc-sf-filter-wrapper").stick_in_parent({offset_top: 125});
			}
			jQuery(window).resize(function() {
				if (jQuery(window).width() < 768 ) {
					jQuery(".bc-sf-filter-wrapper").trigger("sticky_kit:detach");
				} else if (jQuery(window).width() < 1024 ) {
					jQuery(".bc-sf-filter-wrapper").stick_in_parent({offset_top: 95});
				} else {
					jQuery(".bc-sf-filter-wrapper").stick_in_parent({offset_top: 125});
				}
			});
			clearInterval(stickyFilter);
		}
	},100);
});
</script>

<script>
$(window).load(function(){
  $('.item.product h3.product-name a').each(function(i){
    var sampleInput = $(this).text();
    var sampleInputLength = sampleInput.length;
    
    if(sampleInputLength >= 50) {
      $(this).text(sampleInput.substr(0,80) + "...");
    }
  }); 
});
</script>