<!-- /templates/index.liquid -->
{% comment %}
  Track how many sections are shown
{% endcomment %}
{% assign number_of_index_sections = 0 %}

{% section 'featured-products' %}

{% if settings.home_section_1 != blank %}
  {% assign number_of_index_sections = number_of_index_sections | plus: 1 %}
  {% include settings.home_section_1, section_number: 1 %}
{% endif %}

  <div class="brand-section" style="display:none;">
    {% section 'brands'%}
  </div>

{% if settings.home_section_2 != blank %}
  {% assign number_of_index_sections = number_of_index_sections | plus: 1 %}
  {% include settings.home_section_2, section_number: 2 %}
{% endif %}


<div class="home-content">
  <div class="container">
    {{ settings.products_collection_description }}
</div>


<div class="map_section clearfix">
  <div class="address">
    
    <div class="address-inner">{{ 'marker.png' |asset_url | img_tag }}<br>2/133-137 Beauchamp Rd, <br> Matraville NSW 2036</div>
    {% comment %}
    <div class="address-inner">{{ 'marker.png' |asset_url | img_tag }}<br>325, King St, <br> Newtown NSW 3042</div>
    <div class="address-inner">{{ 'marker.png' |asset_url | img_tag }}<br>35, Belmore Road, Randwick NSW 2031</div>
    {% endcomment %}
    
    <div class="address-inner phone">{{ 'telephone.png' |asset_url | img_tag }}<br><a href="tel: 0296663838">(02) 9666 3838</a></div>
    {% comment %}
    <div class="address-inner">{{ 'telephone.png' |asset_url | img_tag }}<br><a href="tel: 0295578283">(02)9557 8283</a></div>
    <div class="address-inner">{{ 'telephone.png' |asset_url | img_tag }}<br><a href="tel: 0293147984">(02)9314 7984</a></div>
    {% endcomment %}
  </div>
  <div class="map_left">
    <img class="map_left_img" src="{{ 'home_image_1.jpg' | asset_url }}">
  </div>

  <div class="map_right">
    <div class="google-maps_wrapper">
      <div id="google-maps_interactive"></div>
    </div>
  </div>



{% if settings.home_section_3 != blank %}
  {% assign number_of_index_sections = number_of_index_sections | plus: 1 %}
  {% include settings.home_section_3, section_number: 3 %}
{% endif %}

{% if settings.home_section_4 != blank %}
  {% assign number_of_index_sections = number_of_index_sections | plus: 1 %}
  {% include settings.home_section_4, section_number: 4 %}
{% endif %}

{% if settings.home_section_5 != blank %}
  {% assign number_of_index_sections = number_of_index_sections | plus: 1 %}
  {% include settings.home_section_5, section_number: 5 %}
{% endif %}
{% include 'zipmoney' %}
<div class="custom_zippy"style="display:none;">
  <a style="font-size: 13px" id="shopify-prod-calc" data-zm-widget="repaycalc" data-zm-amount="20" ></a> <span style="cursor: pointer; color: grey; font-size: 11px;" class="zip-learnmore" data-zm-widget="popup" data-zm-popup-asset="termsdialog"> More info »</span>
</div>


</div>

  {% section 'dynamic-blog-posts' %}

<div>
  <center>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
	<div class="elfsight-app-ff0202dc-324e-4030-b79b-490771bd4b59"></div>
  </center>
</div>