<script>

  //window.location.href = "{{ shop.url }}/collections/all";

</script>
<!-- /templates/list-collections.liquid -->
{% comment %}

  This page represents the /collections and /products pages.
  It is an optional, but highly recommended, template for your theme.

  More info:
    - http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

{% endcomment %}

{% include 'breadcrumb' %}
<div class="container">
{% comment %}
  Loop through each collection, except 'frontpage'
{% endcomment %}
{% for collection in collections %}

  {% unless collection.handle == 'frontpage' %}

    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
   {% capture collection_image %}{{ collection.image | escape }}{% endcapture %}
  
  <div class="section-header">
   
  
   <div class="col-img"> 
     <a href="{{ collection.url }}"> 
     <img src="{{ collection | img_url: 'compact' }}" alt="{{ collection.image.alt }}" />
     </a>
    </div>
   
    
    <p class="h1 section-header__left">{{ collection_title }}</p>
    <div class="section-header__right">
      <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">More {{ collection_title }} &rsaquo;</a>
    </div>
   
  </div>
  
{% comment %}
<!--     <div class="grid">
      {% for product in collection.products limit:5 %}
        {% assign grid_item_width = 'large--one-fifth medium--one-half' %}
        {% include 'product-grid-item' %}
      {% endfor %}
    </div>  -->
{% endcomment %}
<!--     {% unless forloop.last %}<hr>{% endunless %} -->

  {% endunless %}

{% endfor %}
</div>
