<!-- /templates/page.faq.liquid -->
{% section 'faq-header' %}
<div class="container faq-container">
  <div class="page-container">
	  <div class="faq-content">
		  <h1 class="faq-title">
              {% if settings.language_enable %}
				  <span class="lang1">{{ page.title | split: '|' | first }}</span>
				  <span class="lang2">{{ page.title | split: '|' | last }}</span>
              {% else %}
                  {{ page.title | split: '|' | first }}
              {% endif %}
		  </h1>
          {% section 'faq-questions' %}
	  </div>
      {% section 'faq-contact' %}
  </div> 
</div>