<!-- /templates/page.liquid -->
{% include 'breadcrumb' %}
<div class="container"> 
  <div class="page-container"> 
    <h1> 
      {% if settings.language_enable %}
      <span class="lang1">{{ page.title | split: '|' | first }}</span>
      <span class="lang2">{{ page.title | split: '|' | last }}</span>
      {% else %}
      {{ page.title | split: '|' | first }}
      {% endif %}
    </h1> 
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
	<!--
    <div class="rte"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ page.content | split: '|' | first }}</div>
      <div class="lang2">{{ page.content | split: '|' | last }}</div>
      {% else %}
      {{ page.content | split: '|' | first }}
      {% endif %}
    </div> 
	-->
	<br>
    <section class="glossary-page">
      <div class="wrapper">
        {% section 'glossary-page-section' %}
      </div>
    </section>
	
  </div>
</div>
{% include 'zipmoney' %}

<style>

/* glossary page */
.glossary-page {  margin-bottom: 30px;}
.glossary-page .left-sidebar ul{ background:#ececec;}
.glossary-page .left-sidebar ul li a{line-height:1;padding:12px 18px; display:block; box-sizing:border-box;color: #000000; font-size:20px; font-weight:700;font-family: "Dosis","HelveticaNeue","Helvetica Neue",sans-serif;text-transform: uppercase;}
.glossary-page .left-sidebar ul li a.arrow{ background:#20469999; color:#fff;}
.glossary-page .right-sidebar{}
.glossary-page .right-sidebar h3 a{text-transform: capitalize; border-radius:4px; display:block; color:#fff; background:#204699 url(https://cdn.shopify.com/s/files/1/0684/3501/t/43/assets/arw-bottom.png)96% center no-repeat;padding:13px 25px;line-height:1;font-size:24px; 
  font-weight:700;font-family: "Dosis","HelveticaNeue","Helvetica Neue",sans-serif;}
.glossary-page .right-sidebar h3 a.arrow{ background:#204699 url(https://cdn.shopify.com/s/files/1/0684/3501/t/43/assets/arw-top.png)96% center no-repeat;}
.glossary-page .right-sidebar .collection_detail{ width:100%; padding:20px 30px;}
.glossary-page .right-sidebar .collection_detail .tab-content p{ margin-bottom:0; float:left; width:calc(100% - 200px); width:-webkit-calc(100% - 200px);}
.glossary-page .right-sidebar .collection_detail .tab-content img{ float:right; width:200px;padding-left:10px;}
.glossary-page .right-sidebar .collection_detail .tab-content p a.link{color:#305a8c;font-family: "Dosis","HelveticaNeue","Helvetica Neue",sans-serif;
  text-transform: uppercase; font-size:20px; display:block; margin:30px 0 10px; line-height:1;}
.glossary-page .right-sidebar .collection_detail .tab-content p a.link span{font-size:26px;}


@media only screen and (min-width:1249px){
  
 
  
}
@media only screen and (max-width:1080px){
  .glossary-page .grid-item.large--four-twelfths{ padding-left:0;}
  .glossary-page{ padding:0 20px;}

}

@media only screen and (max-width:750px)
{
  .glossary-page .grid{ padding-left:0;}
  .glossary-page .right-sidebar .collection_detail{ padding:15px;}
  .glossary-page .right-sidebar .collection_detail .tab-content p{width:calc(100% - 200px); width:-webkit-calc(100% - 160px);}
  .glossary-page .right-sidebar .collection_detail .tab-content img{ width:160px;}
}

@media only screen and (max-width:480px){
.glossary-page .grid-item.large--four-twelfths{ display:none;}
  .glossary-page .right-sidebar .collection_detail .tab-content p{width:100%;}
  .glossary-page .right-sidebar .collection_detail .tab-content img{width:100%;}
  .glossary-page .right-sidebar h3 a{ padding:13px 15px;}
  .glossary-page .right-sidebar .collection_detail .tab-content img { padding-left:0px; }
}

.glossary-page ul li { list-style: none; }

@media only screen and (min-width:768px) {
	.grid-item {
		float: left;
		padding-left: 0px;
		vertical-align: top;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.glossary-page .right-sidebar {
		padding-left: 30px;
	}
	.large--four-twelfths {
		width: 33.33%;
	}
	.large--eight-twelfths {
		width: 66.66%;
	}
}
@media only screen and (max-width:767px) {
	.glossary-page .right-sidebar {
		margin-top: 30px;
	}
}
.glossary-page .right-sidebar h3 {
	margin: 0px 0px 10px 0px;
}
.glossary-page .right-sidebar .collection_detail .tab-content a {
	color: #204699;
    font-size: 16px;
    font-family: "Montserrat";
    letter-spacing: 0;
    font-weight: 600;
    display: inline-block;
	width: 100%;
    clear: both;
	font-style: normal;
	margin-top: 10px;
}
</style>
