<!-- /templates/page.liquid -->
<div class="brands_banner">
  {% if settings.our_banner_1_enable %}
  <div class="brands_banner_image">
    <div class="brands_titles"> 
      <h1> 
        {% if settings.language_enable %}
        <span class="lang1">{{ page.title | split: '|' | first }}</span>
        <span class="lang2">{{ page.title | split: '|' | last }}</span>
        {% else %}
        {{ page.title | split: '|' | first }}
        {% endif %}
      </h1> 
    </div>
  </div>
  {% endif %}
  {% if settings.logo_images_enable %} 
<div class="container"> 
  <div class="row">
  {% if settings.logo_link_1 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_1 }}"> <center> {{ 'logo_images_1.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_1 }}"><center>{{ settings.name_1 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_2 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_2 }}"> <center> {{ 'logo_images_2.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_2 }}"><center>{{ settings.name_2 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_3 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_3 }}"> <center> {{ 'logo_third.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name"href="{{ settings.logo_link_3 }}"><center>{{ settings.name_3 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_4 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_4 }}"><center> {{ 'logo_four.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_4 }}"><center>{{ settings.name_4 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_5 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_5 }}"><center> {{ 'logo_five.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_5 }}"><center>{{ settings.name_5 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_6 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_6 }}"> <center> {{ 'logo_six.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_6}}"><center>{{ settings.name_6 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_7 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_7 }}"><center> {{ 'logo_seven.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_7 }}"><center>{{ settings.name_7 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_8 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_8 }}"><center> {{ 'logo_eight.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_8 }}"><center>{{ settings.name_8 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_9 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_9 }}"> <center> {{ 'logo_nine.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_9 }}"><center>{{ settings.name_9 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_10 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_10 }}"><center> {{ 'logo_ten.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_10 }}"><center>{{ settings.name_10 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_11 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_11 }}"><center> {{ 'logo_eleven.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_11 }}"><center>{{ settings.name_11 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_12 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_12 }}"> <center> {{ 'logo_twelve.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_12 }}"><center>{{ settings.name_12 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_13 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_13 }}"><center> {{ 'logo_thirteen.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_13 }}"><center>{{ settings.name_13 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_14 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_14 }}"> <center> {{ 'logo_fourteen.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_14 }}"><center>{{ settings.name_14 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_15 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_15 }}"><center> {{ 'logo_fifteen.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_15 }}"><center>{{ settings.name_15 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_16 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_16 }}"><center> {{ 'logo_sixteen.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_16 }}"><center>{{ settings.name_16 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_17 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_17 }}"><center> {{ 'logo_sixteen1.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_17 }}"><center>{{ settings.name_17 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_18 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_18 }}"><center> {{ 'logo_sixteen2.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_18 }}"><center>{{ settings.name_18 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_19 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_19 }}"><center> {{ 'logo_sixteen3.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_19 }}"><center>{{ settings.name_19 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_20 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_20 }}"><center> {{ 'logo_sixteen4.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_20 }}"><center>{{ settings.name_20 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_21 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_21 }}"><center> {{ 'logo_twenty1.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_21 }}"><center>{{ settings.name_21 }}</center></a>
    </div> 
  {% endif %}
  {% if settings.logo_link_22 != '' %} 
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_22 }}"><center> {{ 'logo_twenty2.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_22 }}"><center>{{ settings.name_22 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_23 != '' %}
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_23 }}"><center> {{ 'logo_twenty3.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_23 }}"><center>{{ settings.name_23 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_24 != '' %}
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_24 }}"><center> {{ 'logo_twenty4.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name"href="{{ settings.logo_link_24 }}"><center>{{ settings.name_24 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_25 != '' %}
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_25 }}"><center> {{ 'logo_twenty5.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_25 }}"><center>{{ settings.name_25 }}</center></a>
    </div>
  {% endif %}
  {% if settings.logo_link_26 != '' %}
    <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
      <a href="{{ settings.logo_link_26 }}"><center> {{ 'logo_twenty6.png' | asset_url | img_tag }} </center></a>
      <a class="brand-name" href="{{ settings.logo_link_26 }}"><center>{{ settings.name_26 }}</center></a>
    </div>
  {% endif %}

  </div>
   
	  </div>
<!--   <div class="brands_all"> 
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
        <center> {{ 'logo_sixteen1.png' | asset_url | img_tag }} </center>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
        <center> {{ 'logo_sixteen2.png' | asset_url | img_tag }} </center>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
       <center> {{ 'logo_sixteen3.png' | asset_url | img_tag }} </center>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
        <center> {{ 'logo_sixteen4.png' | asset_url | img_tag }} </center>
      </div>
    </div>
  </div>
  <div class="brands_all"> 
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
        <center> {{ 'logo_sixteen5.png' | asset_url | img_tag }} </center>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
        <center> {{ 'logo_twenty2.png' | asset_url | img_tag }} </center>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
       <center> {{ 'logo_twenty3.png' | asset_url | img_tag }} </center>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-5 brand-border">
        <center> {{ 'logo_twenty4.png' | asset_url | img_tag }} </center>
      </div>
    </div>
  </div> -->
</div> 
  {% endif %}
</div>


<div class="rte"> 
  {% if settings.language_enable %}
  <div class="lang1">{{ page.content | split: '|' | first }}</div>
  <div class="lang2">{{ page.content | split: '|' | last }}</div>
  {% else %}
  {{ page.content | split: '|' | first }}
  {% endif %}
</div> 












{% comment %}
 {% include 'breadcrumb' %}
<div class="container"> 
  <div class="page-container"> 
    <h1> 
      {% if settings.language_enable %}
      <span class="lang1">{{ page.title | split: '|' | first }}</span>
      <span class="lang2">{{ page.title | split: '|' | last }}</span>
      {% else %}
      {{ page.title | split: '|' | first }}
      {% endif %}
    </h1> 
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ page.content | split: '|' | first }}</div>
      <div class="lang2">{{ page.content | split: '|' | last }}</div>
      {% else %}
      {{ page.content | split: '|' | first }}
      {% endif %}
    </div> 
  </div> 
</div>
{% endcomment %}
{% include 'zipmoney' %}