<!-- /templates/page.liquid -->
{% include 'breadcrumb' %}
<div class="container"> 
  <div class="page-container"> 
    <h1> 
      {% if settings.language_enable %}
      <span class="lang1">{{ page.title | split: '|' | first }}</span>
      <span class="lang2">{{ page.title | split: '|' | last }}</span>
      {% else %}
      {{ page.title | split: '|' | first }}
      {% endif %}
    </h1> 
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    {% comment %}
    <div class="rte"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ page.content | split: '|' | first }}</div>
      <div class="lang2">{{ page.content | split: '|' | last }}</div>
      {% else %}
      {{ page.content | split: '|' | first }}
      {% endif %}
    </div> 
    {% endcomment %}
  </div> 
</div>

<div class="container installation-container"> 
  <div class="page-container"> 
	<h3><span style="">The Lighting Outlet is very excited to announce it is now in partnership with <strong>The Lighting Guys Australia</strong> offering installations and packaging deals together when using both services in the Sydney area.</span></h3>
	<h3><span style="">So enquire with The Lighting Outlet and we will sit down to design your lighting plan, supply the lights then install them. This will make the lighting process much easier and best of all will save you $$$</span></h3>
  </div> 
</div>

<div class="installation-service-banner">
	<div class="container"> 
		<div class="page-container"> 
			<div class="installation-block">
				<div class="installation-block-content">
					<div class="installation-block-content-inner">
						<img src="https://cdn.shopify.com/s/files/1/2129/3845/files/1_1d62b3be-4f6f-44c9-a217-c1d2c6d706c0.png?3857646584142016566" />
						<h3>1. ENQUIRE WITH  THE LIGHTING OUTLET</h3>
					</div>
				</div>
				<div class="installation-block-content">
					<div class="installation-block-content-inner">
						<img src="https://cdn.shopify.com/s/files/1/2129/3845/files/2_63266518-6e4b-474f-b31f-58ec1a41c036.png?3857646584142016566" />
						<h3>2. WE WILL DESIGN, SUPPLY  & INSTALL THE LIGHTING</h3>
					</div>
				</div>
				<div class="installation-block-content">
					<div class="installation-block-content-inner">
						<img src="https://cdn.shopify.com/s/files/1/2129/3845/files/3_6861e915-0d73-49e0-a8b9-59eaccdefb8f.png?3857646584142016566" />
						<h3>3. RECIEVE OUR <span class="yellow">SPECIAL  DISCOUNT</span> AND SAVE $$$</h3>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>

<div class="container installation-container"> 
  <div class="page-container"> 
	<h3><span style="">If you have your lights already or require any other electrical services we can still do the job please just&nbsp;call <strong>0435480794</strong> or email <strong>info@thelightingguys.com.au</strong> for a quote today!</span></h3>
	<h3><span style="">Due to this exciting time we are offering a special discount where if you get your light fittings and installation bundled together we will give you <strong>$50 off your installation and 10% off your light fittings*</strong></span></h3>
  </div> 
</div>

<div class="installation-service-discount">
	<div class="container"> 
		<div class="page-container"> 
			<img src="https://cdn.shopify.com/s/files/1/2129/3845/files/SPECIAL_DISCOUNT.png?2763489538889331582" />
		</div> 
	</div>
</div>

<div class="container installation-container"> 
  <div class="page-container"> 
	<h3><span style="">*Minimum installation service fee of $500 per job (Not inclusive of light fittings). The 10% discount on lighting fixtures will be refunded on completion of the installation (refund will be credited from The Lighting Outlet).</span></h3>
  </div> 
</div>
<style>
.installation-service-banner {
	background-image: url('https://cdn.shopify.com/s/files/1/2129/3845/t/23/assets/ico_slide_4.jpg?4196559864223469150');
	background-size: cover;
	background-repeat: no-repeat;
	background-size: center;
	padding: 80px 0px;
	margin: 40px 0px;
}
.installation-service-discount {
	margin: 40px 0px;
}
.installation-service-discount img {
	width: 100%;
}
.installation-container strong {
	color: #204699;
}
.installation-container h3 {
	line-height: 1.3;
}
.installation-block-content {
	display: block;
	width: 100%;
	padding: 30px 20px;
	background-color: #fff;
}
.installation-block-content-inner {
	text-align: center;
	color: #204699;
}
.installation-block-content-inner h3 {
	font-weight: bold;
}
.installation-block-content-inner h3 .yellow {
	color: #f6891d;
}
@media screen and (min-width: 992px) {
	.installation-block-content {
		width: calc( 33.33% - 60px );
		display: inline-block;
		float: left;
		height: 0px;
		margin: 0px 30px;
		padding: 0px;
		padding-bottom: calc( 33.33% - 60px );
		border-radius: 50%;
		position: relative;
	}
	.installation-block-content-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
	}
}
</style>
{% include 'zipmoney' %}