<!-- /templates/page.liquid -->
{% include 'breadcrumb' %}
<div class="container"> 
  <div class="page-container"> 
    <h1> 
      {% if settings.language_enable %}
      <span class="lang1">{{ page.title | split: '|' | first }}</span>
      <span class="lang2">{{ page.title | split: '|' | last }}</span>
      {% else %}
      {{ page.title | split: '|' | first }}
      {% endif %}
    </h1> 
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    {% comment %}
    <div class="rte"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ page.content | split: '|' | first }}</div>
      <div class="lang2">{{ page.content | split: '|' | last }}</div>
      {% else %}
      {{ page.content | split: '|' | first }}
      {% endif %}
    </div> 
    {% endcomment %}
	
	<div class="design-services-content-wrapper">
		<div class="row">
		    <div class="col-sm-6 design-services-form" style="margin: 0 auto;">
				<div class="form-wrapper">
					<h3 class="design-form-title">How can we help you?</h3>
                    {% form 'contact' %}
                        {% if form.posted_successfully? %}
							<p class="note form-success" {% if settings.language_enable %}data-translate="contact.form.post_success"{% endif %}>
                                {{ 'contact.form.post_success' | t }}
							</p>
                        {% endif %}
                        {{ form.errors | default_errors }}

                    {% assign name_attr = 'contact.form.name' | t | handle %}
						<label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
						<input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="Your name*" required>

						<label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
						<input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" placeholder="Your email address*" required>

                    {% assign name_attr = 'contact.form.subject' | t | handle %}
						<label for="ContactFormSubject" class="hidden-label">{{ 'contact.form.subject' | t }}</label>
						<input type="text" id="ContactFormSubject" class="input-full" name="contact[{{ name_attr }}]" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="Subject*" required>

						<label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
						<textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="Your message*" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
						<div id="re-captcha"></div>
						<div class="send-btn-wrapper">
							<input type="submit" class="btn-button right" {% if settings.language_enable %}data-translate="contact.form.send"{% endif %} value="Submit" disabled>
						</div>

                    {% endform %}
				</div>
			</div>
			<div class="col-sm-6 design-services-content">
			<h3>
			There’s something truly special about a well-lit home that’s to your exact standards and needs. 
			When you have an ambient space that lights up a room with the right amount of layers, something magical occurs. 
			At The Lighting Outlet, we want you to experience that feeling of perfect lighting, every time. 
			Whether you’re planning your new business or completing a dream home renovation, we can help with a professional lighting system and consultation services.
			</h3>
			<br><br>
			<h3>
			Our&nbsp;specialty services range from <span class="strong-blue">custom residential designs</span> to <span class="strong-blue">large-scale commercial installations</span>.
			Everything is on offer from sleek, <span class="strong-blue">streamlined track lights</span> to <span class="strong-blue">festive outdoor festoon lighting</span>. 
			If you’re interested in planning out a superior lighting system today, fill out the form below and we’ll be in touch within the next 72 hours to discuss an in-space consultation. 
			Don’t delay, the perfect lighting scheme is just around the corner, all you have to do is contact us to flick the switch to on.<br> 
			</h3>
			</div>
		</div>
	</div>
  </div> 
</div>

<div class="design-services-footer">
	<div class="container">
		<a href="/blogs/news/staff-interview-with-lighting-designer-melissa-c"><img src="https://cdn.shopify.com/s/files/1/2129/3845/files/Artboard_1.jpg?5305762393031933585" /></a>
	</div>
</div>
<style>
.design-services-content h3 {
	/* font-size: 16px; */
	line-height: 1.3;
}
@media screen and (min-width: 768px) {
	.design-services-content h3 {
		margin-top: 0px;
	}
}
.design-services-content span.strong-blue {
	font-weight: bold;
	color: #204699;
}
.design-services-footer {
	background-image: url('https://cdn.shopify.com/s/files/1/2129/3845/t/17/assets/ico_slide_3.jpg?14388415689051601010');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 400px;
}
.design-services-footer .container img {
	max-width: 100%;
}
footer.footer-wrapper.new-des-footer {
	margin-top: 0px;
}
</style>
<script>
jQuery(document).ready(function() {
	var imgHeight = jQuery('.design-services-footer .container img').height();
	jQuery('.design-services-footer .container img').css('margin-top', '-'+ (imgHeight*0.4)+ 'px' );
	jQuery('.design-services-footer').css('margin-top', (imgHeight*0.4 + 50)+ 'px' );
	
	jQuery(window).resize(function() {
		var imgHeight = jQuery('.design-services-footer .container img').height();
		jQuery('.design-services-footer .container img').css('margin-top', '-'+ (imgHeight*0.4)+ 'px' );
		jQuery('.design-services-footer').css('margin-top', (imgHeight*0.4 + 50)+ 'px' );
	});
});
</script>

{% include 'zipmoney' %}