<!-- /templates/page.liquid -->
<div class="collection-top-level">
{% include 'breadcrumb' %}
</div>
<div class="collection-top-level">
<div class="container"> 
  <div class="page-container top-level-container"> 
    <h1 class="top-level-title"> 
      {% if settings.language_enable %}
      <span class="lang1">{{ page.title | split: '|' | first }}</span>
      <span class="lang2">{{ page.title | split: '|' | last }}</span>
      {% else %}
      {{ page.title | split: '|' | first }}
      {% endif %}
    </h1> 
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte top-level-content"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ page.content | split: '|' | first }}</div>
      <div class="lang2">{{ page.content | split: '|' | last }}</div>
      {% else %}
      {{ page.content | split: '|' | first }}
      {% endif %}
    </div> 

	<style>
	.top-level-container h1.top-level-title {
		text-align: center;
		width: 100%;
		padding: 30px 0px;
		font-size: 27px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0px 0px 20px;
		background: linear-gradient(0deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('https://cdn.shopify.com/s/files/1/2129/3845/t/23/assets/ico_slide_4.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		color: #fff;
	}
	</style>
	{%- section 'page-top-level' -%}
	
  </div> 
</div>
</div>
{% include 'zipmoney' %}

<style>
.top-level-container .top-level-content {
	max-width: 700px;
    margin: auto;
    font-size: 14px;
    color: #5d5d5d;
}
.top-level-container .top-level-content > div {
	margin-bottom: 10px;
}
.top-collection-wrapper {
	margin-left: -10px;
    margin-right: -10px;
    margin-top: 30px;
}
.top-collection-item {
	width: 33.33%;
    display: inline-block;
	float: left;
}
.top-collection-item-content {
	display: block;
    height: 0;
    padding-bottom: 66%;
    background-size: cover;
    background-color: #e6e6e6;
    position: relative;
    margin: 10px;
	overflow: hidden;
}
.top-collection-item-inner {
	position: absolute;
    bottom: -62px;
    color: #fff;
    background-color: #00000099;
    border-top: 2px solid #fff;
    transition: all 0.3s linear;
	width: 100%;
}
.top-collection-item:hover .top-collection-item-inner {
	bottom: 0px;
}
.top-collection-item-inner .top-collection-title {
	display: block;
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    font-size: 24px;
    line-height: 1;
    color: #fff;
    font-weight: 600;
}
@media screen and (min-width:600px) {
	.top-collection-item-inner .top-collection-title {
		height: calc( 2em + 40px );
		position: relative;
	}
	.top-collection-item-inner .top-collection-title > span {
		width: 100%;
		display: block;
		padding: 0px 20px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
.top-collection-item-inner .top-collection-description {
	display: block;
    text-align: center;
    margin: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5;
    height: 3em;
}
@media only screen and (max-width:991px) {
.top-collection-item {
	width: 50%;
}
}
.top-collection-item-inner.mobile {
	display: none;
}
@media only screen and (max-width:600px) {
.top-collection-item {
	width: 100%;
}
.top-collection-item-content {
	margin-bottom: 0px;
}
.top-collection-item-inner {
	display: none;
}
.top-collection-item-inner.mobile {
	display: block;
    position: unset;
    margin: 0px 10px;
    border-top: 0px;;
    padding-bottom: 20px;
	width: calc( 100% - 20px );
}
}
</style>