<!-- /templates/page.blogs.liquid -->
{% assign featuredBlogs = 'news,how-to' | split:',' %}
{% section 'page-blogs-background' %}

<div class="blog-theme">
<header class="section-header">
    <div class="container">
      <div class="wrapper">
        <div class="grid">
            <div class="breadcrumbs">{% include 'breadcrumb' %}</div>
        </div>
     </div>
    </div>
    <div class="section-title grid--full text-center">
         <h1 class="text-center">The Lighting Outlet Blog</h1>
            {% for featuredBlog in featuredBlogs %}
				<a style="font-size:18px;color:#fff;padding-right:2px" href="/blogs/{{featuredBlog}}">#{{featuredBlog}}</a>
			{% endfor %}
	</div>
	<div class="container">
		<div class="wrapper">
			<div class="grid">
				<div class="sm-wrap">
				</div><!-- end .section-title -->
			</div>
		</div>
	</div>
</header>


{% paginate blogs[featuredBlog].articles by 5 %}
{% comment %}
  This template is also used for listing out articles of a specific tag.
  You can change layouts or styles by checking if current_tags is true.
{% endcomment %}

    {% comment %}
      Loop through each article in your blog. This is limited to what you set for pagination above.

      For more info on article liquid tags:
        - http://docs.shopify.com/themes/liquid-variables/article
    {% endcomment %}
  
  	{% assign featuredArticles = false %}
  
  
  	{% for featuredBlog in featuredBlogs %}
        {% if blogs[featuredBlog].articles %}
            {% if featuredArticles %}
                {% assign featuredArticles = featuredArticles | concat:blogs[featuredBlog].articles %}
            {% else %}
                {% assign featuredArticles = blogs[featuredBlog].articles %}
            {% endif %}
        {% endif %}
    {% endfor %}
  
  	{% assign featuredArticles = featuredArticles | sort:'published_at' | reverse %}

<div class="container wide main-container">
    <div class="articles-wrap blog-wrapper">
           {% for article in featuredArticles %}
          
          <div class="postWrapper col-md-12">
            <div class="postTitle col-md-4">
              <h3>
                <a href="{{ article.url }}"> 
                  {% if settings.language_enable %}
                  <span class="lang1">{{ article.title | split: '|' | first }}</span>
                  <span class="lang2">{{ article.title | split: '|' | last }}</span>
                  {% else %}
                  {{ article.title | split: '|' | first }}
                  {% endif %}
                </a>
              </h3> 

                   <div class="meta">
                       {% if article.url contains 'news' %}
						{% assign cat = 'News' %}
                       {% else if article.url contains 'how-to' %}
						{% assign cat = 'How To' %}
                       {% else %}
                       {% assign cat = 'Null' %}

                       {% endif %}
                       <a href="/blogs/{{ cat | handleize }}"><span>#{{ cat }}</span></a>
                   </div>
					
              <div class="postDetails">
			    {% comment %}
                <a href="{{ article.url }}#Comments" {% if settings.language_enable %}data-translate="blogs.comments.comments_with_count|count:{{article.comments_count}}"{%endif%}>
                  {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                </a> | 
				{% endcomment %}
                {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
                {% capture date %}
                <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                  {{ article.published_at | date: format: 'month_day_year' }}
                </time>
                {% endcapture %} 
                <span class="blog_author" {% if settings.language_enable %}data-translate="blogs.article.author_on_date_html|date:{{date}},author:{{author}}" translate-item="blog-date-author"{%endif%}>
                  {{ 'blogs.article.author_on_date_html' | t: date: date, author: author }}        
                </span>
              </div>
            </div> 
            <div class="postContent col-md-4">
              {% if article.excerpt contains '<img' %}
              <div class="excerpt img-responsive">
                <a href="{{ article.url }}">
                  {{ article.excerpt | truncatewords: 60 }}
                </a>
              </div>
              {% elsif article.excerpt contains '<iframe' %}
              <div class="excerpt video-responsive">
                {{ article.excerpt | truncatewords: 60 }}
              </div> 
              {% endif %} 
              {% if settings.language_enable %}
              <span class="lang1">{{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 60 }}</span>
              <span class="lang2">{{ article.content | strip_html | split: '[lang2]' | last | truncatewords: 60 }}</span>
              {% else %}
              {{ article.content | strip_html | split: '[lang2]' | first | truncatewords: 60 }}
              {% endif %} 
            </div> 
            <div class="article__grid-image col-md-4">
              {{ article | img_url: 'master' | img_tag: article.title }}
            </div>
            <!--
			<a class="btn-button" href="{{ article.url }}" {% if settings.language_enable %}data-translate="blogs.article.read_more"{% endif %}>{{ 'blogs.article.read_more' | t }} &rarr;</a> 
			-->
          </div>

       {% endfor %}
      </div><!-- end .articles-wrap -->
    </div><!-- end .container -->
    <div class="pagination">
       {% if paginate.pages > 1 %}
      <div class="wrapper-full pagination-container">
        {% include 'pagination-custom' %}
      </div>
        {% endif %}
    </div>
    {% endpaginate %}
</div><!-- end  .blog-theme -->

{% include 'zipmoney' %}