{% include 'breadcrumb' %}
<div class="container">
  <div class="page">
    <div class="title">
      <h2> 
        {% if settings.language_enable %}
        <span class="lang1">{{ page.title | split: '|' | first }}</span>
        <span class="lang2">{{ page.title | split: '|' | last }}</span>
        {% else %}
        {{ page.title | split: '|' | first }}
        {% endif %}
      </h2>
    </div>
    <div class="page_content"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ page.content | split: '' | first }}</div>
      <div class="lang2">{{ page.content | split: '|' | last }}</div>
      {% else %}
      {{ page.content | split: '|' | first }}
      {% endif %}
    </div>
    {% if customer %}
    <ul class="wishlist-items">
      <li class="head">
        <ul>
          <li class="col-1 hidden-xs" {% if settings.language_enable %}data-translate="wish_list.general.image"{% endif %}>{{'wish_list.general.image' | t}}</li>
          <li class="col-2" {% if settings.language_enable %}data-translate="wish_list.general.item"{% endif %}>{{'wish_list.general.item' | t}}</li>
          <li class="col-3" {% if settings.language_enable %}data-translate="wish_list.general.price"{% endif %}>{{'wish_list.general.price' | t}}</li>
          <li class="col-4"></li> 
        </ul>
      </li>
      <li class="tbody">
        <ul>
        {% for tag in customer.tags %}
        {% assign the_test = '' %}
        {% capture tagID %}{{ tag }}{% endcapture %}
        {% for tag in customer.tags %}
        {% capture curTag %}{{ tag }}{% endcapture %}
        {% if curTag contains tagID %}
        {% assign tagID_tmp = tagID.size | minus:curTag.size %}
        {% if tagID_tmp == 0 %}
        {% assign the_test = tagID %}
        {% else %}
        {% assign the_test = '' %}
        {% endif %}
        {% endif %}
        {% endfor %}	

        {% for collection in collections %}
        {% paginate collection.products by collection.all_products_count %}
        {% for product in collection.products %}
        {% capture productID %}{{ product.id }}{% endcapture %}
        {% unless used contains productID %}
        {% assign check = tag.size | minus:productID.size | modulo:2 %}
        {% if check == 0 %}{% assign display_product = true %}{% else %}{% assign display_product = false %}{% endif %}
        {% if display_product and the_test contains productID %}
        
        {% assign variant_tmp = product.selected_or_first_available_variant  %}
        {% for variant in product.variants %}
        {% if variant.available == true and variant.price < variant_tmp.price %}
        {% assign variant_tmp = variant %}	
        {% endif %}
        {% endfor %}
        <li class="item">
          <ul>
            <li class="col-1 hidden-xs">
              <a href="{{product.url | within: collection}}" class="product-image">
                <img src="{{product.featured_image | product_img_url:'medium'}}" alt="{{product.title}}" />
              </a>
            </li>
            <li class="col-2">
              <a href="{{product.url | within: collection}}" class="product-image visible-xs">
                <img src="{{product.featured_image | product_img_url:'medium'}}" alt="{{product.title}}" />
              </a>
              <a href="{{product.url | within: collection}}" class="product-title mtop"> 
                {% if settings.language_enable %}
                <span class="lang1">{{ product.title | split: '|' | first }}</span>
                <span class="lang2">{{ product.title | split: '|' | last }}</span>
                {% else %}
                {{ product.title | split: '|' | first }}
                {% endif %}
                {% if product.variants.size > 1 %} - {{variant_tmp.title}}{% endif %}
              </a>
            </li>
            <li class="col-3"><div class="product-price"><span class="money">{{product.price | money}}</span></div></li>
            <li class="col-4">
              <div class="action">
                <div class="wishlist">
                  {% form 'customer' %}	
                  <input type='hidden' name='contact[email]' value='{{ customer.email }}'/>
                  <input type='hidden' name='contact[tags]' id='remove-value' value='x{{ tagID }}' />
                  <button type="submit" class="remove-wishlist"><i class="fa fa-close"></i></button>
                  {% endform %}
                </div> |
                <div class="addtocart">
                  {% if product.available %}
                  <form action="/cart/add" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="quantity" value="1" />
                    <input type="hidden" name="id" value="{{variant_tmp.id}}" />
                    <button type="submit" class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                  </form>
                  {% else %}
                  <a href="{{ product.url }}" class=""><i class="fa fa-shopping-cart"></i></a>
                  {% endif %}
                </div>
                </div>
            </li> 
          </ul>
        </li>
        {% capture used %}{{ productID }} {{ used }}{% endcapture %}
        {% endif %}
        {% endunless %}
        {% endfor %}
        {% endpaginate %}
        {% endfor %}
        {% endfor %}
        </ul>
      </li>
    </ul>
    {% if settings.allow_share_wishlist %}
    {% capture subject %}My%20{{ shop.name | replace: ' ','%20' }}%20Wish%20List{% endcapture %}
    {% capture body %}I&rsquo;ve%20added%20the%20following%20items%20to%20my%20wish%20list%20at%20{{ shop.name | replace: ' ','%20' }}{% endcapture %}
    {% capture body %}{{ body }}{% for tag in customer.tags %}{% assign the_test = '' %}{% capture tagID %}{{ tag }}{% endcapture %}{% for tag in customer.tags %}{% capture curTag %}{{ tag }}{% endcapture %}{% if curTag contains tagID %}{% assign tagID_tmp = tagID.size | minus:curTag.size %}{% if tagID_tmp == 0 %}{% assign the_test = tagID %}{% else %}{% assign the_test = '' %}{% endif %}{% endif %}{% endfor %}{% for collection in collections %}{% paginate collection.products by collection.all_products_count %}{% for p in collection.products %}{% capture pID %}{{ p.id }}{% endcapture %}{% unless email_used contains pID %}{% assign check = tag.size | minus:productID.size | modulo:2 %}{% if check == 0 %}{% assign display_product = true %}{% else %}{% assign display_product = false %}{% endif %}{% if display_product and the_test contains pID %}%0A%0A{{ p.title | replace: ' ','%20' }}%3A%20%20{{ shop.url }}{{ p.url }}{% capture email_used %}{{ pID }} {{ email_used }}{% endcapture %}{% endif %}{% endunless %}{% endfor %}{% endpaginate %}{% endfor %}{% endfor %}{% endcapture %}		{% capture body %}{{ body }}{% for tag in customer.tags %}{% assign the_test = '' %}{% capture tagID %}{{ tag }}{% endcapture %}{% for tag in customer.tags %}{% capture curTag %}{{ tag }}{% endcapture %}{% if curTag contains tagID %}{% assign tagID_tmp = tagID.size | minus:curTag.size %}{% if tagID_tmp == 0 %}{% assign the_test = tagID %}{% else %}{% assign the_test = '' %}{% endif %}{% endif %}{% endfor %}{% for collection in collections %}{% paginate collection.products by collection.all_products_count %}{% for p in collection.products %}{% capture pID %}{{ p.id }}{% endcapture %}{% unless email_used contains pID %}{% assign check = tag.size | minus:productID.size | modulo:2 %}{% if check == 0 %}{% assign display_product = true %}{% else %}{% assign display_product = false %}{% endif %}{% if display_product and the_test contains pID %}%0A%0A{{ p.title | replace: ' ','%20' }}%3A%20%20{{ shop.url }}{{ p.url }}{% capture email_used %}{{ pID }} {{ email_used }}{% endcapture %}{% endif %}{% endunless %}{% endfor %}{% endpaginate %}{% endfor %}{% endfor %}{% endcapture %}		{% capture body %}{{ body }}{% for tag in customer.tags %}{% assign the_test = '' %}{% capture tagID %}{{ tag }}{% endcapture %}{% for tag in customer.tags %}{% capture curTag %}{{ tag }}{% endcapture %}{% if curTag contains tagID %}{% assign tagID_tmp = tagID.size | minus:curTag.size %}{% if tagID_tmp == 0 %}{% assign the_test = tagID %}{% else %}{% assign the_test = '' %}{% endif %}{% endif %}{% endfor %}{% for collection in collections %}{% paginate collection.products by collection.all_products_count %}{% for p in collection.products %}{% capture pID %}{{ p.id }}{% endcapture %}{% unless email_used contains pID %}{% assign check = tag.size | minus:productID.size | modulo:2 %}{% if check == 0 %}{% assign display_product = true %}{% else %}{% assign display_product = false %}{% endif %}{% if display_product and the_test contains pID %}%0A%0A{{ p.title | replace: ' ','%20' }}%3A%20%20{{ shop.url }}{{ p.url }}{% capture email_used %}{{ pID }} {{ email_used }}{% endcapture %}{% endif %}{% endunless %}{% endfor %}{% endpaginate %}{% endfor %}{% endfor %}{% endcapture %}
    <a href='mailto:?subject={{ subject }}&amp;body={{ body }}'><i class="fa fa-envelope-o"></i> {{'wish_list.general.note' | t}}</a>
    {% endif %}
    {% else %}
    <p>
      <span {% if settings.language_enable %}data-translate="wish_list.general.to_create_a_wishlist_please"{% endif %}>{{'wish_list.general.to_create_a_wishlist_please' | t}}</span>
      <a href='/account/login' {% if settings.language_enable %}data-translate="wish_list.general.login"{% endif %}>{{'wish_list.general.login' | t}}</a> 
      <span {% if settings.language_enable %}data-translate="wish_list.general.or"{% endif %}>{{'wish_list.general.or' | t}} </span>
      <a href='/account/register' {% if settings.language_enable %}data-translate="wish_list.general.register"{% endif %}>{{'wish_list.general.register' | t}}</a>.
    </p>
    {% endif %}
  </div>
</div>