<!-- /templates/page.liquid -->
{% include 'breadcrumb' %}
<div class="container"> 
  <div class="page-container"> 
    <h1> 
      {% if settings.language_enable %}
      <span class="lang1">{{ page.title | split: '|' | first }}</span>
      <span class="lang2">{{ page.title | split: '|' | last }}</span>
      {% else %}
      {{ page.title | split: '|' | first }}
      {% endif %}
    </h1> 
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ page.content | split: '|' | first }}</div>
      <div class="lang2">{{ page.content | split: '|' | last }}</div>
      {% else %}
      {{ page.content | split: '|' | first }}
      {% endif %}
    </div> 
  </div> 
</div>
{% include 'zipmoney' %}