<!-- /templates/page.liquid -->
{% include 'breadcrumb' %}



<div class="container"> 
  <div class="page-container"> 
    <h1> 
      {% if settings.language_enable %}
      <span class="lang1">{{ page.title | split: '|' | first }}</span>
      <span class="lang2">{{ page.title | split: '|' | last }}</span>
      {% else %}
      {{ page.title | split: '|' | first }}
      {% endif %}
    </h1> 
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ page.content | split: '|' | first }}</div>
      <div class="lang2">{{ page.content | split: '|' | last }}</div>
      {% else %}
      {{ page.content | split: '|' | first }}
      {% endif %}
    </div> 

  </div> 

</div>

<img src="//cdn.shopify.com/s/files/1/2129/3845/files/C_Users_Mitchell_AppData_Local_Packages_Microsoft.SkypeApp_kzf8qxf38zg5c_LocalState_9004425c-713c-4c42-b691-73b48fd4bdbd.jpg?12748156086996544797" alt="" style="display: block; margin-left: auto; margin-right: auto;" width="100%" height="100%" />













{% include 'zipmoney' %}