<!-- /templates/page.liquid -->
<div class="custom-collection-wrapper">
  
  <div class="collection-heading">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading {% if page.metafields.col_page.col_background == blank %}{% else %} colimagebg{% endif %}" style="background: url('{{ page.metafields.col_page.col_background }}') no-repeat scroll center top rgba(0, 0, 0, 0);">
            <div class="wrapper main-content {% if page.metafields.subtext.page_subtext == blank %} without_subtext{% endif %}" role="main">
                <h1 class="title">{{ page.title }}</h1>              

              {% if page_description == blank %}{% else %}
              <div class="desc">
                {{ page_description }}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="product-collections">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="listproductcollection product-collection-wrapper"> 
            {% for link in linklists[settings.product_linklist2].links %}
            <li>  
              <div class="inner">
                {% comment %}{{ collections[link.handle].image | img_url: "large" | img_tag: collections[link.handle].title }}{% endcomment %}
                <img src="{{ link.object.image.src | collection_img_url: 'large' }}" alt="{{ link.object.title | escape  }}" />
                <div class="inner-content">
                  <div class="productcollections">
                    <!--<span class="icon1" style="background-image:url('{{ link.object.metafields.instruction.menuimage }}');"></span>-->
                    <span class="product-collection-title">{{ link.object.title }}</span>
                    <span class="product-collection-des">{{ link.object.description | strip_html | truncate: 140 }}</span>
                    <span class="linkproductcollection"><a href="{{ link.url }}" class="see-more">See More</a></span>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</div>
