<!-- /templates/page.contact.liquid -->
{% include 'breadcrumb' %}






<div class="container">
	<div class="row">
      <div class="col-sm-12">
        <h1> 
          {% if settings.language_enable %}
          <span class="lang1">{{ page.title | split: '|' | first }}</span>
          <span class="lang2">{{ page.title | split: '|' | last }}</span>
          {% else %}
          {{ page.title | split: '|' | first }}
          {% endif %}
        </h1> 
        <hr>
      </div>
      
      <div class="contact-container col-sm-6">  
        
       <div class="row">
      <div class="col-sm-12 contact">
       
          <h3>Contact Us</h3>
       <ul>
         {% for link in linklists.contact-us.links %}
           <li>{{ link.title | link_to: link.url }}</li>
           {% endfor %}
       </ul>
       
      </div> 
        
        
	<div class="col-sm-12 contact-info">        
      <div class="tab-pane" id="product_tabs_custom_3">
        <div class="product-tabs-content-inner clearfix"> 
          {% if settings.language_enable %}
          <span class="lang1">{{ settings.tab_custom_content_3 | split: '|' | first }}</span>
          <span class="lang2">{{ settings.tab_custom_content_3 | split: '|' | last }}</span>
          {% else %}
          {{ settings.tab_custom_content_3 | split: '|' | first }}
          {% endif %}

        </div>
      </div> 
	</div>
        </div>
        
        
        {% comment %}
        <div class="col-sm-6 map">
        {% if settings.google_map_enable != blank %}
        <div class="block-googlemap">
       <!--  {% if settings.google_map_adv_styling_enable != blank %}
         <div class="map-styles-array" style="display: none;">
        	{{ settings.google_map_adv_styling }}
         </div>
        {% endif %}
        {% if settings.google_map_control %}
  		 {% assign enable_control = 'yes' %}
		  {% else %}
		  {% assign enable_control = 'no' %}
		  {% endif %}
  		 <div class="map-canvas" data-center-lat="" data-center-lng="" data-zoom="{{ settings.google_map_zoom }}" data-controls="{{ enable_control }}" data-maptype="{{ settings.google_map_type }}" data-mapcolor="" data-mapsaturation="{{ settings.google_map_saturation }}" style="width: 100%; height: {{ settings.google_map_height }}px;"></div>
 		 <div class="pin_location" data-title="" data-pinlink="{{ settings.google_map_pin_link }}" data-pinimage="{{ 'google_map_pin_image.png' | asset_url }}" data-address="{{ settings.google_map_address }}" data-content="{{ settings.google_map_text }}" data-lat="{{ settings.google_map_pin_latitude }}" data-lng="{{ settings.google_map_pin_longitude }}" data-button-text="{{ settings.google_map_pin_button_text }}"></div> -->
<!-- 	    <iframe src="https://www.google.com/maps/d/embed?mid=1Tc9NDvi37xZ-nrt2VjQxJ2-ibjI" width="100%" height="351"></iframe> -->
<!--               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.706694882345!2d151.17668131521094!3d-33.89720698064841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b036d1f01e1d%3A0xb8c5d33beadf6398!2sLove+Luggage!5e0!3m2!1sen!2sin!4v1448278540219" width="100%" height="351" frameborder="0" scrolling="no" style="border:0;pointer-event:none;" allowfullscreen></iframe> -->
         <img class="map_left_img" src="{{ 'google_map_image.jpg' | asset_url }}">  
        </div> 

       {% endif %}
        </div>
        {% endcomment %}
        
        {% comment %}
        <div class="col-sm-3">
          <div class="address-page">
            <span><p>The Lighting Outlet<br>
               2/133-137 Beauchamp Rd,<br>
              Matraville<br>
              Sydney<br>
              2036    <br>
              <a href="tel: 0296663838"> 02 9666 3838</a></p>
            </span>

          </div>
        </div>  
        {% endcomment %}
        
        
      </div>
      
      <div class="col-sm-6 contact_frm">
        <div class=" form-center">
        <div class="title-wrap">
            <h3 class="text-heading"> 
              {% if settings.language_enable %}
              <span class="lang1">{{ settings.contact_form_titlee | split: '|' | first }}</span>
              <span class="lang2">{{ settings.contact_form_title | split: '|' | last }}</span>
              {% else %}
              {{ settings.contact_form_title | split: '|' | first }}
              {% endif %}
            </h3>
          </div>
          <div class="form-vertical">
            {% form 'contact' %}  
            {% if form.posted_successfully? %}
            <p class="note form-success" {% if settings.language_enable %}data-translate="contact.form.post_success"{% endif %}>
              {{ 'contact.form.post_success' | t }}
            </p>
            {% endif %} 
            {{ form.errors | default_errors }}

            {% assign name_attr = 'contact.form.name' | t | handle %}
            <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
            <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

            <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
            <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

            {% assign name_attr = 'contact.form.phone' | t | handle %}
            <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
            <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

            <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input type="submit" class="btn-button right" {% if settings.language_enable %}data-translate="contact.form.send"{% endif %} value="{{ 'contact.form.send' | t }}">

            {% endform %}
          </div>
        </div>
      </div>
  </div>
</div>
