<!-- /templates/product.liquid --> 
{% assign variant_tmp = product.selected_or_first_available_variant | default: product.variants.first %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% comment %}{% include 'breadcrumb' %} {% endcomment %}

<div class="product-name top-product-detail custom_mob hidden-xs">
  <h1>
    <a href="{{ product.url }}"> 
      {% if settings.language_enable %}
      <span class="lang1">{{ product.title | split: '|' | first }}</span>
      <span class="lang2">{{ product.title | split: '|' | last }}</span>
      {% else %}
      {{ product.title | split: '|' | first }}
      {% endif %}
    </a>

  </h1> 
  <span class="product-vendor"><a href="/collections/{{ product.vendor }}">{{ product.vendor }}</a></span>

</div>

<div class="product-main">     
  <div class="container">
    <div class="row">
      <div class="product-view product">
         <div class="product-name top-product-detail clearfix">
           <div class="col-md-12">
                <h2>
                  <a href="{{ product.url }}"> 
                    {% if settings.language_enable %}
                    <span class="lang1">{{ product.title | split: '|' | first }}</span>
                    <span class="lang2">{{ product.title | split: '|' | last }}</span>
                    {% else %}
                    {{ product.title | split: '|' | first }}
                    {% endif %}
                  </a>
                </h2> 
                <span class="product-vendor"><a href="{{shop.url}}/collections/{{product.vendor | handleize }}">{{ product.vendor }}</a></span>
           </div>
              </div>
        <div class="product-essential clearfix">
          <div class="product-img-box col-sm-8">
          	<div class="product-img-list">
              {% for product_tag in product.tags %}
          	{% assign item_tag = product_tag | capitalize %}
            {% if item_tag contains 'Casual' %}	   
               <span class="tag"><img src="https://cdn.shopify.com/s/files/1/1246/4601/t/27/assets/casual.jpg" /></span>                
            {% endif %}
            {% if item_tag contains 'Frequent' %}
               <span class="tag"><img src="https://cdn.shopify.com/s/files/1/1246/4601/t/27/assets/frequent.jpg" /></span>
            {% endif %}
          {% endfor %}
              {% include 'media' %}
            </div>
          </div>
          <div class="product-shop col-md-4 col-sm-4">
            <div class="product-shop-wrapper">
<!--               <div class="product-prev-next nav-wrapper pull-right">  
                {% if collection %}
                  {% if collection.previous_product or collection.next_product %} 
                    {% if collection.previous_product %}
                    <a href="{{ collection.previous_product }}" class="product-prev"><i class="fa fa-angle-left"></i></a> 
                    {% endif %}
                    {% if collection.next_product %}
                    <a href="{{ collection.next_product }}" class="product-next"><i class="fa fa-angle-right"></i></a> 
                    {% endif %} 
                  {% endif %}
                {% endif %}
              </div> -->
              
              <div class="middle-product-detail">
                  {% if product.metafields.c_f.product_size != blank or product.metafields.c_f.product_weight != blank or product.metafields.c_f.product_capacity != blank %}
                 
                  {% else %}
                  <div class="custom-no-table">
                  <div class="row no-data-table">
                  {% endif %}
                
                  
<!--                 <div class="review-product-details">
                	<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div> -->
                  {% if product.metafields.c_f.product_size != blank or product.metafields.c_f.product_weight != blank or product.metafields.c_f.product_capacity != blank %}
                  <div class="row">
                  {% else %}
                  <div class="price-table">
                  {% endif %}
               
                <div class="product-type-data">
                  <span class="love-price">Sale Price</span>
                  <div class="price-box"> 
                    <div id="price" class="detail-price" itemprop="price"> 
                      
                      <div class="price">{{ variant_tmp.price | money }}</div> 
                     {% comment %}
                      {%  if product.tags contains 'Free Shipping' %}
                      <div class="free-ship">{{ "free-ship1.png" | asset_url |img_tag }}Free Shipping</div>
                      {% endif %}
                     {% endcomment %}
                     
                      
                      
                    </div>
                    <meta itemprop="priceCurrency" content="{{ shop.currency }}" /> 
                    {% if product.available %}
                    <link itemprop="availability" href="http://schema.org/InStock" />
                    {% else %}
                    <link itemprop="availability" href="http://schema.org/OutOfStock" />
                    {% endif %}
                  </div>
                </div>
                  
                  {% if variant_tmp.compare_at_price > variant_tmp.price %}
                  <div class="old-price-section text-center">
                    <span class="rrp-text">RRP</span><s class="old-price"> {{ variant_tmp.compare_at_price | money }}</s>
                    </div>
                      <!--span class="price_percentage">-{{ variant_tmp.compare_at_price | minus: variant_tmp.price | times: 100.0 | divided_by: variant_tmp.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span-->
                      {% endif %}
                  
                  
                
                    </div>
                 <div class="row">
                   <div class="col-md-12">
                     	{%  if product.tags contains 'Preorder' or product.tags contains 'preorder' %}
                     		<div class="pre-order-tag">
                              	Pre-Order and lock in this sale price.
                                  Shipped 3rd Jan 2017. Call store for details.
                     </div>
                     	{% else %}
                          {% if product.available %}
                            <div class="stock-green">
                                <span>{{ 'products.product.in_stock' | t }}</span> Next business day dispatch
                            </div>
                          {% else %}
                            <div class="stock-red">
                                                             <span>{{ 'products.product.out_stock' | t }}</span>
                            </div>
                          {% endif %}
                                    		{% endif %}
                   </div>
                   <div class="col-md-12">
                    {%  if product.tags contains 'Free Shipping' %}
                      <div class="free-ship">Free Shipping {{ "free-ship1.png" | asset_url |img_tag }}</div>
                      {% endif %}
                  </div>
                </div>
                    <div class="row">
                {% if product.metafields.c_f.product_size != blank or product.metafields.c_f.product_weight != blank or product.metafields.c_f.product_capacity != blank %}
                  <div class="col-md-12">
                    <table class="table-content">
                      {{ product.metafields.product.capacity }}
                      {% if product.metafields.c_f.product_size != blank %}
                        <tr><td align="center"><img src="https://cdn.shopify.com/s/files/1/1246/4601/t/25/assets/icon-size.png"></td><td>Size: <span>{{ product.metafields.c_f.product_size}}</span></td></tr>
                      {% endif %}
                      {% if product.metafields.c_f.product_weight != blank %}
                        <tr><td align="center"><img src="https://cdn.shopify.com/s/files/1/1246/4601/t/25/assets/icon-weight.png"></td><td>Weight: <span>{{ product.metafields.c_f.product_weight}}</span></td></tr>
                      {% endif %}
                      {% if product.metafields.c_f.product_capacity != blank %}
                        <tr><td align="center"><img src="https://cdn.shopify.com/s/files/1/1246/4601/t/25/assets/icon-capacity.png"></td><td>Capacity: <span>{{ product.metafields.c_f.product_capacity}}</span></td></tr>
                      {% endif %}
                    </table>
                  </div>
                    {% else %}
                    </div>
                {% endif %} 
					<div class="col-md-12 text-center">
                    {% if product.metafields.c_f.product_size != blank or product.metafields.c_f.product_weight != blank or product.metafields.c_f.product_capacity != blank %}
                    <div class="product-share"> 
                    {% else %}
                      <div class="product-share  no-data-table"> 
                    {% endif %}
                  <div class="sf-share-counts">
                    <h3 class="share-text">{{ 'products.product.share' | t }}</h3>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ permalinkURL }}&amp;height=640&amp;width=660&amp;resizable=0&amp;toolbar=0&amp;menubar=0&amp;status=0&amp;location=0&amp;scrollbars=0" class="sf-share-link sf-share-fb"><i class="fa fa-facebook"></i><span class="count animate">0</span></a>
                    <a href="http://twitter.com/share?text=Plain Backpack&amp;url={{ permalinkURL }}&amp;height=640&amp;width=660&amp;resizable=0&amp;toolbar=0&amp;menubar=0&amp;status=0&amp;location=0&amp;scrollbars=0" class="sf-share-link sf-share-twit"><i class="fa fa-twitter"></i><span class="count animate">0</span></a>
                    <a href="http://pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media={{ featured_image | product_img_url:'grande' }}&amp;description=Plain Backpack&amp;height=640&amp;width=660&amp;resizable=0&amp;toolbar=0&amp;menubar=0&amp;status=0&amp;location=0&amp;scrollbars=0" class="sf-share-link sf-share-pin"><i class="fa fa-pinterest"></i><span class="count animate">0</span></a>
                  </div>
                </div>
                  </div>
                
                </div>
                </div>
                
                
                    
                <form class="product-form" id="product-form" action="/cart/add" method="post" enctype="multipart/form-data" data-product-id="{{product.id}}" data-id="{{ product.handle }}"> 
                  <div id="product-variants" class="product-options" {% if product.options.size == 1 and product.options.first == 'Title' %}style="display: none;"{% endif %}> 
                    <select id="product-select" name="id" style="display: none;">
                      {% for variant in product.variants %}
                      {% if variant.available %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                      {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - {{'products.product.sold_out' | t}}
                      </option>
                      {% endif %}
                      {% endfor %}
                    </select> 
                  </div> 
                  <div class="product-options-bottom"> 
                    <div class="add-to-cart-box cart_style">
                      <div class="row">
                       {% if product.available %} 
                        <div class="col-md-12">
                          <div class="input-box ">
                            <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                            <span class="qty">{{ 'products.product.qty' | t }}</span>
                            <div class="reduced items" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) result.value--;return false;">
                              <i class="fa fa-minus"></i>
                            </div>
                            <input type="text" id="qty" name="quantity" value="1" min="1" class="quantity-selector"> 
                            <div class="increase items" onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                              <i class="fa fa-plus"></i>
                            </div>
                          </div>
                        </div> 
                       {% endif %}
                      <div class="col-md-12">  
                          <div class="actions">
                            <div class="action-list addtocart">
                              <div class="button-wrapper">
                                <div class="icon_bag_alt"></div> 
                                {% if product.available %}
                                <button type="submit" name="add" class="btn-cart add-to-cart">
                                  <span>
                                    <span {% if settings.language_enable %}data-translate="products.product.add_to_cart"{% endif %}>{{ 'products.product.add_to_cart' | t }}</span>
                                  </span>
                                </button> 
                                {% else %}
                                <a href="javascript:;" class="btn-cart">
                                  <span>
                                    <span {% if settings.language_enable %}data-translate="products.product.sold_out"{% endif %}>{{ 'products.product.sold_out' | t }}</span>
                                  </span>
                                </a>  
                                {% endif %}
                              </div>
                            </div>
                            <div class="action-list wishlist wishlist-{{product.id}}">
                              {% include 'wishlist-item'%}
                            </div>
                          </div>
                        </div>
                      </div>
                     </div>
                  </div>
                </form>
                
                  <!-- zipmoney widgets -->
					{% include 'zipmoney' %}
					<!-- <a style="font-size: 13px" id="shopify-prod-calc" data-zm-widget="repaycalc" data-zm-amount="20" ></a> <span style="cursor: pointer; color: grey; font-size: 11px;" class="zip-learnmore" data-zm-widget="popup" data-zm-popup-asset="termsdialog"> More info »</span>
					<!-- end zipmoney widgets -->
                
                
<!--                 <div class="short-description-detail">
                  <div class="short-description"> 
                    {% if settings.language_enable %}
                    <span class="lang1">{{ product.description | strip_html | split: '[lang2]' | first | truncatewords: 50 }}</span>
                    <span class="lang2">{{ product.description | strip_html | split: '[lang2]' | last | truncatewords: 50 }}</span>
                    {% else %}
                    {{ product.description | strip_html | split: '[lang2]' | first | truncatewords: 50 }}
                    {% endif %}
                  </div>
                </div>  -->
              </div>
            
             
              
              
               
            </div>
          
        </div>
        <div class="product-collateral"> 
          <div class="col-md-5">
         {% if settings.product_rtl_blocks_enable %}
                  <div class="reason_div">
                    <h3>{{ settings.product_rtl_title }}</h3>
                   <ul>{{ settings.product_rtl_desc }}</ul>
                    
                    <div class="product-type-main">
                  <div class="row">
                <!-- {% if settings.product_button_link != blank %}
                  <div class="col-md-5 col-sm-6 col-xs-6">	
                    <a onclick="goto_contact_tab();" class="contact-btn" href="{{ settings.product_button_link }}" >{{ settings.product_button_text }}</a>
                  </div>
                {% endif %} -->
                    {% if settings.product_share_enable != blank %}
                {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
                 <div class="col-md-12"> 
                   <div class="zip-pay"> <span style="cursor: pointer" id="zip-widg-popup" class="promo-img-hold"  data-zm-asset="cartwidget"  data-zm-widget="popup"  data-zm-popup-asset="termsdialog"></span></div>
               
                    </div>
                {% endif %}
 
              </div>
                  </div>
                    
                {% comment %}    {% if settings.product_blocks_enable %}
              <div class="ad-col-trust">
                 
                  <div class="ad-col-trust-inner ">
<!--                     <a href="https://{{ settings.price_match_link }}" target="_blank"> -->
                      <div class="ad-col-trust-image"> {{ 'firstp-image.png' | asset_url | img_tag }}</div>
                      <p><span>{{ settings.Firsttext }}</span></p>
                      <p><span class="trust-mobilies">{{ settings.Secondtext }}</span> </p>
<!--                     </a> -->
                  </div>
                  
                 
                  <div class="ad-col-trust-inner">
<!--                     <a href="https://{{ settings.customer_support_link }}" target="_blank"> -->
                     <div class="ad-col-trust-image"> {{ 'firstp1-image.png' | asset_url | img_tag }}</div>
                      <p><span>{{ settings.Firsttext1 }}</span></p>
                      <p><span class="trust-mobilies"> {{ settings.Secondtext1 }}</span></p>
<!--                     </a> -->
                  </div>


                  <div class="ad-col-trust-inner">
<!--                     <a href="https://{{ settings.location_link }}" target="_blank"> -->
                      <div class="ad-col-trust-image">{{ 'firstp2-image.png' | asset_url | img_tag }}</div>
                      <p><span>{{ settings.Firsttext2 }}</span></p>
                      <p><span class="trust-mobilies">{{ settings.Secondtext2 }} <br> </span></p>
<!--                     </a>  -->
                  </div>
                 
                </div>  
                  {% endif %} {% endcomment %}
                  </div>
                {% endif %}
        </div>
          <div class="col-md-7">
           <div class="product-description rte" itemprop="description">
            {% include 'product-page-tab' %}
          </div>           
          </div>
          
         </div>
        <div class="products-related">
        	{% include 'related-products' %}
        </div>
      </div>  
    </div>
  </div>
</div>
<script>
  productsObj.id{{product.id}} = {{product | json}};
  
  function goto_contact_tab() {
    if($('header .container-fluid.inner.ad-brd-mnu').hasClass('sticky')) {
      $('html,body').animate({ scrollTop: $(".product-view .product-collateral").offset().top},1000);
      $('.product-view .product-collateral ul li:nth-child(4) a').click();
    } else {
      $('html,body').animate({ scrollTop: $(".product-view .product-collateral").offset().top - 100},1000);
      $('.product-view .product-collateral ul li:nth-child(4) a').click();
    }
  }
  
  //h6 p span strong
  var page = $('.product-tabs-content-inner h6:contains("Reasons To Love"),.product-tabs-content-inner p:contains("Reasons To Love"),.product-tabs-content-inner span:contains("Reasons To Love"),.product-tabs-content-inner strong:contains("Reasons To Love")');
  page.addClass('custom-current');

</script>
{% assign variant = product.variants.first %}
{% if variant.inventory_quantity <= 0  %}
<style>
.product-view .product-options-bottom .add-to-cart-box .button-wrapper span {
    background-color: #d73333;
}
.product-view .product-options-bottom .add-to-cart-box .button-wrapper{
 background-color: #d73333;
}
 .actions .add-to-links li a.link-wishlist{
 background-color: #d73333;
}
.template-product .product-view .add-to-links li a:before
  {
   border-right: 1px solid #fff;
  }
</style>
{% endif %}

            
      
{% assign current_variant = product.selected_or_first_available_variant %}

<div id="richsnippet">
  <div itemscope itemtype="http://schema.org/Product">
  
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">  
    <meta itemprop="name" content="{{ product.title | escape }}">  
    <meta itemprop="description" content="{{ product.description | strip_html }}">  
 	{% if product.vendor %}<meta itemprop="brand" content="{{ product.vendor }}">{% endif %}
    
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer"> 
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <meta itemprop="price" content="{{ current_variant.price | money_without_currency }}">
      <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
      <meta itemprop="seller" content="{{ shop.domain }}">
      
    </div>
    
  </div>    
</div>