<!-- /templates/search.liquid --> 
{% paginate search.results by 48 %} 
<div class="container">
  <div class="main-search-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="search-form">
          {% if search.performed %}
          {% if search.results_count == 0 %}
          <h3 class="text-center" {% if settings.language_enable %}data-translate="general.search.no_results_html|terms:{{search.terms}}"{% endif %}>{{ 'general.search.no_results_html' | t: terms: search.terms }}</h3>
          {% else %}
          <h3 class="text-center" {% if settings.language_enable %}data-translate="general.search.results_for_html|terms:{{search.terms}}"{% endif %}>{{ 'general.search.results_for_html' | t: terms: search.terms }}</h3>
          {% endif %}
          {% else %}
          <h3 class="text-center" {% if settings.language_enable %}data-translate="general.search.title"{% endif %}>{{ 'general.search.title' | t }}</h3>
          {% endif %} 
          {% include 'search-bar' %}
        </div>
      </div>
      {% if search.performed %} 
      <div class="col-sm-12"> 
        <div class="row">
          <div class="category-products">
            <div id="products" class="products-grid grid-product-masonry">
              {% if search.results.size > 0 %}  
              {% for product in search.results %}
              <div class="item product col-sm-3">  
                {% include 'product-grid-item' %} 
              </div>  
              {% endfor %} 
              {% endif %}
            </div>
          </div>
        </div> 
        {% if paginate.pages > 1 %} 
        <div class="pagenav-wrap">
          <div class="pagination-search">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '<i class="fa fa-angle-left"></i>' | replace: 'Next &raquo;', '<i class="fa fa-angle-right"></i>' }}
          </div>
        </div>
        {% endif %} 
      </div>
      {% endif %} 
    </div>
  </div>
</div> 
{% endpaginate %} 